USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__count__74BBA3B9]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__regio__73C77F80]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__prefe__72D35B47]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__produ__71DF370E]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__harmo__70EB12D5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__descr__6FF6EE9C]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTIF__name__6F02CA63]
GO
/****** Object:  Table [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]
GO
/****** Object:  Table [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[doc_certificate_of_origin_id] [bigint] NOT NULL,
	[name] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[harmonize_code] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[producer] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[preference_criterion] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[regional_value_content] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[country_of_origin] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__DOC_CERT__3213E83F6D1A81F1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_CERTIFICATE_OF_ORIGIN_PRODUCTS] TO  SCHEMA OWNER 
GO
