USE [appdata]
GO
/****** Object:  Table [dbo].[DOC_LOG]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_LOG]
GO
/****** Object:  Table [dbo].[DOC_LOG]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_LOG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_LOG](
	[SERIAL_N] [numeric](10, 0) NOT NULL,
	[FY] [varchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_N] [numeric](10, 0) NULL,
	[DOC_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ACTION_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ENTRY_D] [datetime] NULL,
	[ENTRY_T] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_DOC_LOG] PRIMARY KEY NONCLUSTERED 
(
	[SERIAL_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_LOG] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[DOC_LOG] TO [public] AS [dbo]
GO
