USE [appdata]
GO
/****** Object:  Table [dbo].[PORT_PROVINCE_BACKUP]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[PORT_PROVINCE_BACKUP]
GO
/****** Object:  Table [dbo].[PORT_PROVINCE_BACKUP]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PORT_PROVINCE_BACKUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PORT_PROVINCE_BACKUP](
	[UNLOCODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CITYNAME] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROVINCE] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_PORT_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[UNLOCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[PORT_PROVINCE_BACKUP] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[PORT_PROVINCE_BACKUP] TO [public] AS [dbo]
GO
