USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__addre__6A3E1546]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__addre__6949F10D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__addre__6855CCD4]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__addre__6761A89B]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__addre__666D8462]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__addre__65796029]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTIF__name__64853BF0]
GO
/****** Object:  Table [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]
GO
/****** Object:  Table [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[doc_certificate_of_origin_id] [bigint] NOT NULL,
	[entity_type_id] [bigint] NOT NULL,
	[name] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address_line_1] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address_line_2] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address_line_3] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address_line_4] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address_line_5] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address_line_6] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__DOC_CERT__3213E83F629CF37E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_CERTIFICATE_OF_ORIGIN_ENTITIES] TO  SCHEMA OWNER 
GO
