USE [appdata]
GO
/****** Object:  Table [dbo].[COSCO_CARRIER_ID]    Script Date: 3/14/2018 6:12:00 AM ******/
DROP TABLE IF EXISTS [dbo].[COSCO_CARRIER_ID]
GO
/****** Object:  Table [dbo].[COSCO_CARRIER_ID]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COSCO_CARRIER_ID]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COSCO_CARRIER_ID](
	[country_id] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[carrier_id] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_COSCO_CARRIER_ID] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC,
	[carrier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[COSCO_CARRIER_ID] TO  SCHEMA OWNER 
GO
