USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__STATU__774DF7A1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__DBL_S__7659D368]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__SOLD___7565AF2F]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__SHIPP__74718AF6]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__LOCAL__737D66BD]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__DISTR__72894284]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__POSTA__71951E4B]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__FF_AG__70A0FA12]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__STAGI__6FACD5D9]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__WM_AC__6EB8B1A0]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__DELIV__6DC48D67]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__PGI_D__6CD0692E]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__ACTUA__6BDC44F5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__ASN_D__6AE820BC]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__LOADI__69F3FC83]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__EST_T__68FFD84A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__BL_NU__680BB411]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__BOOKI__67178FD8]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__VOYAG__66236B9F]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__VESSE__652F4766]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__SHIPP__643B232D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__SHIPM__6346FEF4]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__VGM_W__6252DABB]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__TARE___615EB682]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__NET_W__606A9249]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__GROSS__5F766E10]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__QUANT__5E8249D7]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__PORT___5D8E259E]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__DESTI__5C9A0165]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__STORA__5BA5DD2C]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__SEAL___5AB1B8F3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__PRODU__59BD94BA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__PRODU__58C97081]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__SHIPP__57D54C48]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__CONTA__56E1280F]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__BATCH__55ED03D6]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__SHIPM__54F8DF9D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__ORDER__5404BB64]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__PURCH__5310972B]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__SALES__521C72F2]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__CREAT__51284EB9]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
ALTER TABLE [dbo].[PACKING_LIST_DATA] DROP CONSTRAINT IF EXISTS [DF__PACKING_L__DELIV__50342A80]
GO
/****** Object:  Table [dbo].[PACKING_LIST_DATA]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[PACKING_LIST_DATA]
GO
/****** Object:  Table [dbo].[PACKING_LIST_DATA]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PACKING_LIST_DATA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PACKING_LIST_DATA](
	[DELIVERY_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_ON] [datetime] NULL,
	[SALES_DOC_NO] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PURCHASE_ORDER_NO] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDER_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPMENT_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BATCH_NO] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONTAINER_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPING_TYPE] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PRODUCT_ID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PRODUCT_DESCRIPTION] [varchar](2500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SEAL_NO] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STORAGE_LOCATION] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DESTINATION] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PORT_OF_LOADING] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[QUANTITY] [numeric](9, 3) NULL,
	[GROSS_WEIGHT] [numeric](9, 3) NULL,
	[NET_WEIGHT] [numeric](9, 3) NULL,
	[TARE_WEIGHT] [decimal](9, 3) NULL,
	[VGM_WEIGHT] [numeric](9, 3) NULL,
	[SHIPMENT_MODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPING_LINE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VESSEL_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VOYAGE_NUMBER] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BOOKING_NUMBER] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BL_NUMBER] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EST_TIME_DEPARTURE] [datetime] NULL,
	[LOADING_DATE] [datetime] NULL,
	[ASN_DATE] [datetime] NULL,
	[ACTUAL_TIME_DEPARTURE] [datetime] NULL,
	[PGI_DATE] [datetime] NULL,
	[DELIVERY_DATE] [datetime] NULL,
	[WM_ACTIVITY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STAGING_AREA] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FF_AGENT_NAME] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[POSTAL_CODE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DISTRIBUTION] [numeric](5, 0) NULL,
	[LOCAL_AGENT_CODE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPED_TO_PARTY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SOLD_TO_PARTY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DBL_STATUS] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATUS] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ENTRY_DATE] [datetime] NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK__PACKING___3214EC274E4BE20E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[PACKING_LIST_DATA] TO  SCHEMA OWNER 
GO
