USE [appdata]
GO
/****** Object:  Table [dbo].[CURRENCY_DAILY_RATE]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[CURRENCY_DAILY_RATE]
GO
/****** Object:  Table [dbo].[CURRENCY_DAILY_RATE]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CURRENCY_DAILY_RATE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CURRENCY_DAILY_RATE](
	[CURRENCY_EX_RATE_D] [datetime] NOT NULL,
	[CURRENCY_BASE_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FROM_CURRENCY] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TO_CURRENCY] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CURRENCY_DAILY_RATE] [numeric](11, 4) NOT NULL,
	[USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ENTRY_D] [datetime] NULL,
 CONSTRAINT [PK_CURRENCY_DAILY_RATE] PRIMARY KEY NONCLUSTERED 
(
	[CURRENCY_EX_RATE_D] ASC,
	[CURRENCY_BASE_IND] ASC,
	[FROM_CURRENCY] ASC,
	[TO_CURRENCY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[CURRENCY_DAILY_RATE] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[CURRENCY_DAILY_RATE] TO [public] AS [dbo]
GO
