USE [appdata]
GO
/****** Object:  Table [dbo].[INVOICE_PROFORMA_DETAILS]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[INVOICE_PROFORMA_DETAILS]
GO
/****** Object:  Table [dbo].[INVOICE_PROFORMA_DETAILS]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_PROFORMA_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INVOICE_PROFORMA_DETAILS](
	[DOC_HEAD_NO] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SCC_REF_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SCC_REF_TYPE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_TITLE] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_CREATION_DT] [datetime] NULL,
	[INVOICE_NO] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INVOICE_DATE] [datetime] NULL,
	[SHIPPER_REFERENCE_NO] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ELITE_REF_NO] [varchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PLACE_OF_RECEIPT] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[POL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[POD] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PLACE_OF_DEL] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PRICE_TERMS_POD] [varchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILLTO_ADD1] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILLTO_ADD2] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILLTO_ADD3] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILLTO_ADD4] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILLTO_ADD5] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILLTO_ADD6] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPTO_ADD1] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPTO_ADD2] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPTO_ADD3] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPTO_ADD4] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPTO_ADD5] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPTO_ADD6] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPER_ADD1] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPER_ADD2] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPER_ADD3] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPER_ADD4] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPER_ADD5] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPER_ADD6] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TOT_PACKAGES] [numeric](10, 0) NULL,
	[TOT_CONTAINERS] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROD_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COUNTRY_ORIGIN] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UNIT_PRICE] [numeric](10, 0) NULL,
	[TOT_AMOUNT] [numeric](10, 0) NULL,
	[TERMS] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__INVOICE___BA3FE9EE30516AD3] PRIMARY KEY CLUSTERED 
(
	[DOC_HEAD_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[INVOICE_PROFORMA_DETAILS] TO  SCHEMA OWNER 
GO
