USE [appdata]
GO
/****** Object:  Table [dbo].[SOW_JOBS_MASTER]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[SOW_JOBS_MASTER]
GO
/****** Object:  Table [dbo].[SOW_JOBS_MASTER]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SOW_JOBS_MASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SOW_JOBS_MASTER](
	[row_id] [int] NOT NULL,
	[CUST_ID] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUST_ORD_NO] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EXPORT_N_DT] [numeric](19, 0) NOT NULL,
	[EXPORT_REF_N_DT] [numeric](19, 0) NULL,
	[HBL_N] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_id] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EXPORT_N_HD] [numeric](19, 0) NOT NULL,
	[entry_d] [datetime] NULL,
 CONSTRAINT [PK__SOW_JOBS__D2EB9A61094CAC4B] PRIMARY KEY CLUSTERED 
(
	[EXPORT_N_HD] ASC,
	[EXPORT_N_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[SOW_JOBS_MASTER] TO  SCHEMA OWNER 
GO
