USE [appdata]
GO
/****** Object:  Table [dbo].[NC_CATEGORY_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[NC_CATEGORY_MAST]
GO
/****** Object:  Table [dbo].[NC_CATEGORY_MAST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NC_CATEGORY_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NC_CATEGORY_MAST](
	[NC_CATE_CODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NC_CATE_DESC] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CREATE_D] [datetime] NULL,
	[USER_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [NC_CATEG_PK] PRIMARY KEY CLUSTERED 
(
	[NC_CATE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[NC_CATEGORY_MAST] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[NC_CATEGORY_MAST] TO [public] AS [dbo]
GO
