USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND type in (N'U'))
ALTER TABLE [dbo].[INVOICE_DET] DROP CONSTRAINT IF EXISTS [FK_INVOICE_DET_INVOICE_N]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND type in (N'U'))
ALTER TABLE [dbo].[INVOICE_DET] DROP CONSTRAINT IF EXISTS [DF__INVOICE_D__LINE___49459F21]
GO
/****** Object:  Index [IX_INVOICE_DET_CHG_ID]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [IX_INVOICE_DET_CHG_ID] ON [dbo].[INVOICE_DET]
GO
/****** Object:  Index [invoice_det_idx2]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [invoice_det_idx2] ON [dbo].[INVOICE_DET]
GO
/****** Object:  Index [invoice_det_idx1]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [invoice_det_idx1] ON [dbo].[INVOICE_DET]
GO
/****** Object:  Index [I_InvoiceDetChgcodeId2]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [I_InvoiceDetChgcodeId2] ON [dbo].[INVOICE_DET]
GO
/****** Object:  Index [I_InvoiceDetChgcodeId]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [I_InvoiceDetChgcodeId] ON [dbo].[INVOICE_DET]
GO
/****** Object:  Index [_dta_index_INVOICE_DET_c_7_354100302__K2_K15]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [_dta_index_INVOICE_DET_c_7_354100302__K2_K15] ON [dbo].[INVOICE_DET] WITH ( ONLINE = OFF )
GO
/****** Object:  Table [dbo].[INVOICE_DET]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[INVOICE_DET]
GO
/****** Object:  Table [dbo].[INVOICE_DET]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INVOICE_DET](
	[FY] [varchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[INVOICE_N] [numeric](10, 0) NOT NULL,
	[INV_LINE_N] [numeric](10, 0) NOT NULL,
	[CHGCODE_ID] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CHG_DES1] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CHG_DES2] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CHG_DES3] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CHG_DES4] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LINE_GST_TYPE] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LINE_WT_M3_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LINE_UNIT_Q] [numeric](11, 4) NOT NULL,
	[LINE_UNIT_CHG_A] [numeric](12, 4) NOT NULL,
	[LINE_CHG_UNIT] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LINE_EX_RATE] [numeric](11, 5) NOT NULL,
	[LINE_GST_P] [numeric](11, 3) NOT NULL,
	[LINE_GST_A] [numeric](11, 2) NOT NULL,
	[LINE_TOT_A] [numeric](11, 2) NOT NULL,
	[LINE_TOT_GST_A] [numeric](11, 2) NOT NULL,
	[LINE_CURRENCY] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[INVOICE_DET] ADD [LINE_EX_RATE_USER_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[INVOICE_DET] ADD [LINE_EX_RATE_ENTRY_D] [datetime] NULL
ALTER TABLE [dbo].[INVOICE_DET] ADD [LINE_COST_CENTRE] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[INVOICE_DET] ADD [trn_voucher_n] [numeric](10, 0) NULL
ALTER TABLE [dbo].[INVOICE_DET] ADD [trn_environment] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[INVOICE_DET] ADD [linechgunit_desc] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
 CONSTRAINT [PK_INVOICE_DET] PRIMARY KEY NONCLUSTERED 
(
	[FY] ASC,
	[INVOICE_N] ASC,
	[INV_LINE_N] ASC,
	[CHGCODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[INVOICE_DET] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[INVOICE_DET] TO [public] AS [dbo]
GO
/****** Object:  Index [_dta_index_INVOICE_DET_c_7_354100302__K2_K15]    Script Date: 3/14/2018 6:12:01 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND name = N'_dta_index_INVOICE_DET_c_7_354100302__K2_K15')
CREATE CLUSTERED INDEX [_dta_index_INVOICE_DET_c_7_354100302__K2_K15] ON [dbo].[INVOICE_DET]
(
	[INVOICE_N] ASC,
	[LINE_GST_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [I_InvoiceDetChgcodeId]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND name = N'I_InvoiceDetChgcodeId')
CREATE NONCLUSTERED INDEX [I_InvoiceDetChgcodeId] ON [dbo].[INVOICE_DET]
(
	[CHGCODE_ID] ASC
)
INCLUDE ( 	[INVOICE_N],
	[LINE_TOT_A]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [I_InvoiceDetChgcodeId2]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND name = N'I_InvoiceDetChgcodeId2')
CREATE NONCLUSTERED INDEX [I_InvoiceDetChgcodeId2] ON [dbo].[INVOICE_DET]
(
	[INVOICE_N] ASC,
	[CHGCODE_ID] ASC
)
INCLUDE ( 	[LINE_TOT_A]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [invoice_det_idx1]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND name = N'invoice_det_idx1')
CREATE NONCLUSTERED INDEX [invoice_det_idx1] ON [dbo].[INVOICE_DET]
(
	[CHGCODE_ID] ASC,
	[LINE_COST_CENTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [invoice_det_idx2]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND name = N'invoice_det_idx2')
CREATE NONCLUSTERED INDEX [invoice_det_idx2] ON [dbo].[INVOICE_DET]
(
	[INVOICE_N] ASC,
	[CHGCODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INVOICE_DET_CHG_ID]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]') AND name = N'IX_INVOICE_DET_CHG_ID')
CREATE NONCLUSTERED INDEX [IX_INVOICE_DET_CHG_ID] ON [dbo].[INVOICE_DET]
(
	[CHGCODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_INVOICE_DET_INVOICE_N]') AND parent_object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]'))
ALTER TABLE [dbo].[INVOICE_DET]  WITH NOCHECK ADD  CONSTRAINT [FK_INVOICE_DET_INVOICE_N] FOREIGN KEY([FY], [INVOICE_N])
REFERENCES [dbo].[INVOICE] ([FY], [INVOICE_N])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_INVOICE_DET_INVOICE_N]') AND parent_object_id = OBJECT_ID(N'[dbo].[INVOICE_DET]'))
ALTER TABLE [dbo].[INVOICE_DET] CHECK CONSTRAINT [FK_INVOICE_DET_INVOICE_N]
GO
