USE [appdata]
GO
/****** Object:  Table [dbo].[DRIVER_TRAINING_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DRIVER_TRAINING_MAST]
GO
/****** Object:  Table [dbo].[DRIVER_TRAINING_MAST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DRIVER_TRAINING_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DRIVER_TRAINING_MAST](
	[TRAINING_ID] [numeric](10, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DRIVER_ID] [decimal](18, 0) NOT NULL,
	[JOINING_DT] [datetime] NOT NULL,
	[TRAINED_BY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TRAINING_START_DT] [datetime] NULL,
	[TRAINING_END_DT] [datetime] NULL,
	[REMARKS] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_BY] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_DT] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LAST_UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK__DRIVER_TRAINING___553674BA] PRIMARY KEY CLUSTERED 
(
	[TRAINING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DRIVER_TRAINING_MAST] TO  SCHEMA OWNER 
GO
