USE [appdata]
GO
/****** Object:  Table [dbo].[RECEIPT]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[RECEIPT]
GO
/****** Object:  Table [dbo].[RECEIPT]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RECEIPT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RECEIPT](
	[RECEIPT_N] [numeric](10, 0) NOT NULL,
	[RECEIPT_YM] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RECEIPT_D] [datetime] NULL,
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUST_NAME] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROVIDE_FOR] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BANK_NAME] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CURRENCY_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EX_RATE] [numeric](11, 4) NULL,
	[PAY_A] [numeric](11, 2) NULL,
	[ENTRY_D] [datetime] NULL,
	[USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CHQ_N] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PREPARD_BY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CHQ_DT] [datetime] NULL,
	[CHQ_AMT] [numeric](10, 4) NULL,
	[CASH_AMT] [numeric](10, 4) NULL,
	[EXPORT_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[RECEIPT] ADD [COST_CENTRE_C] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
 CONSTRAINT [PK_RECEIPT] PRIMARY KEY NONCLUSTERED 
(
	[RECEIPT_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[RECEIPT] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[RECEIPT] TO [public] AS [dbo]
GO
