USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVINCE_MAST]') AND type in (N'U'))
ALTER TABLE [dbo].[PROVINCE_MAST] DROP CONSTRAINT IF EXISTS [DF__PROVINCE___VALID__471D5F8D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVINCE_MAST]') AND type in (N'U'))
ALTER TABLE [dbo].[PROVINCE_MAST] DROP CONSTRAINT IF EXISTS [DF__PROVINCE___COUNT__46293B54]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVINCE_MAST]') AND type in (N'U'))
ALTER TABLE [dbo].[PROVINCE_MAST] DROP CONSTRAINT IF EXISTS [DF__PROVINCE___COUNT__4535171B]
GO
/****** Object:  Table [dbo].[PROVINCE_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[PROVINCE_MAST]
GO
/****** Object:  Table [dbo].[PROVINCE_MAST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVINCE_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROVINCE_MAST](
	[COUNTRYCODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[COUNTRYNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PROVINCE] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [PK_PROVINCE_MAST] PRIMARY KEY NONCLUSTERED 
(
	[PROVINCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[PROVINCE_MAST] TO  SCHEMA OWNER 
GO
