USE [appdata]
GO
/****** Object:  Table [dbo].[CUSTOMER_PAYMT]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[CUSTOMER_PAYMT]
GO
/****** Object:  Table [dbo].[CUSTOMER_PAYMT]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_PAYMT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMER_PAYMT](
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LINE_N] [numeric](10, 0) NOT NULL,
	[DOC_ID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PAY_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CURRENCY_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PAY_D] [datetime] NOT NULL,
	[PAY_A] [numeric](11, 2) NOT NULL,
	[EX_RATE] [numeric](11, 4) NOT NULL,
	[PAY_A_LOCAL] [numeric](11, 2) NOT NULL,
	[USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_PAYMT] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[LINE_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[CUSTOMER_PAYMT] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[CUSTOMER_PAYMT] TO [public] AS [dbo]
GO
