USE [appdata]
GO
/****** Object:  Table [dbo].[ACC_PARTY]    Script Date: 3/14/2018 6:12:00 AM ******/
DROP TABLE IF EXISTS [dbo].[ACC_PARTY]
GO
/****** Object:  Table [dbo].[ACC_PARTY]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACC_PARTY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ACC_PARTY](
	[PARTY_CODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MAST_CODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_PARTY] PRIMARY KEY NONCLUSTERED 
(
	[PARTY_CODE] ASC,
	[MAST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[ACC_PARTY] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[ACC_PARTY] TO [public] AS [dbo]
GO
