USE [appdata]
GO
/****** Object:  Table [dbo].[INTTRA_DOC_REMARKS]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[INTTRA_DOC_REMARKS]
GO
/****** Object:  Table [dbo].[INTTRA_DOC_REMARKS]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INTTRA_DOC_REMARKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INTTRA_DOC_REMARKS](
	[MSG_SEQ_N] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REM_TYPE_ID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REM_TEXT] [varchar](8000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[severity] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_INTTRA_DOC_REMARKS] PRIMARY KEY CLUSTERED 
(
	[MSG_SEQ_N] ASC,
	[REM_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[INTTRA_DOC_REMARKS] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[INTTRA_DOC_REMARKS] TO [public] AS [dbo]
GO
