USE [appdata]
GO
/****** Object:  Table [dbo].[DOC_INVOICE_PROFORMA_PROD_DETAIL_SABIC]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_INVOICE_PROFORMA_PROD_DETAIL_SABIC]
GO
/****** Object:  Table [dbo].[DOC_INVOICE_PROFORMA_PROD_DETAIL_SABIC]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_INVOICE_PROFORMA_PROD_DETAIL_SABIC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_INVOICE_PROFORMA_PROD_DETAIL_SABIC](
	[DOC_HEAD_NO] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SCC_REF_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SCC_REF_TYPE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROD_NAME] [varchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NET_WT] [numeric](17, 3) NULL,
	[UNIT_PRICE] [numeric](17, 2) NULL,
	[TOT_AMOUNT] [numeric](17, 2) NULL,
	[GOODS_DESC] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TOT_PACKAGES] [numeric](10, 0) NULL,
	[PACK_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WT_UOM] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CURRENCY_CD] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_INVOICE_PROFORMA_PROD_DETAIL_SABIC] TO  SCHEMA OWNER 
GO
