USE [appdata]
GO
/****** Object:  Trigger [TRG_IP_JOBS_UPDATED]    Script Date: 3/14/2018 6:11:58 AM ******/
DROP TRIGGER IF EXISTS [dbo].[TRG_IP_JOBS_UPDATED]
GO
/****** Object:  Table [dbo].[IMPORT_PRODUCT]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[IMPORT_PRODUCT]
GO
/****** Object:  Table [dbo].[IMPORT_PRODUCT]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IMPORT_PRODUCT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IMPORT_PRODUCT](
	[PROD_IMPORT_N] [numeric](10, 0) NOT NULL,
	[PROD_LINE_N] [numeric](10, 0) NOT NULL,
	[PROD_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PROD_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROD_DESC] [varchar](300) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[IMPORT_PRODUCT] ADD [HARMONIZE_CODE] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[IMPORT_PRODUCT] ADD [PACK_TYPE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[IMPORT_PRODUCT] ADD [UNIT_PRICE] [numeric](11, 3) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[IMPORT_PRODUCT] ADD [UNIT_PRICE_UOM] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[IMPORT_PRODUCT] ADD [CURRENCY_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[IMPORT_PRODUCT] ADD [INVOICE_N] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[IMPORT_PRODUCT] ADD [INVOICE_DT] [datetime] NULL
ALTER TABLE [dbo].[IMPORT_PRODUCT] ADD [FREIGHT_AMT] [numeric](15, 4) NULL
 CONSTRAINT [PK_IMPORT_PRODUCT] PRIMARY KEY NONCLUSTERED 
(
	[PROD_IMPORT_N] ASC,
	[PROD_LINE_N] ASC,
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[IMPORT_PRODUCT] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[IMPORT_PRODUCT] TO [public] AS [dbo]
GO
