USE [appdata]
GO
/****** Object:  Table [dbo].[JOBS_UPDATE_HISTORY_TEMP]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[JOBS_UPDATE_HISTORY_TEMP]
GO
/****** Object:  Table [dbo].[JOBS_UPDATE_HISTORY_TEMP]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JOBS_UPDATE_HISTORY_TEMP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JOBS_UPDATE_HISTORY_TEMP](
	[JOB_N] [numeric](10, 0) NOT NULL,
	[JOB_TYPE] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[UPD_DT] [datetime] NULL,
 CONSTRAINT [PK_JOBS_UPDATE_HISTORY_TEMP] PRIMARY KEY CLUSTERED 
(
	[JOB_N] ASC,
	[JOB_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[JOBS_UPDATE_HISTORY_TEMP] TO  SCHEMA OWNER 
GO
