USE [appdata]
GO
/****** Object:  Table [dbo].[GL_GST_TYPE]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[GL_GST_TYPE]
GO
/****** Object:  Table [dbo].[GL_GST_TYPE]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GL_GST_TYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GL_GST_TYPE](
	[GST_TYPE] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[GST_SRC] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GST_DESC] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GST_PER] [numeric](3, 2) NULL,
 CONSTRAINT [SYS_C0052355] PRIMARY KEY NONCLUSTERED 
(
	[GST_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[GL_GST_TYPE] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[GL_GST_TYPE] TO [public] AS [dbo]
GO
