USE [appdata]
GO
/****** Object:  Table [dbo].[VGM_CONTACT_DEFAULT]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[VGM_CONTACT_DEFAULT]
GO
/****** Object:  Table [dbo].[VGM_CONTACT_DEFAULT]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VGM_CONTACT_DEFAULT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VGM_CONTACT_DEFAULT](
	[parentAcctid] [int] NOT NULL,
	[cust_id] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[contact_id] [numeric](10, 0) NOT NULL,
 CONSTRAINT [PK_VGM_CONTACT_DEFAULT] PRIMARY KEY CLUSTERED 
(
	[parentAcctid] ASC,
	[cust_id] ASC,
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[VGM_CONTACT_DEFAULT] TO  SCHEMA OWNER 
GO
