USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_MAST]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_MAST] DROP CONSTRAINT IF EXISTS [DF_DOC_MAST_DOC_FULLSET_PRINT_ORDER]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_MAST]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_MAST] DROP CONSTRAINT IF EXISTS [DF__DOC_MAST__CREATE__4959E263]
GO
/****** Object:  Table [dbo].[DOC_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_MAST]
GO
/****** Object:  Table [dbo].[DOC_MAST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_MAST](
	[DOC_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DOC_NAME] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PARENT_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_DEFAULT_TITLE] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_LINK] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_SHORT_NAME] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_TEMPLATE] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_GROUP_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_FULLSET_PRINT_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_DOC_MAST] PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_MAST] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[DOC_MAST] TO [public] AS [dbo]
GO
