USE [appdata]
GO
/****** Object:  Table [dbo].[CUSTOMER_TRUCK_CONFIG]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[CUSTOMER_TRUCK_CONFIG]
GO
/****** Object:  Table [dbo].[CUSTOMER_TRUCK_CONFIG]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_TRUCK_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMER_TRUCK_CONFIG](
	[TRUCK_ID] [numeric](10, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VENDOR_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TRUCK_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TRUCK_LICENSE_N] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TRUCK_CHASIS_N] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TRUCK_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TRUCK_CAPACITY] [numeric](10, 3) NULL,
	[TRUCK_UOM] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TRUCK_DESC] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_BY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_D] [datetime] NULL,
	[MODIFIED_BY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MODIFIED_D] [datetime] NULL,
	[truck_chg] [decimal](9, 4) NULL,
 CONSTRAINT [PK__CUSTOMER_TRUCK_C__4CA12EB9] PRIMARY KEY CLUSTERED 
(
	[TRUCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[CUSTOMER_TRUCK_CONFIG] TO  SCHEMA OWNER 
GO
