USE [appdata]
GO
/****** Object:  Table [dbo].[CONTAINER_PORT_STATUS]    Script Date: 3/14/2018 6:12:00 AM ******/
DROP TABLE IF EXISTS [dbo].[CONTAINER_PORT_STATUS]
GO
/****** Object:  Table [dbo].[CONTAINER_PORT_STATUS]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CONTAINER_PORT_STATUS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CONTAINER_PORT_STATUS](
	[CONTAINER_NUMBER] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BL_NUMBER] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LINE_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SIZE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VESSEL] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VOYAGE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DCT_REFERENCE_NO] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PORT_ROTATION_NO] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ESTIMATED_ARRIVAL_TIME] [datetime] NULL,
	[ACTUAL_ARRIVAL_TIME] [datetime] NULL,
	[ESTIMATED_DEPARTURE_TIME] [datetime] NULL,
	[ACTUAL_DEPARTURE_TIME] [datetime] NULL,
	[CONTAINER_IN_TIME] [datetime] NULL,
	[CONTAINER_OUT_TIME] [datetime] NULL,
	[CURRENT_STATUS] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONTAINER_STATUS] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ISO_CODE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GROSS_WEIGHT] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UNIT_OF_MEASURE] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LOAD_PORT] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORIGIN] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DESTINATION] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DISCHARGE_PORT] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONTAINER_SERVICE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SERVICE_DATE_MANIFESTED] [datetime] NULL,
	[SERVICE_DATE_TRUCK2YARD] [datetime] NULL,
	[SERVICE_DATE_PREXRAY] [datetime] NULL,
	[SERVICE_DATE_BOOKED_STRIPPPING] [datetime] NULL,
	[SERVICE_DATE_BOOKED_DOOROPEN] [datetime] NULL,
	[SERVICE_DATE_STRIP] [datetime] NULL,
	[SERVICE_DATE_STUFF] [datetime] NULL,
	[SERVICE_DATE_LOAD] [datetime] NULL,
	[NOTES] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[CONTAINER_PORT_STATUS] TO  SCHEMA OWNER 
GO
