USE [appdata]
GO
/****** Object:  Table [dbo].[GL_ACC_GST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[GL_ACC_GST]
GO
/****** Object:  Table [dbo].[GL_ACC_GST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GL_ACC_GST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GL_ACC_GST](
	[AC_CODE] [numeric](20, 4) NOT NULL,
	[GST_TYPE] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[GST_SRC] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[GST_PER] [numeric](3, 2) NULL,
 CONSTRAINT [SYS_C0052345] PRIMARY KEY NONCLUSTERED 
(
	[AC_CODE] ASC,
	[GST_TYPE] ASC,
	[GST_SRC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[GL_ACC_GST] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[GL_ACC_GST] TO [public] AS [dbo]
GO
