USE [appdata]
GO
/****** Object:  Index [MARKING_MULTIPLIER_idx1]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [MARKING_MULTIPLIER_idx1] ON [dbo].[MARKING_MULTIPLIER]
GO
/****** Object:  Table [dbo].[MARKING_MULTIPLIER]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[MARKING_MULTIPLIER]
GO
/****** Object:  Table [dbo].[MARKING_MULTIPLIER]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MARKING_MULTIPLIER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MARKING_MULTIPLIER](
	[product_id] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[net_weight] [decimal](15, 5) NULL,
	[gross_weight] [decimal](15, 5) NULL,
	[m3] [decimal](15, 5) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[MARKING_MULTIPLIER] TO  SCHEMA OWNER 
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [MARKING_MULTIPLIER_idx1]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[MARKING_MULTIPLIER]') AND name = N'MARKING_MULTIPLIER_idx1')
CREATE UNIQUE NONCLUSTERED INDEX [MARKING_MULTIPLIER_idx1] ON [dbo].[MARKING_MULTIPLIER]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
