USE [appdata]
GO
/****** Object:  Table [dbo].[AGENT_RATES]    Script Date: 3/14/2018 6:12:00 AM ******/
DROP TABLE IF EXISTS [dbo].[AGENT_RATES]
GO
/****** Object:  Table [dbo].[AGENT_RATES]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AGENT_RATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AGENT_RATES](
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PORT_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CHG_A] [numeric](11, 2) NOT NULL,
	[USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[CHG_I] [numeric](11, 2) NULL,
	[CHG_C] [numeric](11, 2) NULL,
	[REBATE_I20] [numeric](11, 3) NULL,
	[REBATE_I40] [numeric](11, 3) NULL,
	[REBATE_E20] [numeric](11, 3) NULL,
	[REBATE_E40] [numeric](11, 3) NULL,
	[REMARKS] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_AGENT_RATES] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[AGENT_RATES] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[AGENT_RATES] TO [public] AS [dbo]
GO
