USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PORT_PROVINCE]') AND type in (N'U'))
ALTER TABLE [dbo].[PORT_PROVINCE] DROP CONSTRAINT IF EXISTS [DF__PORT_PROV__VALID__3D93F553]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PORT_PROVINCE]') AND type in (N'U'))
ALTER TABLE [dbo].[PORT_PROVINCE] DROP CONSTRAINT IF EXISTS [DF__PORT_PROV__COUNT__3C9FD11A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PORT_PROVINCE]') AND type in (N'U'))
ALTER TABLE [dbo].[PORT_PROVINCE] DROP CONSTRAINT IF EXISTS [DF__PORT_PROV__COUNT__3BABACE1]
GO
/****** Object:  Table [dbo].[PORT_PROVINCE]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[PORT_PROVINCE]
GO
/****** Object:  Table [dbo].[PORT_PROVINCE]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PORT_PROVINCE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PORT_PROVINCE](
	[COUNTRYCODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[COUNTRYNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PROVINCE] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [PK_PROVINCE] PRIMARY KEY NONCLUSTERED 
(
	[PROVINCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[PORT_PROVINCE] TO  SCHEMA OWNER 
GO
