USE [appdata]
GO
/****** Object:  Table [dbo].[REF_ORDER_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[REF_ORDER_MAST]
GO
/****** Object:  Table [dbo].[REF_ORDER_MAST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REF_ORDER_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[REF_ORDER_MAST](
	[ORDER_N] [numeric](10, 0) NOT NULL,
	[ORDER_TRA_TYPE] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ORDER_REF] [numeric](10, 0) NOT NULL,
	[YARD_ADD1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[YARD_ADD2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[YARD_ADD3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[YARD_ADD4] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ORDER_D] [datetime] NOT NULL,
	[ORDER_REF_NO] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HAULIER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EXT_D] [datetime] NOT NULL,
	[DAY_20] [numeric](5, 0) NOT NULL,
	[AMT_20] [numeric](11, 3) NOT NULL,
	[DAY_40] [numeric](5, 0) NOT NULL,
	[AMT_40] [numeric](11, 3) NOT NULL,
	[AMT_TOT] [numeric](11, 3) NOT NULL,
	[USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[REMARKS1] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REMARKS2] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_REF_ORDER_MAST] PRIMARY KEY NONCLUSTERED 
(
	[ORDER_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[REF_ORDER_MAST] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[REF_ORDER_MAST] TO [public] AS [dbo]
GO
