USE [appdata]
GO
/****** Object:  Table [dbo].[MITSUI_PERMIT_EMAIL]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[MITSUI_PERMIT_EMAIL]
GO
/****** Object:  Table [dbo].[MITSUI_PERMIT_EMAIL]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MITSUI_PERMIT_EMAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MITSUI_PERMIT_EMAIL](
	[export_n] [numeric](10, 0) NOT NULL,
	[custom_job_no] [varchar](14) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[email_ind] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[email_sent_d] [datetime] NULL,
	[row_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MITSUI_PERMIT_EMAIL] PRIMARY KEY CLUSTERED 
(
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[MITSUI_PERMIT_EMAIL] TO  SCHEMA OWNER 
GO
