USE [appdata]
GO
/****** Object:  Table [dbo].[COST_CENTRE_MAST_2015]    Script Date: 3/14/2018 6:12:00 AM ******/
DROP TABLE IF EXISTS [dbo].[COST_CENTRE_MAST_2015]
GO
/****** Object:  Table [dbo].[COST_CENTRE_MAST_2015]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COST_CENTRE_MAST_2015]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COST_CENTRE_MAST_2015](
	[COST_CENTRE_C] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[COST_CENTRE_DES] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[COST_CENTRE_MAST_2015] ADD [yy_cost_centre_c] [varchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[COST_CENTRE_MAST_2015] TO  SCHEMA OWNER 
GO
