USE [appdata]
GO
/****** Object:  Table [dbo].[EXPORT_PRODUCT_EXT]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[EXPORT_PRODUCT_EXT]
GO
/****** Object:  Table [dbo].[EXPORT_PRODUCT_EXT]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXPORT_PRODUCT_EXT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EXPORT_PRODUCT_EXT](
	[PROD_EXPORT_N] [numeric](18, 0) NOT NULL,
	[PROD_LINE_N] [numeric](18, 0) NOT NULL,
	[PROD_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ISOCCODE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NUMBER_OF_CONT] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EXPORT_PRODUCT_EXT] PRIMARY KEY CLUSTERED 
(
	[PROD_EXPORT_N] ASC,
	[PROD_LINE_N] ASC,
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[EXPORT_PRODUCT_EXT] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[EXPORT_PRODUCT_EXT] TO [public] AS [dbo]
GO
