USE [appdata]
GO
/****** Object:  Table [dbo].[INTTRA_DOC_PRODUCTS]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[INTTRA_DOC_PRODUCTS]
GO
/****** Object:  Table [dbo].[INTTRA_DOC_PRODUCTS]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INTTRA_DOC_PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INTTRA_DOC_PRODUCTS](
	[MSG_SEQ_N] [decimal](10, 0) NOT NULL,
	[LINE_N] [decimal](10, 0) NOT NULL,
	[PRODUCT_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PRODUCT_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NET_WT] [decimal](11, 2) NULL,
	[NET_WT_UOM] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GROSS_WT] [decimal](11, 2) NULL,
	[GROSS_WT_UOM] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TOT_PACKAGE] [decimal](11, 2) NULL,
	[PACKAGE_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[product_desc] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_INTTRA_DOC_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[MSG_SEQ_N] ASC,
	[LINE_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[INTTRA_DOC_PRODUCTS] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[INTTRA_DOC_PRODUCTS] TO [public] AS [dbo]
GO
