USE [appdata]
GO
/****** Object:  Table [dbo].[DOC_TAXINVOICE_PACK_DET]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_TAXINVOICE_PACK_DET]
GO
/****** Object:  Table [dbo].[DOC_TAXINVOICE_PACK_DET]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_TAXINVOICE_PACK_DET]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_TAXINVOICE_PACK_DET](
	[PROD_CODE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROD_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDER_NO] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROD_QTY] [numeric](11, 3) NULL,
	[PROD_UNIT] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UNIT_PRICE] [numeric](11, 3) NULL,
	[CUR_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[JOB_NO] [numeric](11, 0) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_TAXINVOICE_PACK_DET] TO  SCHEMA OWNER 
GO
