USE [appdata]
GO
/****** Object:  Table [dbo].[DOC_COLLECTION_ORDER_CLAUSES]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_COLLECTION_ORDER_CLAUSES]
GO
/****** Object:  Table [dbo].[DOC_COLLECTION_ORDER_CLAUSES]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_COLLECTION_ORDER_CLAUSES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_COLLECTION_ORDER_CLAUSES](
	[line_no] [int] NOT NULL,
	[col_desc] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_DOC_COLLECTION_ORDER_CLAUSES] PRIMARY KEY CLUSTERED 
(
	[line_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_COLLECTION_ORDER_CLAUSES] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[DOC_COLLECTION_ORDER_CLAUSES] TO [public] AS [dbo]
GO
