USE [appdata]
GO
/****** Object:  Index [IX_EXPORT_BKG_N]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [IX_EXPORT_BKG_N] ON [dbo].[EXPORT_BKG_DIRECT]
GO
/****** Object:  Index [IX_BKG_MKGS_N]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [IX_BKG_MKGS_N] ON [dbo].[EXPORT_BKG_DIRECT]
GO
/****** Object:  Index [_dta_index_EXPORT_BKG_DIRECT_11_1702297124__K28_K1_K31_63]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [_dta_index_EXPORT_BKG_DIRECT_11_1702297124__K28_K1_K31_63] ON [dbo].[EXPORT_BKG_DIRECT]
GO
/****** Object:  Table [dbo].[EXPORT_BKG_DIRECT]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[EXPORT_BKG_DIRECT]
GO
/****** Object:  Table [dbo].[EXPORT_BKG_DIRECT]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXPORT_BKG_DIRECT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EXPORT_BKG_DIRECT](
	[EXPORT_BKG_DIRECT_N] [numeric](10, 0) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[USER_ID] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SHIPPER_NAME] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SHIPPER_CTC] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SHIPPER_TEL] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SHIPPER_FAX] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SHIPPER_EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AGENT_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CR_AGENT_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DOCUMENTATION_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TRANSPORT_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CARGO_DESC1] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CARGO_DESC2] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REMARKS1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REMARKS2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REMARKS3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REMARKS4] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REMARKS5] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BILLING1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BILLING2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BILLING3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FCL_OR_LCL] [varchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TRANSFER_FLAG] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NO_OF_PKGS] [numeric](10, 0) NOT NULL,
	[WEIGHT] [numeric](11, 3) NOT NULL,
	[M3] [numeric](11, 3) NOT NULL,
	[EXPORT_BKG_N] [numeric](10, 0) NOT NULL,
	[PKGS_TYPE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CANCEL_REM] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CANCEL_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VESSEL] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VOYAGE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ETA_SIN] [datetime] NOT NULL,
	[ETA_POD] [datetime] NOT NULL,
	[PORT_OF_DISC] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BKG_DIRECT_LINE_N] [numeric](10, 0) NOT NULL,
	[BKG_DIRECT_REF_N] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NVOCC_AGENT_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EXPRESS_BL_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TRANS_IMPORT_N] [numeric](10, 0) NULL,
	[STUFF_D] [datetime] NULL,
	[WAREHOUSE_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CR_BKG_REF_N] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ETD] [datetime] NULL,
	[CR_REF_BKG_N] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PO_N] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONT_20] [numeric](10, 0) NULL,
	[CONT_40] [numeric](10, 0) NULL,
	[CONT_45] [numeric](10, 0) NULL,
	[PO_HAULIER] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PO_WAREHOUSE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MARKING] [varchar](2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UP_USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UP_ENTRY_DATE] [datetime] NULL,
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LOT_NO] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BATCH_NO] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUST_ORD_NO] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INV_VALUE_TTL] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARGO_DESC3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CTY_ORIG] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REQ_SHIP_DATE] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONT_NO] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_SHIPPER1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_SHIPPER2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_SHIPPER3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_SHIPPER4] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_SHIPPER5] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_SHIPPER6] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_CONS1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_CONS2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_CONS3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_CONS4] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_NOTIFY1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_NOTIFY2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_NOTIFY3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_NOTIFY4] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OCEAN_FRT_CODE] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BL_DRAFT_PREP] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BL_INSTRUC] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_REMARKS] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LC_NO] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_TP] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_RESP_SEQ] [numeric](5, 0) NULL,
	[EDI_RESP_D] [datetime] NULL,
	[EDI_REC_D] [datetime] NULL,
	[CONFIRM_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_SENDER] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_RECEIVER] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_REVISION] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_REC_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_CONS5] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_CONS6] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_NOTIFY5] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDI_NOTIFY6] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DUP_ORD_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONSIGNEE_REF_N] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUSTOMER_NAME] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NET_WEIGHT] [numeric](11, 3) NULL,
	[BKG_MKGS_N] [numeric](10, 0) NULL,
	[TRADE_TERM] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONTRACT_N] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COUNTRY_DEL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONT_ISO] [numeric](10, 0) NULL,
	[WT_UOM] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PRT_SIG_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LC_DESC] [varchar](2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_SALES_AGENT_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_SALES_AGENT_NAME] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_SALES_AGENT_ADD1] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_SALES_AGENT_ADD2] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_SALES_AGENT_ADD3] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_SALES_AGENT_ADD4] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_SALES_AGENT_ADD5] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_BSNS_UNIT_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_BSNS_UNIT_NAME] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_BSNS_UNIT_ADD1] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_BSNS_UNIT_ADD2] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_BSNS_UNIT_ADD3] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_BSNS_UNIT_ADD4] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [EDI_BSNS_UNIT_ADD5] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [PAYMENT_TERMS] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [TOT_FOB] [numeric](11, 2) NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [QUICK_TRACK_NO] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [CONFIRM_D] [datetime] NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [BOOKED_D] [datetime] NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [MODIFIED_USER] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [MODIFIED_D] [datetime] NULL
ALTER TABLE [dbo].[EXPORT_BKG_DIRECT] ADD [ORDER_RCV_D] [datetime] NULL
 CONSTRAINT [PK_EXP_BKG_DIRECT] PRIMARY KEY CLUSTERED 
(
	[EXPORT_BKG_DIRECT_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[EXPORT_BKG_DIRECT] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[EXPORT_BKG_DIRECT] TO [public] AS [dbo]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [_dta_index_EXPORT_BKG_DIRECT_11_1702297124__K28_K1_K31_63]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EXPORT_BKG_DIRECT]') AND name = N'_dta_index_EXPORT_BKG_DIRECT_11_1702297124__K28_K1_K31_63')
CREATE NONCLUSTERED INDEX [_dta_index_EXPORT_BKG_DIRECT_11_1702297124__K28_K1_K31_63] ON [dbo].[EXPORT_BKG_DIRECT]
(
	[EXPORT_BKG_N] ASC,
	[EXPORT_BKG_DIRECT_N] ASC,
	[CANCEL_IND] ASC
)
INCLUDE ( 	[REQ_SHIP_DATE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BKG_MKGS_N]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EXPORT_BKG_DIRECT]') AND name = N'IX_BKG_MKGS_N')
CREATE NONCLUSTERED INDEX [IX_BKG_MKGS_N] ON [dbo].[EXPORT_BKG_DIRECT]
(
	[BKG_MKGS_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_EXPORT_BKG_N]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EXPORT_BKG_DIRECT]') AND name = N'IX_EXPORT_BKG_N')
CREATE NONCLUSTERED INDEX [IX_EXPORT_BKG_N] ON [dbo].[EXPORT_BKG_DIRECT]
(
	[EXPORT_BKG_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
