USE [appdata]
GO
/****** Object:  Table [dbo].[RECEIPT_DET]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[RECEIPT_DET]
GO
/****** Object:  Table [dbo].[RECEIPT_DET]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RECEIPT_DET]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RECEIPT_DET](
	[RECEIPT_N] [numeric](10, 0) NOT NULL,
	[LINE_N] [numeric](10, 0) NOT NULL,
	[INVOICE_N] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FY] [varchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PORT_LOAD_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PORT_DISC_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HBL_N] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[INV_REF_N] [numeric](10, 0) NOT NULL,
	[VESSEL] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VOYAGE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INV_TRA_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[INV_JOB_N] [numeric](10, 0) NOT NULL,
	[INV_GST_A] [numeric](11, 2) NOT NULL,
	[INV_TOT_A] [numeric](11, 2) NOT NULL,
	[INV_TOT_GST_A] [numeric](11, 2) NOT NULL,
	[INVOICE_TYPE] [char](2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_RECEIPT_DET] PRIMARY KEY NONCLUSTERED 
(
	[RECEIPT_N] ASC,
	[LINE_N] ASC,
	[INVOICE_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[RECEIPT_DET] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[RECEIPT_DET] TO [public] AS [dbo]
GO
