USE [appdata]
GO
/****** Object:  Table [dbo].[EDI_SHIPPER]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[EDI_SHIPPER]
GO
/****** Object:  Table [dbo].[EDI_SHIPPER]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EDI_SHIPPER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EDI_SHIPPER](
	[EDI_SENDER_ID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EDI_RECEIVER_ID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EDI_SENDER_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SHIPPER_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FMS_SHIPPER_ID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[START_D] [datetime] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[EDI_SHIPPER] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[EDI_SHIPPER] TO [public] AS [dbo]
GO
