USE [appdata]
GO
/****** Object:  Table [dbo].[DOC_INVOICE_PROFORMA_ENTRY_SABIC]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_INVOICE_PROFORMA_ENTRY_SABIC]
GO
/****** Object:  Table [dbo].[DOC_INVOICE_PROFORMA_ENTRY_SABIC]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_INVOICE_PROFORMA_ENTRY_SABIC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_INVOICE_PROFORMA_ENTRY_SABIC](
	[DOC_HEAD_NO] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SCC_REF_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SCC_REF_TYPE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_TITLE] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_CREATION_DT] [datetime] NULL,
	[SHIPPER_REFERENCE_NO] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INVOICE_NO] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INVOICE_DATE] [datetime] NULL,
	[BL_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILL_TO_ADD1] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILL_TO_ADD2] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILL_TO_ADD3] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILL_TO_ADD4] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILL_TO_ADD5] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILL_TO_ADD6] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_INVOICE_PROFORMA_ENTRY_SABIC] TO  SCHEMA OWNER 
GO
