USE [appdata]
GO
/****** Object:  Table [dbo].[IMPORT_CONV]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[IMPORT_CONV]
GO
/****** Object:  Table [dbo].[IMPORT_CONV]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IMPORT_CONV]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IMPORT_CONV](
	[ORG_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CNV_IMPORT_N] [numeric](10, 0) NOT NULL,
	[LINE_N] [numeric](18, 0) NOT NULL,
	[VESSEL] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VOYAGE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ETA] [datetime] NULL,
	[ETD] [datetime] NULL,
	[HBL_N] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [SYS_C0052413] PRIMARY KEY NONCLUSTERED 
(
	[ORG_ID] ASC,
	[CNV_IMPORT_N] ASC,
	[LINE_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[IMPORT_CONV] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[IMPORT_CONV] TO [public] AS [dbo]
GO
