USE [appdata]
GO
/****** Object:  Table [dbo].[BT_REASONS]    Script Date: 3/14/2018 6:12:00 AM ******/
DROP TABLE IF EXISTS [dbo].[BT_REASONS]
GO
/****** Object:  Table [dbo].[BT_REASONS]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BT_REASONS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BT_REASONS](
	[Groupings] [int] NOT NULL,
	[Code] [char](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [char](250) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_BT_REASONS] PRIMARY KEY CLUSTERED 
(
	[Groupings] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[BT_REASONS] TO  SCHEMA OWNER 
GO
