USE [appdata]
GO
/****** Object:  Table [dbo].[PRODUCT_CONTAINER_GUIDE_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[PRODUCT_CONTAINER_GUIDE_MAST]
GO
/****** Object:  Table [dbo].[PRODUCT_CONTAINER_GUIDE_MAST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCT_CONTAINER_GUIDE_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUCT_CONTAINER_GUIDE_MAST](
	[PROD_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ALLOWED_WT] [decimal](18, 4) NOT NULL,
	[UOM] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CONT_SIZE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CREATED_BY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_DT] [datetime] NULL,
 CONSTRAINT [PK_PRODUCT_CONTAINER_GUIDE_MAST] PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC,
	[CONT_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[PRODUCT_CONTAINER_GUIDE_MAST] TO  SCHEMA OWNER 
GO
