USE [appdata]
GO
/****** Object:  Table [dbo].[PUBLIC_HOLIDAYS_ALL_ENVI]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[PUBLIC_HOLIDAYS_ALL_ENVI]
GO
/****** Object:  Table [dbo].[PUBLIC_HOLIDAYS_ALL_ENVI]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUBLIC_HOLIDAYS_ALL_ENVI]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PUBLIC_HOLIDAYS_ALL_ENVI](
	[OfficeCode] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Year] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Name] [nchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Remarks] [nchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_PUBLIC_HOLIDAYS_ALL_ENVI] PRIMARY KEY CLUSTERED 
(
	[OfficeCode] ASC,
	[Year] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[PUBLIC_HOLIDAYS_ALL_ENVI] TO  SCHEMA OWNER 
GO
