USE [appdata]
GO
/****** Object:  Table [dbo].[DOC_TRANS_DOCUMENTS_LIST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_TRANS_DOCUMENTS_LIST]
GO
/****** Object:  Table [dbo].[DOC_TRANS_DOCUMENTS_LIST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_TRANS_DOCUMENTS_LIST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_TRANS_DOCUMENTS_LIST](
	[doc_head_no] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[doc_id] [char](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[doc_name] [varchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_DOC_TRANS_DOCUMENTS_LIST] PRIMARY KEY CLUSTERED 
(
	[doc_head_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_TRANS_DOCUMENTS_LIST] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[DOC_TRANS_DOCUMENTS_LIST] TO [public] AS [dbo]
GO
