USE [appdata]
GO
/****** Object:  Index [_dta_index_PORT_MAST_11_594101157__K2_1]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP INDEX IF EXISTS [_dta_index_PORT_MAST_11_594101157__K2_1] ON [dbo].[PORT_MAST]
GO
/****** Object:  Table [dbo].[PORT_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[PORT_MAST]
GO
/****** Object:  Table [dbo].[PORT_MAST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PORT_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PORT_MAST](
	[PORT_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PORT_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REGION_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[COUNTRY_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PORT_TYPE_ID] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[PORT_MAST] ADD [ELITE_OFF] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[PORT_MAST] ADD [PROVINCE] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[PORT_MAST] ADD [customs_port_code] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[PORT_MAST] ADD [cert_type] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
 CONSTRAINT [PK_PORT_MAST] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[PORT_MAST] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[PORT_MAST] TO [public] AS [dbo]
GO
/****** Object:  Index [_dta_index_PORT_MAST_11_594101157__K2_1]    Script Date: 3/14/2018 6:12:02 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PORT_MAST]') AND name = N'_dta_index_PORT_MAST_11_594101157__K2_1')
CREATE NONCLUSTERED INDEX [_dta_index_PORT_MAST_11_594101157__K2_1] ON [dbo].[PORT_MAST]
(
	[PORT_NAME] ASC
)
INCLUDE ( 	[PORT_ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
