USE [appdata]
GO
/****** Object:  Table [dbo].[CUST_PLANT_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[CUST_PLANT_MAST]
GO
/****** Object:  Table [dbo].[CUST_PLANT_MAST]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUST_PLANT_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUST_PLANT_MAST](
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PLANT_CODE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PLANT_DESC] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL_ADDRESS] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_BY] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_DATE] [datetime] NULL,
	[address1] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address2] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address3] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[tel_no] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[permit_email] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__CUST_PLA__85C023162E3E39D8] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[PLANT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[CUST_PLANT_MAST] TO  SCHEMA OWNER 
GO
