USE [appdata]
GO
/****** Object:  Table [dbo].[export_DOCS_SENT_TO_CUST_D]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[export_DOCS_SENT_TO_CUST_D]
GO
/****** Object:  Table [dbo].[export_DOCS_SENT_TO_CUST_D]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[export_DOCS_SENT_TO_CUST_D]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[export_DOCS_SENT_TO_CUST_D](
	[export_n] [numeric](12, 0) NOT NULL,
	[BL_FROM_SSLINE_D] [datetime] NULL,
	[DOCS_SENT_TO_CUST_D] [datetime] NULL,
	[rowid] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [pk_export_DOCS_SENT_TO_CUST_D] PRIMARY KEY NONCLUSTERED 
(
	[rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[export_DOCS_SENT_TO_CUST_D] TO  SCHEMA OWNER 
GO
