USE [appdata]
GO
/****** Object:  Table [dbo].[GL_ACC_PERIOD]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[GL_ACC_PERIOD]
GO
/****** Object:  Table [dbo].[GL_ACC_PERIOD]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GL_ACC_PERIOD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GL_ACC_PERIOD](
	[AC_YEAR] [numeric](4, 0) NOT NULL,
	[AC_PERIOD] [numeric](2, 0) NOT NULL,
	[START_DT] [datetime] NULL,
	[END_DT] [datetime] NULL,
	[CURR_YEAR] [numeric](4, 0) NULL,
	[CURR_PERIOD] [numeric](2, 0) NULL,
	[CLOSE_IND] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_GL_ACC_PERIOD] PRIMARY KEY NONCLUSTERED 
(
	[AC_YEAR] ASC,
	[AC_PERIOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[GL_ACC_PERIOD] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[GL_ACC_PERIOD] TO [public] AS [dbo]
GO
