USE [appdata]
GO
/****** Object:  Table [dbo].[permit_errorlog]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[permit_errorlog]
GO
/****** Object:  Table [dbo].[permit_errorlog]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[permit_errorlog]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[permit_errorlog](
	[job_n] [varchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[error_n] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[error_descs] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RowId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_permit_log_detail] PRIMARY KEY CLUSTERED 
(
	[job_n] ASC,
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[permit_errorlog] TO  SCHEMA OWNER 
GO
