USE [appdata]
GO
/****** Object:  Table [dbo].[UOM]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[UOM]
GO
/****** Object:  Table [dbo].[UOM]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UOM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UOM](
	[CODE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DESCRIPTION] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[UOM] ADD [GTN_CODE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
 CONSTRAINT [PK__UOM__6DD739FB] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[UOM] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[UOM] TO [public] AS [dbo]
GO
