USE [appdata]
GO
/****** Object:  Table [dbo].[EXPORT_LOT]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[EXPORT_LOT]
GO
/****** Object:  Table [dbo].[EXPORT_LOT]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXPORT_LOT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EXPORT_LOT](
	[EXPORT_N] [numeric](10, 0) NOT NULL,
	[LINE_N] [numeric](10, 0) NOT NULL,
	[LOT_N] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BATCH_N] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_EXPORT_LOT] PRIMARY KEY NONCLUSTERED 
(
	[EXPORT_N] ASC,
	[LINE_N] ASC,
	[LOT_N] ASC,
	[BATCH_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[EXPORT_LOT] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[EXPORT_LOT] TO [public] AS [dbo]
GO
