USE [appdata]
GO
/****** Object:  Trigger [trg_after_upd_haulier_ins_sheet]    Script Date: 3/14/2018 6:11:58 AM ******/
DROP TRIGGER IF EXISTS [dbo].[trg_after_upd_haulier_ins_sheet]
GO
/****** Object:  Trigger [postupdate_slave_haulier_ins_sheet]    Script Date: 3/14/2018 6:11:58 AM ******/
DROP TRIGGER IF EXISTS [dbo].[postupdate_slave_haulier_ins_sheet]
GO
/****** Object:  Trigger [postupdate_audit_haulier_ins_sheet]    Script Date: 3/14/2018 6:11:58 AM ******/
DROP TRIGGER IF EXISTS [dbo].[postupdate_audit_haulier_ins_sheet]
GO
/****** Object:  Trigger [POSTINSERT_HAULIER_INS_SHEET]    Script Date: 3/14/2018 6:11:58 AM ******/
DROP TRIGGER IF EXISTS [dbo].[POSTINSERT_HAULIER_INS_SHEET]
GO
/****** Object:  Trigger [postinsert_audit_haulier_ins_sheet]    Script Date: 3/14/2018 6:11:58 AM ******/
DROP TRIGGER IF EXISTS [dbo].[postinsert_audit_haulier_ins_sheet]
GO
/****** Object:  Trigger [postdelete_audit_haulier_ins_sheet]    Script Date: 3/14/2018 6:11:58 AM ******/
DROP TRIGGER IF EXISTS [dbo].[postdelete_audit_haulier_ins_sheet]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HAULIER_INS_SHEET]') AND type in (N'U'))
ALTER TABLE [dbo].[HAULIER_INS_SHEET] DROP CONSTRAINT IF EXISTS [DF_HAULIER_INS_SHEET_CR_NO]
GO
/****** Object:  Table [dbo].[HAULIER_INS_SHEET]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[HAULIER_INS_SHEET]
GO
/****** Object:  Table [dbo].[HAULIER_INS_SHEET]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HAULIER_INS_SHEET]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HAULIER_INS_SHEET](
	[REF_NO] [numeric](10, 0) NOT NULL,
	[TRA_TYPE] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [HAULIER] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [CR_NO] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [ATTENTION] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [COLLECT_FROM_1] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [COLLECT_FROM_2] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [TRUCK_TO_1] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [TRUCK_TO_2] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [PKGS] [numeric](13, 4) NOT NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [M3] [decimal](11, 3) NOT NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [WEIGHT] [decimal](11, 3) NOT NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [CONT_NO] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [COLLECT_D] [datetime] NOT NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [REMARKS1] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [REMARKS2] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [REMARKS3] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [REMARKS4] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [REMARKS5] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [REMARKS6] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [PKGS_TYPE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [COLLECT_FROM_3] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [TRUCK_TO_3] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [HAULIER_TEL_N] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [HAULIER_FAX_N] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [TRUCK_INS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [TRUCK_DATE] [datetime] NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [TRUCK_TIME] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [remarks] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [palletization] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [group_n] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [ac_by] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [cc1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [cc2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [LUBS_REMARKS] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [n2_blanketing] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [ROW_ID] [numeric](10, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [LOADING_DATE] [datetime] NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [LOOSE_STUFFING] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [HEAT_TREATMENT_PLYWOOD] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [FUMIGATION_IND] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [INSPECTION_IND] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [PREHEATED_PALLET] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [INSPECTION_DATE] [datetime] NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [PLANT_CODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [sent_ind] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [stuffing_remarks] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [EMAIL] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [DEPOT] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [DEPOT_CONTACT] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [DEPOT_TELEPHONE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [DEPOT_ADDRESS] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [VENDOR] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [ADDRESS1] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [ADDRESS2] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [ADDRESS3] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [TELEPHONE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [FAX] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [VENDOR_EMAIL] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [EMAIL_CC] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [EGS_PO_NO] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
ALTER TABLE [dbo].[HAULIER_INS_SHEET] ADD [EGS_DT] [datetime] NULL
 CONSTRAINT [PK_HAULIER] PRIMARY KEY CLUSTERED 
(
	[REF_NO] ASC,
	[TRA_TYPE] ASC,
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[HAULIER_INS_SHEET] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[HAULIER_INS_SHEET] TO [public] AS [dbo]
GO
