USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_EDOC_SET_MAST]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_EDOC_SET_MAST] DROP CONSTRAINT IF EXISTS [DF_DOC_EDOC_SET_MAST_create_dt]
GO
/****** Object:  Table [dbo].[DOC_EDOC_SET_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_EDOC_SET_MAST]
GO
/****** Object:  Table [dbo].[DOC_EDOC_SET_MAST]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_EDOC_SET_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_EDOC_SET_MAST](
	[doc_set_id] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[doc_set_desc] [varchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[userid] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[dept_id] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[create_dt] [datetime] NULL,
 CONSTRAINT [PK_DOC_EDOC_SET_MAST] PRIMARY KEY CLUSTERED 
(
	[doc_set_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_EDOC_SET_MAST] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[DOC_EDOC_SET_MAST] TO [public] AS [dbo]
GO
