USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PDF_UPLOAD_LOG]') AND type in (N'U'))
ALTER TABLE [dbo].[PDF_UPLOAD_LOG] DROP CONSTRAINT IF EXISTS [DF__PDF_UPLOA__LOG_D__5EDFDA85]
GO
/****** Object:  Table [dbo].[PDF_UPLOAD_LOG]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[PDF_UPLOAD_LOG]
GO
/****** Object:  Table [dbo].[PDF_UPLOAD_LOG]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PDF_UPLOAD_LOG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PDF_UPLOAD_LOG](
	[UPLOAD_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[JOB_N] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[JOB_TYPE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOC_TYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORG_PDF_FILE] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NEW_PDF_FILE] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FILE_OPEN_STATUS] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FILE_UPLOAD_STATUS] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LOG_USER] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LOG_DATE] [datetime] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[PDF_UPLOAD_LOG] TO  SCHEMA OWNER 
GO
