USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FINANCE_REPORT]') AND type in (N'U'))
ALTER TABLE [dbo].[FINANCE_REPORT] DROP CONSTRAINT IF EXISTS [DF__FINANCE_R__Gener__2608E68A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FINANCE_REPORT]') AND type in (N'U'))
ALTER TABLE [dbo].[FINANCE_REPORT] DROP CONSTRAINT IF EXISTS [DF__FINANCE_R__REPOR__2514C251]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FINANCE_REPORT]') AND type in (N'U'))
ALTER TABLE [dbo].[FINANCE_REPORT] DROP CONSTRAINT IF EXISTS [DF__FINANCE_REP__ENV__24209E18]
GO
/****** Object:  Table [dbo].[FINANCE_REPORT]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[FINANCE_REPORT]
GO
/****** Object:  Table [dbo].[FINANCE_REPORT]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FINANCE_REPORT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FINANCE_REPORT](
	[ENV] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EXPORT_N] [numeric](10, 0) NOT NULL,
	[REPORT_TYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Generated_Date] [datetime] NULL,
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[voucher_no] [numeric](10, 0) NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[FINANCE_REPORT] TO  SCHEMA OWNER 
GO
