USE [appdata]
GO
/****** Object:  Table [dbo].[DOC_COLORDER_CLAUSE_DET]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_COLORDER_CLAUSE_DET]
GO
/****** Object:  Table [dbo].[DOC_COLORDER_CLAUSE_DET]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_COLORDER_CLAUSE_DET]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_COLORDER_CLAUSE_DET](
	[doc_head_no] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[line] [int] NOT NULL,
	[col_desc] [varchar](600) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[check_ind] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_DOC_COLORDER_CLAUSE_DET] PRIMARY KEY CLUSTERED 
(
	[doc_head_no] ASC,
	[line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_COLORDER_CLAUSE_DET] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[DOC_COLORDER_CLAUSE_DET] TO [public] AS [dbo]
GO
