USE [appdata]
GO
/****** Object:  Table [dbo].[DOMESTIC_SCHEDULE]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOMESTIC_SCHEDULE]
GO
/****** Object:  Table [dbo].[DOMESTIC_SCHEDULE]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOMESTIC_SCHEDULE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOMESTIC_SCHEDULE](
	[SCH_ID] [numeric](10, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SCH_DATE] [datetime] NOT NULL,
	[TRUCK_ID] [numeric](10, 0) NOT NULL,
	[LOAD_QTY] [numeric](10, 3) NULL,
	[LOAD_FACTOR] [numeric](10, 3) NULL,
	[PRESENT_STATUS] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ANY_INCIDENT] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REMARK] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DRIVER_ID1] [numeric](10, 3) NULL,
	[DRIVER_ID2] [numeric](10, 3) NULL,
	[CREATED_BY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATED_D] [datetime] NULL,
	[MODIFIED_BY] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MODIFIED_D] [datetime] NULL,
 CONSTRAINT [PK__DOMESTIC_SCHEDUL__5071BF9D] PRIMARY KEY CLUSTERED 
(
	[SCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOMESTIC_SCHEDULE] TO  SCHEMA OWNER 
GO
