USE [appdata]
GO
/****** Object:  Table [dbo].[CUST_BANK_MAST]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[CUST_BANK_MAST]
GO
/****** Object:  Table [dbo].[CUST_BANK_MAST]    Script Date: 3/14/2018 6:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUST_BANK_MAST]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUST_BANK_MAST](
	[CUST_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BANK_CODE] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BANK_NAME] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BANK_CTRY_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BANK_ACCT_ID] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REMIT_INSTRUCTIONS] [varchar](600) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CREATE_D] [datetime] NULL,
	[USER_ID] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BANK_ADD_LINE1] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BANK_ADD_LINE2] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BANK_ADD_LINE3] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_CUST_BANK_MAST] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[CUST_BANK_MAST] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [dbo].[CUST_BANK_MAST] TO [public] AS [dbo]
GO
