USE [appdata]
GO
/****** Object:  Table [dbo].[DOC_TRANS_STATIC_DOC_NAMES]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_TRANS_STATIC_DOC_NAMES]
GO
/****** Object:  Table [dbo].[DOC_TRANS_STATIC_DOC_NAMES]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_TRANS_STATIC_DOC_NAMES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_TRANS_STATIC_DOC_NAMES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_name] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[display_name] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ordinal] [int] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_TRANS_STATIC_DOC_NAMES] TO  SCHEMA OWNER 
GO
