USE [appdata]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__conta__47E8FD42]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__title__46F4D909]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__date___4600B4D0]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__date___450C9097]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__modif__44186C5E]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__creat__43244825]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__consi__423023EC]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__is_de__413BFFB3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__user___4047DB7A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__signa__3F53B741]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__produ__3E5F9308]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__impor__3D6B6ECF]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__expor__3C774A96]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__docum__3B83265D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__ref_t__3A8F0224]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__impor__399ADDEB]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
ALTER TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN] DROP CONSTRAINT IF EXISTS [DF__DOC_CERTI__expor__38A6B9B2]
GO
/****** Object:  Table [dbo].[DOC_CERTIFICATE_OF_ORIGIN]    Script Date: 3/14/2018 6:11:59 AM ******/
DROP TABLE IF EXISTS [dbo].[DOC_CERTIFICATE_OF_ORIGIN]
GO
/****** Object:  Table [dbo].[DOC_CERTIFICATE_OF_ORIGIN]    Script Date: 3/14/2018 6:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_CERTIFICATE_OF_ORIGIN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOC_CERTIFICATE_OF_ORIGIN](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[export_n] [bigint] NULL,
	[import_n] [bigint] NULL,
	[ref_type] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[document_no] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[exporter_id] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[importer_id] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[producer_id] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[signature_id] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_id] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[is_deleted] [int] NULL,
	[consignee] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_by] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[modified_by] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[date_created] [datetime] NULL,
	[date_modified] [datetime] NULL,
	[title] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[contact_info] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__DOC_CERT__3213E83F36BE7140] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[DOC_CERTIFICATE_OF_ORIGIN] TO  SCHEMA OWNER 
GO
