USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ACC_PARTY](
	[PARTY_CODE] [varchar](10) NOT NULL,
	[MAST_CODE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PARTY] PRIMARY KEY NONCLUSTERED 
(
	[PARTY_CODE] ASC,
	[MAST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
