USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMP_MANUAL_INSURANCE](
	[cert_n] [numeric](10, 0) NULL,
	[ship_value] [numeric](18, 3) NULL,
	[so_n] [varchar](50) NULL
) ON [PRIMARY]

GO
