USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [text_label_mast](
	[text_label] [nvarchar](200) NOT NULL,
	[text_value] [nvarchar](200) NULL
) ON [PRIMARY]

GO
