USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [temp_role4](
	[cont_seq_n] [varchar](2) NOT NULL,
	[cont_n] [varchar](30) NULL,
	[seal1] [varchar](50) NULL
) ON [PRIMARY]

GO
