USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [date_label_mast](
	[label_id] [nvarchar](50) NOT NULL,
	[label_name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
