USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [XML_XOM_ROUTE_TO_SGTEST](
	[ref_1] [varchar](50) NOT NULL,
	[sc_env] [varchar](50) NULL,
 CONSTRAINT [PK_XOM_ROUTE_TO_SGTEST] PRIMARY KEY CLUSTERED 
(
	[ref_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
