USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TERM_CODE_MAST](
	[TERM_ID] [varchar](10) NOT NULL,
	[TERM_DES] [varchar](40) NOT NULL,
	[CREDIT_DAYS] [numeric](3, 0) NOT NULL,
 CONSTRAINT [PK_TERM_CODE_MAST] PRIMARY KEY NONCLUSTERED 
(
	[TERM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
