USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_COUNTER](
	[COUNTER_ID] [varchar](10) NOT NULL,
	[COUNTER_DES] [varchar](50) NOT NULL,
	[COUNTER_VAL] [numeric](10, 0) NOT NULL,
 CONSTRAINT [PK_SYS_COUNTER] PRIMARY KEY NONCLUSTERED 
(
	[COUNTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
