USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AutoInvCode_Mast](
	[autoinvcode] [varchar](5) NOT NULL,
	[autoinvdesc] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
