USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [temp_xom_portmaster](
	[port_load_name] [varchar](50) NULL,
	[msg_seq_n] [numeric](10, 0) NULL
) ON [PRIMARY]

GO
