USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EXPORT_REF_ROLL](
	[SEQ_N] [numeric](18, 0) NOT NULL,
	[EXPORT_REF_N] [numeric](18, 0) NOT NULL,
	[USER_CREATED] [varchar](50) NULL,
	[DT_TIME_CREATED] [datetime] NULL,
	[NC_FLAG] [varchar](10) NULL,
	[ORIG_SAIL_DT] [datetime] NULL,
	[ORIG_ETA_DEST_DT] [datetime] NULL,
	[ORIG_CUTOFF_DT] [datetime] NULL,
	[ORIG_VOY_NO] [varchar](20) NULL,
	[ORIG_VESSEL] [varchar](30) NULL,
	[ORIG_SCAC] [varchar](50) NULL,
	[ORIG_NVOC] [varchar](50) NULL,
	[ORIG_CARRIER_NAME] [varchar](70) NULL,
	[NEW_SAIL_DT] [datetime] NULL,
	[NEW_ETA_DEST_DT] [datetime] NULL,
	[NEW_CUTOFF_DT] [datetime] NULL,
	[NEW_VOY_NO] [varchar](20) NULL,
	[NEW_VESSEL] [varchar](30) NULL,
	[NEW_SCAC] [varchar](50) NULL,
	[NEW_NVOC] [varchar](50) NULL,
	[NEW_CARRIER_NAME] [varchar](70) NULL,
	[ORIG_ETA_DT] [datetime] NULL,
	[NEW_ETA_DT] [datetime] NULL,
	[REMARKS] [text] NULL,
	[PRINT_IN_RPTS_IND] [varchar](2) NULL,
	[ORIG_BL_FROM_SSLINE_D] [datetime] NULL,
	[NEW_BL_FROM_SSLINE_D] [datetime] NULL,
	[ORIG_ACTUAL_SAIL_D] [datetime] NULL,
	[NEW_ACTUAL_SAIL_D] [datetime] NULL,
	[LAST_USER_CREATED] [varchar](50) NULL,
	[NC_COMPLAINT_DESC] [varchar](200) NULL,
	[ORIG_CR_BKG_REF_N] [varchar](50) NULL,
	[NEW_CR_BKG_REF_N] [varchar](50) NULL,
	[ORIG_PLANT_LOAD_D] [datetime] NULL,
	[NEW_PLANT_LOAD_D] [datetime] NULL,
	[ORIG_BL_N] [varchar](30) NULL,
	[NEW_BL_N] [varchar](30) NULL,
	[ORIG_PAYMENT_TERMS] [varchar](250) NULL,
	[NEW_PAYMENT_TERMS] [varchar](250) NULL,
	[ORIG_DOCS_SENT_TO_CUST_D] [datetime] NULL,
	[NEW_DOCS_SENT_TO_CUST_D] [datetime] NULL,
	[ORIG_DOCS_SENT_TO_BANK_D] [datetime] NULL,
	[NEW_DOCS_SENT_TO_BANK_D] [datetime] NULL,
	[ORIG_BL_TO_SSLINE_D] [datetime] NULL,
	[NEW_BL_TO_SSLINE_D] [datetime] NULL,
	[ORIG_DOCS_DISP_BY_BANK_D] [datetime] NULL,
	[NEW_DOCS_DISP_BY_BANK_D] [datetime] NULL,
	[ORIG_DOCS_FROM_CUST_D] [datetime] NULL,
	[NEW_DOCS_FROM_CUST_D] [datetime] NULL,
	[ORIG_SHIP_ON_BOARD] [datetime] NULL,
	[NEW_SHIP_ON_BOARD] [datetime] NULL,
	[ORIG_BL_ISSUE] [varchar](40) NULL,
	[NEW_BL_ISSUE] [varchar](40) NULL,
	[ORIG_ACTUAL_ARR_D] [datetime] NULL,
	[NEW_ACTUAL_ARR_D] [datetime] NULL,
	[ORIG_WEB_WAREHOUSE] [varchar](100) NULL,
	[NEW_WEB_WAREHOUSE] [varchar](100) NULL,
	[internal_remarks] [text] NULL,
	[orig_gi_chemical_d] [datetime] NULL,
	[new_gi_chemical_d] [datetime] NULL,
	[NEW_1ST_LINE_NET_WT] [numeric](11, 3) NULL,
	[orig_1st_line_net_wt] [numeric](11, 3) NULL,
	[NEW_1ST_LINE_WT] [numeric](11, 3) NULL,
	[orig_1st_line_wt] [numeric](11, 3) NULL,
	[new_1st_line_m3] [numeric](12, 4) NULL,
	[orig_1st_line_m3] [numeric](12, 4) NULL,
	[orig_uom] [varchar](10) NULL,
	[new_uom] [varchar](10) NULL,
	[conf_bl_to_ssline_d] [datetime] NULL,
	[isf102_ref] [varchar](50) NULL,
	[express_ind] [varchar](1) NULL,
	[obl_type] [varchar](20) NULL,
	[ORIG_doc_cutoff_date] [datetime] NULL,
	[NEW_doc_cutoff_date] [datetime] NULL,
 CONSTRAINT [PK_EXPORT_REF_ROLL] PRIMARY KEY CLUSTERED 
(
	[SEQ_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
