USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GL_ACC_PERIOD](
	[AC_YEAR] [numeric](4, 0) NOT NULL,
	[AC_PERIOD] [numeric](2, 0) NOT NULL,
	[START_DT] [datetime] NULL,
	[END_DT] [datetime] NULL,
	[CURR_YEAR] [numeric](4, 0) NULL,
	[CURR_PERIOD] [numeric](2, 0) NULL,
	[CLOSE_IND] [varchar](1) NULL,
 CONSTRAINT [PK_GL_ACC_PERIOD] PRIMARY KEY NONCLUSTERED 
(
	[AC_YEAR] ASC,
	[AC_PERIOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
