USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PORT_PROVINCE](
	[COUNTRYCODE] [varchar](10) NOT NULL,
	[COUNTRYNAME] [varchar](50) NOT NULL,
	[PROVINCE] [varchar](100) NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [PK_PROVINCE] PRIMARY KEY NONCLUSTERED 
(
	[PROVINCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
