USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LC_D_ERRORTYPE](
	[LC_D_TYPEID] [decimal](10, 0) NOT NULL,
	[LC_D_TYPENAME] [varchar](200) NULL,
	[NC_CATE_CODE] [varchar](10) NULL,
	[NC_TYPE_CODE] [varchar](10) NULL,
 CONSTRAINT [PK_LC_D_ERRORTYPE] PRIMARY KEY CLUSTERED 
(
	[LC_D_TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
