USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bayer_customer_map](
	[COMPANY_NAME] [varchar](100) NULL,
	[BAYER_CUST_CODE] [varchar](10) NULL,
	[ELITE_CUST_CODE] [varchar](50) NULL,
	[ELITE_ENV] [varchar](50) NULL
) ON [PRIMARY]

GO
