USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUSTOMER_TRUCK_CONFIG](
	[TRUCK_ID] [numeric](10, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ID] [varchar](10) NOT NULL,
	[VENDOR_ID] [varchar](10) NULL,
	[TRUCK_NAME] [varchar](50) NOT NULL,
	[TRUCK_LICENSE_N] [varchar](50) NULL,
	[TRUCK_CHASIS_N] [varchar](50) NULL,
	[TRUCK_TYPE] [varchar](10) NULL,
	[TRUCK_CAPACITY] [numeric](10, 3) NULL,
	[TRUCK_UOM] [varchar](10) NULL,
	[TRUCK_DESC] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_D] [datetime] NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_D] [datetime] NULL,
	[truck_chg] [decimal](9, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[TRUCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
