USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [REF_ORDER_MAST](
	[ORDER_N] [numeric](10, 0) NOT NULL,
	[ORDER_TRA_TYPE] [char](1) NOT NULL,
	[ORDER_REF] [numeric](10, 0) NOT NULL,
	[YARD_ADD1] [varchar](50) NOT NULL,
	[YARD_ADD2] [varchar](50) NOT NULL,
	[YARD_ADD3] [varchar](50) NOT NULL,
	[YARD_ADD4] [varchar](50) NOT NULL,
	[ORDER_D] [datetime] NOT NULL,
	[ORDER_REF_NO] [varchar](50) NOT NULL,
	[HAULIER_ID] [varchar](10) NOT NULL,
	[EXT_D] [datetime] NOT NULL,
	[DAY_20] [numeric](5, 0) NOT NULL,
	[AMT_20] [numeric](11, 3) NOT NULL,
	[DAY_40] [numeric](5, 0) NOT NULL,
	[AMT_40] [numeric](11, 3) NOT NULL,
	[AMT_TOT] [numeric](11, 3) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[REMARKS1] [varchar](100) NULL,
	[REMARKS2] [varchar](100) NULL,
 CONSTRAINT [PK_REF_ORDER_MAST] PRIMARY KEY NONCLUSTERED 
(
	[ORDER_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
