USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRAX_ERROR_LOG](
	[ERR_KEY_PK] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[ERROR_ID] [numeric](10, 0) NULL,
	[ERROR_DESC] [varchar](500) NULL,
	[ERROR_DATE] [datetime] NULL,
	[ERROR_TYPE] [char](6) NULL
) ON [PRIMARY]

GO
