USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EDI_OUTPUT](
	[EDI_DOC_TYPE] [varchar](50) NOT NULL,
	[EDI_SENDER] [varchar](50) NOT NULL,
	[EDI_RECEIVER] [varchar](50) NOT NULL,
	[EDI_OUT_DIR] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
