USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COST_CENTRE_MAST](
	[COST_CENTRE_C] [varchar](10) NOT NULL,
	[COST_CENTRE_DES] [varchar](40) NOT NULL,
	[yy_cost_centre_c] [varchar](12) NULL,
 CONSTRAINT [SYS_C0051878] PRIMARY KEY NONCLUSTERED 
(
	[COST_CENTRE_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
