USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INTTRA_BL_LINK](
	[OfficeCode ] [varchar](10) NOT NULL,
	[Export_n] [numeric](10, 0) NOT NULL,
	[Cust_ID] [varchar](10) NULL,
	[ProcessingDate] [datetime] NULL,
	[XML_File_name] [varchar](100) NULL,
	[status] [varchar](20) NULL,
	[MessageType] [varchar](35) NULL,
	[DocumentDate] [datetime] NULL,
	[AssignedBySender] [varchar](35) NULL,
	[AssignedByRecipient] [varchar](35) NULL,
	[BillOfLading] [varchar](35) NULL,
	[ShippedOnBoard] [datetime] NULL,
	[ReceivedForShipment] [datetime] NULL,
	[BillOfLadingReleaseCode] [varchar](35) NULL,
	[BillOfLadingReleaseName] [varchar](35) NULL,
	[BlReleaseDate] [datetime] NULL,
	[PurchaseOrderNumber] [varchar](35) NULL,
	[ShipperIdentifyingNumber] [varchar](35) NULL,
	[BookingNumber] [varchar](35) NULL,
	[BillOfLadingNumber] [varchar](35) NULL,
	[ContractNumber] [varchar](35) NULL,
	[CustomerShipmentIdentifier] [varchar](35) NULL,
	[General] [varchar](255) NULL,
	[BlClause] [text] NULL,
	[NumberOfEquipment] [decimal](10, 3) NULL,
	[NumberOfPackages] [decimal](10, 3) NULL,
	[PackageTypeDescription] [varchar](10) NULL,
	[GrossWeight] [decimal](10, 3) NULL,
	[GrossWeightUOM] [varchar](35) NULL,
	[GrossVolume] [decimal](10, 3) NULL,
	[GrossVolumeUOM] [varchar](35) NULL,
	[MovementType] [varchar](35) NULL,
	[ServiceType] [varchar](35) NULL,
	[TransportStage] [varchar](35) NULL,
	[TransportMode] [varchar](35) NULL,
	[ConveyanceName] [varchar](35) NULL,
	[VoyageTripNumber] [varchar](17) NULL,
	[CarrierSCAC] [varchar](17) NULL,
	[TransportIdentificationType] [varchar](9) NULL,
	[TransportMeansType] [varchar](17) NULL,
	[TransportNationality] [varchar](2) NULL,
	[PlaceOfDeliveryCode] [varchar](25) NULL,
	[PlaceOfDeliveryname] [varchar](100) NULL,
	[PlaceOfReceiptCode] [varchar](25) NULL,
	[PlaceOfReceiptName] [varchar](100) NULL,
	[PortOfDischargeCode] [varchar](25) NULL,
	[PortOfDischargeName] [varchar](100) NULL,
	[PortOfLoadingCode] [varchar](25) NULL,
	[PortOfLoadingName] [varchar](100) NULL,
	[Carrier] [varchar](50) NULL,
	[ShipperName] [varchar](100) NULL,
	[ShipperAdd1] [varchar](100) NULL,
	[ShipperAdd2] [varchar](100) NULL,
	[ShipperAdd3] [varchar](100) NULL,
	[ShipperAdd4] [varchar](100) NULL,
	[ConsigneeName] [varchar](100) NULL,
	[ConsigneeAdd1] [varchar](100) NULL,
	[ConsigneeAdd2] [varchar](100) NULL,
	[ConsigneeAdd3] [varchar](100) NULL,
	[ConsigneeAdd4] [varchar](100) NULL,
	[NotifyPartyName] [varchar](100) NULL,
	[NotifyPartyAdd1] [varchar](100) NULL,
	[NotifyPartyAdd2] [varchar](100) NULL,
	[NotifyPartyAdd3] [varchar](100) NULL,
	[NotifyPartyAdd4] [varchar](100) NULL,
	[BLRecipient] [varchar](35) NULL,
	[BLRecipientName] [varchar](35) NULL,
	[ContactName] [varchar](35) NULL,
	[Telephone] [varchar](35) NULL,
	[Fax] [varchar](35) NULL,
	[Email] [varchar](35) NULL,
	[Add1] [varchar](100) NULL,
	[Add2] [varchar](100) NULL,
	[Add3] [varchar](100) NULL,
	[Add4] [varchar](100) NULL,
	[ContractPartyName] [varchar](35) NULL,
	[ContractPartyAdd1] [varchar](100) NULL,
	[ContractPartyAdd2] [varchar](100) NULL,
	[GoodsDescription] [text] NULL,
	[PackageMarks] [varchar](255) NULL,
	[party] [varchar](10) NOT NULL,
	[row_id] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NotifyParty2Name] [varchar](35) NULL,
	[NotifyParty2Add1] [varchar](100) NULL,
	[NotifyParty2Add2] [varchar](100) NULL,
	[NotifyParty2Add3] [varchar](100) NULL,
	[NotifyParty2Add4] [varchar](100) NULL,
	[PackageTypeCode] [varchar](10) NULL,
 CONSTRAINT [PK_INTTRA_BL_LINK] PRIMARY KEY CLUSTERED 
(
	[OfficeCode ] ASC,
	[Export_n] ASC,
	[party] ASC,
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
