USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAST_ROLE](
	[ROLEID] [numeric](18, 0) NULL,
	[ROLENAME] [varchar](50) NULL,
	[ROLENAME2] [varchar](500) NULL
) ON [PRIMARY]

GO
