USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUSTOMER_PAYMT](
	[CUST_ID] [varchar](10) NOT NULL,
	[LINE_N] [numeric](10, 0) NOT NULL,
	[DOC_ID] [varchar](50) NOT NULL,
	[PAY_TYPE] [varchar](10) NOT NULL,
	[CURRENCY_ID] [varchar](10) NOT NULL,
	[PAY_D] [datetime] NOT NULL,
	[PAY_A] [numeric](11, 2) NOT NULL,
	[EX_RATE] [numeric](11, 4) NOT NULL,
	[PAY_A_LOCAL] [numeric](11, 2) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_PAYMT] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[LINE_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
