USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [XML_MSG_TYPE_MAST](
	[msg_type_id] [varchar](10) NOT NULL,
	[msg_desc] [varchar](50) NULL,
 CONSTRAINT [PK1] PRIMARY KEY NONCLUSTERED 
(
	[msg_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
