USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [permit_header](
	[permit_id] [char](10) NOT NULL,
	[mailbox_id] [varchar](17) NOT NULL,
	[declarant_name] [varchar](50) NOT NULL,
	[cr_no] [varchar](20) NOT NULL,
	[job_no] [varchar](14) NOT NULL,
	[export_n] [numeric](12, 0) NOT NULL,
	[export_ref_n] [numeric](12, 0) NOT NULL,
	[shipper_ref] [varchar](40) NULL,
	[msg_type] [varchar](7) NULL,
	[dec_type] [varchar](7) NULL,
	[dec_desc] [varchar](100) NULL,
	[prev_permit_no] [varchar](35) NULL,
	[bg_indicator] [varchar](3) NULL,
	[bg_desc] [varchar](50) NULL,
	[cargo_type] [varchar](3) NULL,
	[cargo_desc] [varchar](100) NULL,
	[inward_mode] [varchar](1) NULL,
	[inward_desc] [varchar](20) NULL,
	[outward_mode] [varchar](1) NULL,
	[outward_desc] [varchar](20) NULL,
	[cert_origin] [varchar](1) NULL,
	[ref_docs] [varchar](1) NULL,
	[recipient1] [varchar](17) NULL,
	[recipient2] [varchar](17) NULL,
	[recipient3] [varchar](17) NULL,
	[release_loc] [varchar](7) NULL,
	[release_desc] [varchar](256) NULL,
	[receipt_loc] [varchar](7) NULL,
	[receipt_desc] [varchar](256) NULL,
	[storage_loc] [varchar](7) NULL,
	[storage_desc] [varchar](105) NULL,
	[arrival_date] [datetime] NULL,
	[load_port] [varchar](5) NULL,
	[load_desc] [varchar](50) NULL,
	[voyage_no_in] [varchar](10) NULL,
	[vessel_name_in] [varchar](35) NULL,
	[ocean_bl_in] [varchar](35) NULL,
	[vessel_loc_code_in] [varchar](7) NULL,
	[vessel_loc_desc_in] [varchar](105) NULL,
	[aircraft_id_in] [varchar](10) NULL,
	[airway_bill_in] [varchar](20) NULL,
	[depart_date] [datetime] NULL,
	[fin_dest_code] [varchar](2) NULL,
	[fin_dest_desc] [varchar](50) NULL,
	[dis_port_code] [varchar](5) NULL,
	[dis_port_desc] [varchar](50) NULL,
	[voyage_no_out] [varchar](10) NULL,
	[vessel_name_out] [varchar](35) NULL,
	[voyage_no_out2] [varchar](17) NULL,
	[vessel_name_out2] [varchar](35) NULL,
	[vessel_type_out2] [varchar](2) NULL,
	[vessel_type_name_out2] [varchar](50) NULL,
	[ocean_bl_out] [varchar](35) NULL,
	[nrt_out] [numeric](15, 3) NULL,
	[vessel_loc_code_out] [varchar](7) NULL,
	[vessel_loc_desc_out] [varchar](105) NULL,
	[aircraft_id_out] [varchar](10) NULL,
	[airway_bill_out] [varchar](20) NULL,
	[tot_item] [numeric](5, 0) NULL,
	[tot_value] [decimal](15, 2) NULL,
	[tot_pack] [decimal](15, 4) NULL,
	[tot_pack_uom] [varchar](3) NULL,
	[tot_gross_wt] [decimal](15, 4) NULL,
	[tot_gross_uom] [varchar](3) NULL,
	[Remarks] [text] NULL,
	[created_by] [varchar](20) NULL,
	[created_dt] [datetime] NULL,
	[modified_by] [varchar](20) NULL,
	[modified_dt] [datetime] NULL,
	[status] [varchar](50) NULL,
	[customs_permit_no] [varchar](20) NULL,
	[lic_no1] [varchar](17) NULL,
	[lic_no2] [varchar](17) NULL,
	[lic_no3] [varchar](17) NULL,
	[lic_no4] [varchar](17) NULL,
	[lic_no5] [varchar](17) NULL,
	[amend_reason] [text] NULL,
	[cancel_reason] [varchar](10) NULL,
	[pdf_filename] [varchar](50) NULL,
	[xml_filename] [varchar](50) NULL,
	[cert_no] [varchar](17) NULL,
	[pmt_start_d] [varchar](8) NULL,
	[pmt_end_d] [varchar](8) NULL,
	[RowId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[supply_ind] [varchar](1) NULL,
	[seastore] [varchar](1) NULL,
	[vessel_nat] [varchar](2) NULL,
	[load_next_port] [varchar](5) NULL,
	[load_final_port] [varchar](5) NULL,
	[tot_inv_cif] [decimal](15, 2) NULL,
	[tot_gst_amt] [decimal](15, 2) NULL,
	[tot_ex_duty] [decimal](15, 4) NULL,
	[tot_customs_duty] [decimal](6, 2) NULL,
	[tot_amt_payable] [decimal](15, 2) NULL,
	[ex_end_date] [datetime] NULL,
	[auto_send_epermit] [varchar](1) NULL,
	[carrier_agent] [varchar](200) NULL,
	[email_add] [varchar](255) NULL,
	[declarant_id] [varchar](17) NOT NULL,
	[version_pbd] [varchar](10) NULL,
	[ct_pc_code] [varchar](7) NULL,
	[pcs_code1] [varchar](35) NULL,
	[pcs_code2] [varchar](35) NULL,
	[pcs_code3] [varchar](35) NULL,
	[smn_dt] [datetime] NULL,
	[bk_start_date] [datetime] NULL,
	[cvy_ref_no_in] [varchar](17) NULL,
	[tpt_id_in] [varchar](35) NULL,
	[cvy_ref_no_out] [varchar](17) NULL,
	[tpt_id_out] [varchar](35) NULL,
	[tot_other_amt] [numeric](15, 2) NULL,
	[ex_start_date] [datetime] NULL,
	[allow_manual] [varchar](1) NULL,
	[manual_approved_by] [varchar](10) NULL,
	[manual_approved_date] [datetime] NULL,
	[manual_remarks] [varchar](255) NULL,
	[amend_cnt] [numeric](5, 0) NULL,
	[amend_upd_ind] [varchar](5) NULL,
	[amend_permit_no] [varchar](35) NULL,
	[permit_valid_ext] [varchar](5) NULL,
 CONSTRAINT [PK_permit_header] PRIMARY KEY CLUSTERED 
(
	[permit_id] ASC,
	[job_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
