USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUSTOMER_LOG](
	[CUST_ID] [varchar](10) NOT NULL,
	[TERM_ID] [varchar](10) NOT NULL,
	[CREDIT_LIMIT_A] [numeric](11, 2) NOT NULL,
	[APPROVED_BY] [varchar](20) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
