USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DOC_TRANS_DOCUMENTS_LIST](
	[doc_head_no] [varchar](30) NOT NULL,
	[doc_id] [char](15) NULL,
	[doc_name] [varchar](80) NULL,
 CONSTRAINT [PK_DOC_TRANS_DOCUMENTS_LIST] PRIMARY KEY CLUSTERED 
(
	[doc_head_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
