USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [region_mast_backup_15SEP2014](
	[REGION_ID] [varchar](10) NOT NULL,
	[REGION_NAME] [varchar](50) NULL,
	[SORT_K] [numeric](5, 0) NOT NULL
) ON [PRIMARY]

GO
