USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRUCKER_ASSIGNMENT](
	[VENDOR_ID] [varchar](10) NOT NULL,
	[LAST_ASSIGNED_TRUCKER] [char](1) NULL,
	[TRUCKER_SEQUENCE] [char](1) NULL
) ON [PRIMARY]

GO
