USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUST_TYPE_MAST](
	[CUST_TYPE_ID] [varchar](10) NOT NULL,
	[CUST_TYPE_DES] [varchar](40) NOT NULL,
 CONSTRAINT [PK_CUST_TYPE_MAST] PRIMARY KEY NONCLUSTERED 
(
	[CUST_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
