USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DOC_LOG](
	[SERIAL_N] [numeric](10, 0) NOT NULL,
	[FY] [varchar](4) NULL,
	[DOC_N] [numeric](10, 0) NULL,
	[DOC_TYPE] [varchar](10) NULL,
	[ACTION_ID] [varchar](10) NULL,
	[USER_ID] [varchar](10) NULL,
	[ENTRY_D] [datetime] NULL,
	[ENTRY_T] [varchar](10) NULL,
 CONSTRAINT [PK_DOC_LOG] PRIMARY KEY NONCLUSTERED 
(
	[SERIAL_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
