USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ascii_table](
	[ascii_code] [int] NULL,
	[char_value] [char](2) NULL,
	[default_value] [varchar](10) NULL,
	[xml_value] [varchar](10) NULL
) ON [PRIMARY]

GO
