USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMP_BU](
	[bu_parent_id] [int] NULL,
	[bu_name] [varchar](100) NULL,
	[cust_id] [varchar](50) NULL
) ON [PRIMARY]

GO
