USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COUNTRY_MAST](
	[COUNTRY_ID] [varchar](10) NOT NULL,
	[COUNTRY_NAME] [varchar](50) NOT NULL,
	[cert_type] [varchar](50) NULL,
	[us_trade_sanctions] [varchar](1) NULL,
 CONSTRAINT [PK_COUNTRY_MAST] PRIMARY KEY NONCLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
