USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [temp_nc_trans_det_08_2013](
	[NC_TRAN_NO] [numeric](10, 0) NOT NULL,
	[NC_TYPE_CODE] [varchar](10) NOT NULL,
	[NC_CATE_CODE] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
