USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MITSUI_PERMIT_EMAIL](
	[export_n] [numeric](10, 0) NOT NULL,
	[custom_job_no] [varchar](14) NOT NULL,
	[email_ind] [varchar](1) NOT NULL,
	[email_sent_d] [datetime] NULL,
	[row_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MITSUI_PERMIT_EMAIL] PRIMARY KEY CLUSTERED 
(
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
