USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_USER_LOGIN_LOG](
	[SESSION_ID] [numeric](18, 0) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[LOGIN_D] [datetime] NOT NULL,
	[LOGIN_T] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SYS_USER_LOGIN_LOG] PRIMARY KEY NONCLUSTERED 
(
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
