USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUST_STAMP](
	[CUST_ID] [varchar](10) NOT NULL,
	[CUST_STAMP_TYPE] [varchar](50) NOT NULL,
	[CUST_STAMP] [varchar](50) NULL,
 CONSTRAINT [PK_CUST_STAMP] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[CUST_STAMP_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
