USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JOBS_OC_PDF_GENERATE](
	[ROW_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SHIPPER_REF] [varchar](40) NULL,
	[DOC_TYPE] [varchar](25) NULL,
	[UPD_DT] [datetime] NULL,
	[CREATED_FLAG] [char](1) NULL,
	[SEQ_NO] [numeric](10, 0) NULL
) ON [PRIMARY]

GO
