USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYS_USER_MODULE](
	[MODULE_ID] [varchar](10) NOT NULL,
	[USER_ID] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SYS_USER_MODULE] PRIMARY KEY NONCLUSTERED 
(
	[USER_ID] ASC,
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
