USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JOBS_UPDATE_SOW](
	[JOB_N] [numeric](10, 0) NULL,
	[JOB_TYPE] [char](1) NULL,
	[UPD_DT] [datetime] NULL,
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [JOBS_UPDATE_SOW]  WITH CHECK ADD  CONSTRAINT [FKF576A08E6DD3DA26] FOREIGN KEY([JOB_N])
REFERENCES [EXPORT] ([EXPORT_N])
GO
ALTER TABLE [JOBS_UPDATE_SOW] CHECK CONSTRAINT [FKF576A08E6DD3DA26]
GO
