USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EXPORT_PRODUCT_EXT](
	[PROD_EXPORT_N] [numeric](18, 0) NOT NULL,
	[PROD_LINE_N] [numeric](18, 0) NOT NULL,
	[PROD_ID] [varchar](20) NOT NULL,
	[ISOCCODE] [varchar](50) NULL,
	[NUMBER_OF_CONT] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EXPORT_PRODUCT_EXT] PRIMARY KEY CLUSTERED 
(
	[PROD_EXPORT_N] ASC,
	[PROD_LINE_N] ASC,
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
