USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DOC_PACK_GENERAL_ENTRY](
	[doc_head_no] [varchar](30) NOT NULL,
	[scc_ref_no] [varchar](20) NULL,
	[scc_ref_type] [varchar](20) NULL,
	[doc_title] [varchar](200) NULL,
	[doc_creation_dt] [datetime] NULL,
	[po_no] [varchar](50) NULL,
	[sailing_dt] [datetime] NULL,
	[eta] [datetime] NULL,
	[precarriage] [varchar](50) NULL,
	[vessel] [varchar](50) NULL,
	[pol] [varchar](50) NULL,
	[pod] [varchar](50) NULL,
	[invoice_no] [varchar](100) NULL,
	[elite_ref_no] [varchar](80) NULL,
	[shipper_ref_no] [varchar](50) NULL,
	[shipper_ref_ind] [varchar](2) NULL,
	[shipper_adl_ref1] [varchar](50) NULL,
	[shipper_adl_ref2] [varchar](50) NULL,
	[shipper_adl_ref3] [varchar](50) NULL,
	[other_ref_no] [varchar](50) NULL,
	[addres_to_print_ind] [varchar](2) NULL,
	[print_ship_to_ind] [varchar](2) NULL,
	[print_bill_to_ind] [varchar](2) NULL,
	[print_consignee_ind] [varchar](2) NULL,
	[print_notify_ind] [varchar](2) NULL,
	[print_mkgs_ind] [varchar](2) NULL,
	[print_num_of_pkgs_ind] [varchar](2) NULL,
	[print_goods_des_ind] [varchar](2) NULL,
	[print_line_gross_wt_ind] [varchar](2) NULL,
	[print_line_net_wt_ind] [varchar](2) NULL,
	[print_line_measurement_ind] [varchar](2) NULL,
	[print_container_ind] [varchar](2) NULL,
	[print_seal_ind] [varchar](2) NULL,
	[print_tot_cont_pkgs_no_ind] [varchar](2) NULL,
	[print_tot_cont_gross_wt_ind] [varchar](2) NULL,
	[print_tot_cont_net_wt_ind] [varchar](2) NULL,
	[print_tot_cont_measurement_ind] [varchar](2) NULL,
	[print_clauses_ind] [varchar](2) NULL,
	[print_exporter_ind] [varchar](2) NULL,
	[print_signature_ind] [varchar](2) NULL,
	[print_comp_stamp_ind] [varchar](2) NULL,
	[print_invoice_ind] [varchar](2) NULL,
	[cust_ref_no] [varchar](15) NULL,
	[invoice_dt] [datetime] NULL,
	[price_terms] [varchar](250) NULL,
	[price_terms_port] [varchar](25) NULL,
	[product_co] [varchar](50) NULL,
	[remit_to_bank] [varchar](3000) NULL,
	[bank_code] [varchar](50) NULL,
	[port_rec_name] [varchar](50) NULL,
	[port_del_name] [varchar](50) NULL,
	[bl_date] [datetime] NULL,
	[print_precarriage] [varchar](2) NULL,
	[comp_name] [varchar](200) NULL,
	[comp_name_as] [varchar](50) NULL,
	[template_type] [varchar](5) NULL,
	[date_shipped] [datetime] NULL,
	[dest_control_stmt] [varchar](250) NULL,
	[certify_clause] [varchar](600) NULL,
	[carrier_alpha_code] [varchar](50) NULL,
	[nvo_carrier] [varchar](80) NULL,
	[collect_charges] [varchar](200) NULL,
	[dest_control_stmt_ind] [varchar](2) NULL,
	[tot_gross_wt_ind] [varchar](2) NULL,
	[tot_net_wt_ind] [varchar](2) NULL,
	[header_ind] [varchar](20) NULL,
	[user_id] [varchar](50) NULL,
	[print_gst_reg_no] [varchar](2) NULL,
	[print_address_logo] [varchar](2) NULL,
	[print_comp_logo] [varchar](2) NULL,
	[print_footer_left] [varchar](2) NULL,
	[print_footer_right] [varchar](2) NULL,
	[pay_due_dt] [datetime] NULL,
	[start_loading] [varchar](100) NULL,
	[end_loading] [varchar](100) NULL,
	[mlo_no] [varchar](50) NULL,
	[contract_no] [varchar](50) NULL,
	[lc_opt] [varchar](100) NULL,
	[cust_code] [varchar](50) NULL,
	[bill_to_party] [varchar](1000) NULL,
	[signagent] [varchar](1) NULL,
	[fob_price] [decimal](18, 2) NULL,
	[docs_description] [varchar](600) NULL,
	[print_to_whom_concern] [varchar](1) NULL,
	[Packtext] [varchar](3000) NULL,
	[shipmentvalue] [decimal](20, 0) NULL,
	[lcissuedt] [datetime] NULL,
	[coverno] [varchar](100) NULL,
	[insurance_agent] [varchar](1000) NULL,
	[remarks] [varchar](1000) NULL,
	[SHIP_ON_BRD_D] [datetime] NULL,
 CONSTRAINT [PK_DOC_PACK_GENERAL_ENTRY] PRIMARY KEY CLUSTERED 
(
	[doc_head_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
