USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AIRWAYBILL](
	[JOB_N] [varchar](10) NOT NULL,
	[JOB_TYPE] [varchar](10) NOT NULL,
	[MAWB_N] [varchar](40) NULL,
	[HAWB_N] [varchar](40) NULL,
	[PLACE_ORIG] [varchar](40) NULL,
	[PLACE_DEST] [varchar](40) NULL,
	[SHIPPER_N] [varchar](70) NULL,
	[SHIPPER_1] [varchar](70) NULL,
	[SHIPPER_2] [varchar](70) NULL,
	[SHIPPER_3] [varchar](70) NULL,
	[SHIPPER_4] [varchar](70) NULL,
	[SHIPPER_5] [varchar](70) NULL,
	[CONSIGNEE_N] [varchar](70) NULL,
	[CONSIGNEE_1] [varchar](70) NULL,
	[CONSIGNEE_2] [varchar](70) NULL,
	[CONSIGNEE_3] [varchar](70) NULL,
	[CONSIGNEE_4] [varchar](70) NULL,
	[CONSIGNEE_5] [varchar](70) NULL,
	[NP_1] [varchar](70) NULL,
	[NP_2] [varchar](70) NULL,
	[NP_3] [varchar](70) NULL,
	[NP_4] [varchar](70) NULL,
	[NP_5] [varchar](70) NULL,
	[ISSUE_1] [varchar](70) NULL,
	[ISSUE_2] [varchar](70) NULL,
	[ISSUE_3] [varchar](70) NULL,
	[ISSUE_4] [varchar](70) NULL,
	[ISSUE_5] [varchar](70) NULL,
	[ACINFO_1] [varchar](70) NULL,
	[ACINFO_2] [varchar](70) NULL,
	[ACINFO_3] [varchar](70) NULL,
	[ACINFO_4] [varchar](70) NULL,
	[ACINFO_5] [varchar](70) NULL,
	[ACINFO_6] [varchar](70) NULL,
	[ACINFO_7] [varchar](70) NULL,
	[ACINFO_8] [varchar](70) NULL,
	[IATA_N] [varchar](40) NULL,
	[AC_N] [varchar](40) NULL,
	[CARRIER_1] [varchar](40) NULL,
	[CURRENCY_ID] [varchar](10) NULL,
	[PPD_1] [varchar](10) NULL,
	[PPD_2] [varchar](10) NULL,
	[CARRIAGE_V] [varchar](10) NULL,
	[CUSTOMS_V] [varchar](10) NULL,
	[NAME_ORIG] [varchar](40) NULL,
	[NAME_DEST] [varchar](40) NULL,
	[FLIGHT_DATE] [varchar](40) NULL,
	[INSURE_A] [varchar](20) NULL,
	[HANDLING_1] [varchar](80) NULL,
	[HANDLING_2] [varchar](80) NULL,
	[HANDLING_3] [varchar](80) NULL,
	[HANDLING_4] [varchar](80) NULL,
	[HANDLING_5] [varchar](80) NULL,
	[NO_PC] [varchar](10) NULL,
	[GROSS_W] [varchar](20) NULL,
	[KG_LB] [varchar](10) NULL,
	[RATE_CLASS] [varchar](10) NULL,
	[COMM_N] [varchar](10) NULL,
	[CHG_W] [varchar](20) NULL,
	[RATE_CHG] [varchar](20) NULL,
	[TOTAL_CHG] [varchar](20) NULL,
	[TOT_NO_PC] [varchar](10) NULL,
	[TOT_GROSS_W] [varchar](20) NULL,
	[TOT_TOTAL_CHG] [varchar](20) NULL,
	[GOOD_DESC_1] [varchar](40) NULL,
	[GOOD_DESC_2] [varchar](40) NULL,
	[GOOD_DESC_3] [varchar](40) NULL,
	[GOOD_DESC_4] [varchar](40) NULL,
	[GOOD_DESC_5] [varchar](40) NULL,
	[GOOD_DESC_6] [varchar](40) NULL,
	[GOOD_DESC_7] [varchar](40) NULL,
	[GOOD_DESC_8] [varchar](40) NULL,
	[GOOD_DESC_9] [varchar](40) NULL,
	[GOOD_DESC_10] [varchar](40) NULL,
	[GOOD_DESC_11] [varchar](40) NULL,
	[GOOD_DESC_12] [varchar](40) NULL,
	[GOOD_DESC_13] [varchar](40) NULL,
	[GOOD_DESC_14] [varchar](40) NULL,
	[GOOD_DESC_15] [varchar](40) NULL,
	[GOOD_DESC_16] [varchar](40) NULL,
	[PREPAID_W] [varchar](20) NULL,
	[COLLECT_W] [varchar](20) NULL,
	[PREPAID_V] [varchar](20) NULL,
	[COLLECT_V] [varchar](20) NULL,
	[PREPAID_T] [varchar](20) NULL,
	[COLLECT_T] [varchar](20) NULL,
	[PREPAID_OA] [varchar](20) NULL,
	[COLLECT_OA] [varchar](20) NULL,
	[PREPAID_OC] [varchar](20) NULL,
	[COLLECT_OC] [varchar](20) NULL,
	[PREPAID_TOT] [varchar](20) NULL,
	[COLLECT_TOT] [varchar](20) NULL,
	[EX_RATE] [varchar](20) NULL,
	[SIGNATURE_SA] [varchar](40) NULL,
	[EXECUTE_D] [varchar](20) NULL,
	[EXECUTE_P] [varchar](20) NULL,
	[SIGNATURE_CA] [varchar](40) NULL,
	[REMARKS1] [varchar](80) NULL,
	[REMARKS2] [varchar](80) NULL,
	[REMARKS3] [varchar](80) NULL,
	[REMARKS4] [varchar](80) NULL,
	[REMARKS5] [varchar](80) NULL,
	[REMARKS6] [varchar](80) NULL,
	[REMARKS7] [varchar](80) NULL,
	[REMARKS8] [varchar](80) NULL,
	[OTHERS1] [varchar](60) NULL,
	[OTHERS2] [varchar](60) NULL,
	[OTHERS3] [varchar](60) NULL,
	[TO_1] [varchar](50) NULL,
	[BY_1] [varchar](50) NULL,
	[TO_2] [varchar](50) NULL,
	[BY_2] [varchar](50) NULL,
	[FLIGHT_DATE2] [varchar](40) NULL,
	[CHG_DEST1] [varchar](20) NULL,
	[CHG_DEST2] [varchar](20) NULL,
	[NO_PKG1] [varchar](10) NULL,
	[LENGTH1] [varchar](10) NULL,
	[WEIGHT1] [varchar](10) NULL,
	[HEIGHT1] [varchar](10) NULL,
	[NO_PKG2] [varchar](10) NULL,
	[LENGTH2] [varchar](10) NULL,
	[WEIGHT2] [varchar](10) NULL,
	[HEIGHT2] [varchar](10) NULL,
	[NO_PKG3] [varchar](10) NULL,
	[LENGTH3] [varchar](10) NULL,
	[WEIGHT3] [varchar](10) NULL,
	[HEIGHT3] [varchar](10) NULL,
	[NO_PKG4] [varchar](10) NULL,
	[LENGTH4] [varchar](10) NULL,
	[WEIGHT4] [varchar](10) NULL,
	[HEIGHT4] [varchar](10) NULL,
	[NO_PKG5] [varchar](10) NULL,
	[LENGTH5] [varchar](10) NULL,
	[WEIGHT5] [varchar](10) NULL,
	[HEIGHT5] [varchar](10) NULL,
	[NO_PKG6] [varchar](10) NULL,
	[LENGTH6] [varchar](10) NULL,
	[WEIGHT6] [varchar](10) NULL,
	[HEIGHT6] [varchar](10) NULL,
	[CARRIER_2] [varchar](40) NULL
) ON [PRIMARY]

GO
