USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dhl_products](
	[products_id] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[local_product_cd] [varchar](2) NOT NULL,
	[global_product_cd] [varchar](2) NOT NULL,
	[product_name] [varchar](30) NOT NULL,
	[product_content_cd] [varchar](3) NOT NULL,
	[weight_desc] [varchar](5) NULL,
	[price_flat_rate_flag] [bit] NOT NULL,
	[proforma_required] [tinyint] NOT NULL,
	[price_high_value] [float] NOT NULL,
	[effective_from] [datetime] NULL,
	[effective_till] [datetime] NULL,
	[dpgm_product_flag] [bit] NOT NULL,
	[domestic_dim_wt_divisor] [float] NOT NULL,
	[domestic_shipment_allowed_flag] [bit] NOT NULL,
	[domestic_agg_allowed_flag] [bit] NOT NULL,
	[domestic_aggregate_weight_min] [float] NULL,
	[domestic_aggregate_price_min] [float] NULL,
	[intl_dim_wt_divisor] [float] NULL,
	[intl_shipment_allowed_flag] [bit] NOT NULL,
	[intl_aggregate_allowed_flag] [bit] NOT NULL,
	[intl_aggregate_weight_min] [float] NOT NULL,
	[intl_aggregate_price_min] [float] NOT NULL,
	[Product_notes] [text] NULL,
	[product_type] [smallint] NULL,
	[Routing_barcode] [varchar](3) NULL,
	[VCF_Calc_Weight] [bit] NOT NULL,
	[Domestic_Weight_Min] [float] NULL,
	[Domestic_Weight_Max] [float] NULL,
	[Intl_Weight_Min] [float] NULL,
	[Intl_Weight_Max] [float] NULL,
	[Domestic_Wt_Round_Factor] [float] NULL,
	[Intl_Wt_Round_Factor] [float] NULL,
	[Domestic_Max_Wt_Per_Item] [float] NULL,
	[Intl_Max_Wt_Per_Item] [float] NULL,
	[Shipment_Identifier] [smallint] NULL,
	[Lp_Identifier] [smallint] NULL,
	[Domestic_Max_Advanced_Days] [smallint] NULL,
	[Intl_Max_Advanced_days] [smallint] NULL,
	[Allow_Dangerous_Goods] [bit] NULL,
	[Allow_Exchange_Shipment] [bit] NULL,
	[Domestic_No_Of_Pieces] [smallint] NULL,
	[Domestic_Max_Pallet_No] [int] NULL,
	[Intl_No_Of_Pieces] [smallint] NULL,
	[Intl_Max_Pallet_No] [int] NULL,
	[Domestic_Max_Pallet_wt] [float] NULL,
	[Intl_Max_Pallet_wt] [float] NULL,
	[Shipment_Multi_Ref] [bit] NULL,
	[Piece_Multi_Ref] [bit] NULL,
	[Piece_Details_Mandatory] [bit] NULL,
	[Domestic_Min_Length_Piece] [float] NULL,
	[Domestic_Min_Width_Piece] [float] NULL,
	[Domestic_Min_Height_Piece] [float] NULL,
	[Domestic_Max_Length_Piece] [float] NULL,
	[Domestic_Max_Width_Piece] [float] NULL,
	[Domestic_Max_Height_Piece] [float] NULL,
	[Intl_Min_Length_Piece] [float] NULL,
	[Intl_Min_Width_Piece] [float] NULL,
	[Intl_Min_Height_Piece] [float] NULL,
	[Intl_Max_Length_Piece] [float] NULL,
	[Intl_Max_Width_Piece] [float] NULL,
	[Intl_Max_Height_Piece] [float] NULL,
	[Allow_Delivery_Instruction] [bit] NULL,
	[Pickup_Alert_Msg] [text] NULL,
	[Domestic_Metric_Dim_Wt_Divisor] [float] NULL,
	[Intl_Metric_Dim_Wt_Divisor] [float] NULL,
	[Domestic_Wt_Default] [float] NULL,
	[Intl_Wt_Default] [float] NULL,
	[Domestic_Warning_Message] [bit] NOT NULL,
	[Intl_Warning_Message] [bit] NOT NULL,
	[US2ndDay] [bit] NULL,
	[Domestic_fixed_del_dt_flag] [bit] NOT NULL,
	[Intl_Fixed_Del_dt_flag] [bit] NOT NULL,
	[Domestic_max_dimensional_weight] [float] NULL,
	[Intl_Max_Dimensional_weight] [float] NULL,
 CONSTRAINT [PK_dhl_products] PRIMARY KEY CLUSTERED 
(
	[products_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
