USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PORT_PROVINCE_BACKUP](
	[UNLOCODE] [varchar](10) NOT NULL,
	[CITYNAME] [varchar](100) NULL,
	[PROVINCE] [varchar](100) NULL,
 CONSTRAINT [PK_PORT_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[UNLOCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
