USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NC_TYPE_MAST](
	[NC_TYPE_CODE] [varchar](10) NOT NULL,
	[NC_CATE_DESC] [varchar](100) NULL,
	[NC_TYPE_DESC] [varchar](255) NOT NULL,
	[NC_CATE_CODE] [varchar](10) NOT NULL,
	[USER_ID] [varchar](20) NULL,
	[CREATE_D] [datetime] NULL,
	[DEF_NC_COMPLAINT_DESC] [varchar](255) NULL,
	[PARENTACCTID] [int] NOT NULL,
 CONSTRAINT [NC_TYPE_PK] PRIMARY KEY CLUSTERED 
(
	[NC_CATE_CODE] ASC,
	[NC_TYPE_CODE] ASC,
	[PARENTACCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
