USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COST_CENTRE_MAST_2015](
	[COST_CENTRE_C] [varchar](10) NOT NULL,
	[COST_CENTRE_DES] [varchar](40) NOT NULL,
	[yy_cost_centre_c] [varchar](12) NULL
) ON [PRIMARY]

GO
