USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUSTOMER_MAST](
	[CUST_ID] [varchar](10) NOT NULL,
	[CUST_NAME] [varchar](70) NOT NULL,
	[CUST_NAME2] [varchar](200) NULL,
	[CUST_TYPE_ID] [varchar](1) NOT NULL,
	[CUST_TYPE_SUB_ID] [varchar](1) NOT NULL,
	[ADD1] [varchar](40) NULL,
	[ADD2] [varchar](40) NULL,
	[ADD3] [varchar](40) NULL,
	[ADD4] [varchar](40) NULL,
	[ADD5] [varchar](40) NULL,
	[COUNTRY_ID] [varchar](10) NOT NULL,
	[POSTAL_C] [varchar](10) NOT NULL,
	[TEL1] [varchar](20) NOT NULL,
	[TEL2] [varchar](20) NOT NULL,
	[FAX1] [varchar](20) NOT NULL,
	[FAX2] [varchar](20) NOT NULL,
	[EMAIL_1] [varchar](50) NOT NULL,
	[EMAIL_2] [varchar](50) NOT NULL,
	[CONTACT_1] [varchar](50) NOT NULL,
	[CONTACT_2] [varchar](50) NOT NULL,
	[CONTACT_3] [varchar](50) NOT NULL,
	[CONTACT_4] [varchar](50) NOT NULL,
	[CUST_ACC_ID] [varchar](10) NOT NULL,
	[CREDIT_LIMIT_A] [numeric](11, 2) NOT NULL,
	[INV_TO_DATE_A] [numeric](11, 2) NOT NULL,
	[INV_PAID_A] [numeric](11, 2) NOT NULL,
	[APPROVED_BY] [varchar](20) NOT NULL,
	[CURRENCY_ID] [varchar](10) NOT NULL,
	[TERM_ID] [varchar](10) NOT NULL,
	[SALESMAN_ID] [varchar](10) NOT NULL,
	[REMARKS1] [varchar](50) NOT NULL,
	[REMARKS2] [varchar](50) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[CREATE_D] [datetime] NOT NULL,
	[TRA_PORT_ID] [varchar](10) NOT NULL,
	[ADD1_2] [varchar](40) NULL,
	[ADD2_2] [varchar](40) NULL,
	[ADD3_2] [varchar](40) NULL,
	[ADD4_2] [varchar](40) NULL,
	[LIST_IND] [varchar](1) NULL,
	[CURR_BAL] [numeric](10, 2) NULL,
	[LOOKUP_IND] [char](10) NULL,
	[GST_REG_NO] [varchar](30) NULL,
	[REMARKS3] [varchar](300) NULL,
	[REMARKS4] [varchar](300) NULL,
	[INAME] [varchar](20) NULL,
	[IPASS] [varchar](20) NULL,
	[INAME2] [varchar](20) NULL,
	[IPASS2] [varchar](20) NULL,
	[ICUST] [varchar](20) NULL,
	[ITYPE] [varchar](20) NULL,
	[IACTIVE] [varchar](1) NULL,
	[GLB_CUST_ID] [varchar](30) NULL,
	[DEPT_ID] [varchar](50) NULL,
	[BUSINESS_REG_NO] [varchar](30) NULL,
	[TDB_CR_NO] [varchar](30) NULL,
	[CUST_LOGO] [varchar](50) NULL,
	[CUST_FOOTER1] [varchar](100) NULL,
	[CUST_FOOTER2] [varchar](100) NULL,
	[CUST_FOOTER3] [varchar](100) NULL,
	[CUST_FOOTER4] [varchar](100) NULL,
	[CUST_FOOTER5] [varchar](100) NULL,
	[CUST_FOOTER6] [varchar](100) NULL,
	[CUST_EDOCS_FOOTER] [varchar](50) NULL,
	[CUST_EDOCS_ADD] [varchar](50) NULL,
	[CUST_EDOCS_FOOTER_IND] [varchar](1) NULL,
	[parentAcctid] [int] NULL,
	[AcctName] [varchar](81) NULL,
	[iscustomer] [varchar](1) NULL,
	[salesman_name] [varchar](255) NULL,
	[def_loc_code] [varchar](20) NULL,
	[UEN] [varchar](30) NULL,
	[nominated_carrier] [varchar](1) NULL,
	[bu_name] [varchar](100) NULL,
	[bu_id] [numeric](10, 0) NULL,
	[isinvoiceable] [char](1) NOT NULL,
	[CHK_CNBLICNO] [char](1) NULL,
	[consolidate_inv] [char](1) NOT NULL,
	[attention] [nvarchar](100) NULL,
	[chk_permit_product] [char](1) NOT NULL,
	[yy_cust_id] [varchar](20) NULL,
	[sy_cust_id] [varchar](20) NULL,
	[include_in_consplrpt] [char](1) NOT NULL,
	[def_dhl_senders_id] [numeric](18, 0) NULL,
	[business_unit] [numeric](10, 0) NULL,
	[cancel_cust_id] [int] NULL,
	[DHL_ACCT_NO] [varchar](20) NULL,
	[ins_premium_rate] [decimal](9, 3) NULL,
	[LogoName] [char](50) NULL,
	[postal_code1] [varchar](9) NULL,
	[postal_code2] [varchar](9) NULL,
	[cust_stamp] [varchar](50) NULL,
	[invparty_id] [varchar](10) NULL,
	[TO_ENVI] [varchar](10) NULL,
	[F_PARTY_NUMBER] [numeric](20, 0) NULL,
	[F_CUST_ACCOUNT_NUMBER] [numeric](20, 0) NULL,
	[F_CUST_SITE_NUMBER] [numeric](20, 0) NULL,
	[bill_to_party] [varchar](10) NULL,
 CONSTRAINT [PK_CUSTOMER_MAST] PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
