USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JOBS_UPDATE_HISTORY_TEMP](
	[JOB_N] [numeric](10, 0) NOT NULL,
	[JOB_TYPE] [char](1) NOT NULL,
	[UPD_DT] [datetime] NULL,
 CONSTRAINT [PK_JOBS_UPDATE_HISTORY_TEMP] PRIMARY KEY CLUSTERED 
(
	[JOB_N] ASC,
	[JOB_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
