USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [consignee_to_eliteint](
	[cust_id] [varchar](10) NULL,
	[s_con_to_send] [varchar](70) NULL
) ON [PRIMARY]

GO
