USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INTTRA_STATUS_CODES_315](
	[event_code] [varchar](10) NOT NULL,
	[event_desc] [varchar](500) NULL,
 CONSTRAINT [PK_status_code_315] PRIMARY KEY CLUSTERED 
(
	[event_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
