USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [carrier_fanar_mast](
	[Plant_code] [varchar](20) NOT NULL,
	[carrier_id] [varchar](30) NULL,
	[fanar_code] [varchar](30) NULL
) ON [PRIMARY]

GO
