USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DOMESTIC](
	[domestic_job_n] [decimal](18, 0) NOT NULL,
	[cust_ord_no] [varchar](50) NULL,
	[po_n] [varchar](50) NULL,
	[do_n] [varchar](50) NULL,
	[i_track_n] [varchar](50) NULL,
	[cust_id] [varchar](10) NOT NULL,
	[add_ref_2] [varchar](40) NULL,
	[add_ref_3] [varchar](40) NULL,
	[add_ref_4] [varchar](40) NULL,
	[add_ref_5] [varchar](40) NULL,
	[add_ref_6] [varchar](40) NULL,
	[booking_n] [varchar](50) NULL,
	[trucker_id] [varchar](10) NULL,
	[vessel] [nvarchar](50) NULL,
	[voyage] [varchar](20) NULL,
	[truck_type] [varchar](50) NULL,
	[chasis_n] [varchar](50) NULL,
	[truck_tare_wt] [varchar](50) NULL,
	[port_load_id] [varchar](10) NULL,
	[port_load_name] [varchar](40) NULL,
	[port_disc_id] [varchar](10) NULL,
	[port_disc_name] [varchar](40) NULL,
	[place_rec_id] [varchar](10) NULL,
	[place_rec_name] [varchar](40) NULL,
	[place_del_id] [varchar](10) NULL,
	[place_del_name] [varchar](50) NULL,
	[eta] [datetime] NULL,
	[ata] [datetime] NULL,
	[etd] [datetime] NULL,
	[atd] [datetime] NULL,
	[cut_off_date] [datetime] NULL,
	[move_type] [varchar](10) NULL,
	[mot] [varchar](10) NULL,
	[job_type] [varchar](2) NULL,
	[s_shipper1] [varchar](70) NULL,
	[s_shipper2] [varchar](70) NULL,
	[s_shipper3] [varchar](70) NULL,
	[s_shipper4] [varchar](70) NULL,
	[s_shipper5] [varchar](70) NULL,
	[s_shipper6] [varchar](70) NULL,
	[s_shipper_contact_name] [nvarchar](50) NULL,
	[s_shipper_contact_number] [varchar](50) NULL,
	[s_shipper_instruction] [nvarchar](2500) NULL,
	[s_con1] [varchar](70) NULL,
	[s_con2] [varchar](70) NULL,
	[s_con3] [varchar](70) NULL,
	[s_con4] [varchar](70) NULL,
	[s_con5] [varchar](70) NULL,
	[s_con6] [varchar](70) NULL,
	[s_con_contact_name] [nvarchar](50) NULL,
	[s_con_contact_number] [varchar](50) NULL,
	[s_con_instruction] [nvarchar](2500) NULL,
	[s_np1] [varchar](70) NULL,
	[s_np2] [varchar](70) NULL,
	[s_np3] [varchar](70) NULL,
	[s_np4] [varchar](70) NULL,
	[s_np5] [varchar](70) NULL,
	[s_np6] [varchar](70) NULL,
	[s_np_contact_name] [nvarchar](50) NULL,
	[s_np_contact_number] [varchar](50) NULL,
	[consignee_n] [varchar](40) NULL,
	[est_door_del_dt] [datetime] NULL,
	[plant_load_dt] [datetime] NULL,
	[payment_terms] [varchar](250) NULL,
	[inco_terms] [varchar](40) NULL,
	[free_det_time_period] [varchar](100) NULL,
	[origin_id] [varchar](10) NULL,
	[origin_desc] [varchar](40) NULL,
	[tot_net_wt] [decimal](12, 4) NULL,
	[tot_gross_wt] [decimal](12, 4) NULL,
	[net_wt_uom] [varchar](10) NULL,
	[gross_wt_uom] [varchar](10) NULL,
	[tot_pkgs] [decimal](18, 0) NULL,
	[pack_type] [varchar](20) NULL,
	[tot_m3] [decimal](18, 0) NULL,
	[remarks] [nvarchar](500) NULL,
	[gd_des1] [varchar](100) NULL,
	[gd_des2] [varchar](100) NULL,
	[country_of_ult_dest] [varchar](50) NULL,
	[created_by] [varchar](10) NULL,
	[created_dt] [datetime] NULL,
	[last_updated_by] [varchar](10) NULL,
	[last_updated_dt] [datetime] NULL,
	[consignee_id] [varchar](10) NULL,
	[notify_id] [varchar](10) NULL,
	[sc_job_n] [decimal](18, 0) NULL,
	[freight_term_id] [varchar](10) NULL,
	[ocean_fr_cost] [varchar](50) NULL,
	[shipper_id] [varchar](10) NULL,
	[s_con_other_name] [nvarchar](70) NULL,
	[order_receive_dt] [datetime] NULL,
	[cancel_ind] [varchar](2) NULL,
	[s_shipper_province] [varchar](50) NULL,
	[s_con_province] [varchar](50) NULL,
	[s_shipper_postal_c] [varchar](50) NULL,
	[s_con_postal_c] [varchar](50) NULL,
	[freight_cost] [numeric](11, 3) NULL,
	[freight_currency] [varchar](10) NULL,
	[ship_to_code] [varchar](10) NULL,
	[sch_id] [numeric](10, 0) NULL,
	[bulk_flag] [varchar](1) NULL,
	[package_flag] [varchar](1) NULL,
	[mix_flag] [varchar](1) NULL,
	[hourly_flag] [varchar](1) NULL,
	[bulk_ret_flag] [varchar](1) NULL,
	[WEB_IND] [char](1) NULL,
	[actual_truckker_id] [varchar](10) NULL,
	[distance] [varchar](20) NULL,
 CONSTRAINT [PK_DOMESTIC] PRIMARY KEY CLUSTERED 
(
	[domestic_job_n] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
