USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMP_BIDDER](
	[bidder_short_name] [nchar](50) NULL,
	[customer_name] [varchar](150) NULL,
	[customer_id] [char](10) NULL
) ON [PRIMARY]

GO
