USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MASTER_ACCOUNT](
	[ACCT_ID] [int] NULL,
	[SHORTDESC] [char](50) NULL,
	[LONGDESC] [char](500) NULL,
	[MANAGER_ID] [char](50) NULL
) ON [PRIMARY]

GO
