USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prod_mast_temp](
	[mat_id] [char](25) NULL,
	[mat_desc] [char](50) NULL,
	[harmonized_code] [char](20) NULL
) ON [PRIMARY]

GO
