USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OTHER_ADDRESSES](
	[CUST_ID] [varchar](10) NOT NULL,
	[CUST_NAME] [varchar](70) NOT NULL,
	[CUST_NAME2] [varchar](40) NOT NULL,
	[CUST_TYPE_ID] [varchar](1) NOT NULL,
	[CUST_TYPE_SUB_ID] [varchar](1) NOT NULL,
	[ADD1] [varchar](40) NULL,
	[ADD2] [varchar](40) NULL,
	[ADD3] [varchar](40) NULL,
	[ADD4] [varchar](40) NULL,
	[ADD5] [varchar](40) NULL,
	[COUNTRY_ID] [varchar](10) NOT NULL,
	[POSTAL_C] [varchar](10) NOT NULL,
	[TEL1] [varchar](20) NOT NULL,
	[TEL2] [varchar](20) NOT NULL,
	[FAX1] [varchar](20) NOT NULL,
	[FAX2] [varchar](20) NOT NULL,
	[EMAIL_1] [varchar](50) NOT NULL,
	[EMAIL_2] [varchar](50) NOT NULL,
	[CONTACT_1] [varchar](50) NOT NULL,
	[CONTACT_2] [varchar](50) NOT NULL,
	[CONTACT_3] [varchar](50) NOT NULL,
	[CONTACT_4] [varchar](50) NOT NULL,
	[CUST_ACC_ID] [varchar](10) NOT NULL,
	[CREDIT_LIMIT_A] [decimal](11, 2) NOT NULL,
	[INV_TO_DATE_A] [decimal](11, 2) NOT NULL,
	[INV_PAID_A] [decimal](11, 2) NOT NULL,
	[APPROVED_BY] [varchar](20) NOT NULL,
	[CURRENCY_ID] [varchar](10) NOT NULL,
	[TERM_ID] [varchar](10) NOT NULL,
	[SALESMAN_ID] [varchar](10) NOT NULL,
	[REMARKS1] [varchar](50) NOT NULL,
	[REMARKS2] [varchar](50) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[CREATE_D] [datetime] NOT NULL,
	[TRA_PORT_ID] [varchar](10) NOT NULL,
	[ADD1_2] [varchar](40) NULL,
	[ADD2_2] [varchar](40) NULL,
	[ADD3_2] [varchar](40) NULL,
	[ADD4_2] [varchar](40) NULL,
	[LIST_IND] [varchar](1) NULL,
	[CURR_BAL] [decimal](10, 2) NULL,
	[LOOKUP_IND] [char](10) NULL,
	[GST_REG_NO] [varchar](30) NULL,
	[REMARKS3] [varchar](300) NULL,
	[REMARKS4] [varchar](300) NULL,
	[INAME] [varchar](20) NULL,
	[IPASS] [varchar](20) NULL,
	[INAME2] [varchar](20) NULL,
	[IPASS2] [varchar](20) NULL,
	[ICUST] [varchar](20) NULL,
	[ITYPE] [varchar](20) NULL,
	[IACTIVE] [varchar](1) NULL,
	[GLB_CUST_ID] [varchar](30) NULL,
	[DEPT_ID] [varchar](50) NULL,
	[BUSINESS_REG_NO] [varchar](30) NULL,
	[TDB_CR_NO] [varchar](30) NULL,
	[CUST_LOGO] [varchar](50) NULL,
	[CUST_FOOTER1] [varchar](100) NULL,
	[CUST_FOOTER2] [varchar](100) NULL,
	[CUST_FOOTER3] [varchar](100) NULL,
	[CUST_FOOTER4] [varchar](100) NULL,
	[CUST_FOOTER5] [varchar](100) NULL,
	[CUST_FOOTER6] [varchar](100) NULL,
	[CUST_EDOCS_FOOTER] [varchar](50) NULL,
	[CUST_EDOCS_ADD] [varchar](50) NULL,
	[CUST_EDOCS_FOOTER_IND] [varchar](1) NULL
) ON [PRIMARY]

GO
