USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUSTOMER_RATES_LOG](
	[LOG_N] [numeric](10, 0) NOT NULL,
	[CUST_ID] [varchar](10) NOT NULL,
	[PORT_ID] [varchar](10) NOT NULL,
	[CHGCODE_ID] [varchar](10) NOT NULL,
	[TRA_TYPE] [varchar](1) NOT NULL,
	[CHG_UNIT_A] [numeric](11, 2) NOT NULL,
	[CHG_UNIT_Q] [numeric](11, 3) NOT NULL,
	[EX_RATE_IND] [varchar](1) NOT NULL,
	[AUTO_BILL_IND] [varchar](1) NOT NULL,
	[WT_M3_IND] [varchar](1) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_RATES_LOG] PRIMARY KEY NONCLUSTERED 
(
	[LOG_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
