USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COSCO_CARRIER_ID](
	[country_id] [varchar](10) NOT NULL,
	[carrier_id] [varchar](10) NOT NULL,
 CONSTRAINT [PK_COSCO_CARRIER_ID] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC,
	[carrier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
