USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VGM_CONTACT_DEFAULT](
	[parentAcctid] [int] NOT NULL,
	[cust_id] [varchar](10) NOT NULL,
	[contact_id] [numeric](10, 0) NOT NULL,
 CONSTRAINT [PK_VGM_CONTACT_DEFAULT] PRIMARY KEY CLUSTERED 
(
	[parentAcctid] ASC,
	[cust_id] ASC,
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
