USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [temp1](
	[exp_imp_n] [numeric](10, 0) NULL,
	[QUICK_TRACK_NO] [varchar](25) NULL,
	[ENTRY_D] [datetime] NOT NULL
) ON [PRIMARY]

GO
