USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUST_PER_IT_REQ](
	[ItRequestNo] [numeric](9, 0) NOT NULL,
	[CustId] [char](10) NOT NULL,
	[Environment] [char](10) NOT NULL,
 CONSTRAINT [PK_CUST_PER_IT_REQ] PRIMARY KEY CLUSTERED 
(
	[ItRequestNo] ASC,
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
