USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Excel_Doc_Header](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedDate] [datetime] NULL,
	[CustId] [varchar](10) NULL,
	[ShipperRefNo] [varchar](20) NULL,
	[ExportNo] [numeric](10, 0) NULL,
	[OrderStatus] [varchar](50) NULL,
	[PrebookingStatus] [varchar](50) NULL,
	[ThPic] [varchar](200) NULL,
	[CountryOfOrigin] [varchar](200) NULL,
	[BlIssuePlace] [varchar](200) NULL,
	[PayerCode] [varchar](20) NULL,
	[PoNo] [varchar](100) NULL,
	[CustName] [varchar](200) NULL,
	[DestCountry] [varchar](200) NULL,
	[ContractDate] [datetime] NULL,
	[ShipmentMth] [varchar](5) NULL,
	[PaymentTerms] [varchar](5) NULL,
	[PaymentUsanceDays] [varchar](100) NULL,
	[IncoTerm] [varchar](5) NULL,
	[ReqEtdEta] [varchar](2048) NULL,
	[ConName] [varchar](200) NULL,
	[NpName] [varchar](200) NULL,
	[Shipment] [varchar](20) NULL,
	[OceanFr] [varchar](15) NULL,
	[InsPaidBy] [varchar](15) NULL,
	[ImpDutyPaidBy] [varchar](15) NULL,
	[DestTerminal] [varchar](15) NULL,
	[PortToIcd] [varchar](15) NULL,
	[PortOfLoad] [varchar](200) NULL,
	[PortOfDisc] [varchar](200) NULL,
	[TerminalPort] [varchar](200) NULL,
	[PlaceOfDel] [varchar](200) NULL,
	[TransConds] [varchar](15) NULL,
	[ShipperRemarks] [varchar](2048) NULL,
	[BkgNo] [varchar](100) NULL,
	[EosCutPreBkg] [datetime] NULL,
	[ShippingCompany] [varchar](200) NULL,
	[Vessel] [varchar](200) NULL,
	[VoyageNo] [varchar](100) NULL,
	[EtaPortOfLoad] [datetime] NULL,
	[EtdPortOfLoad] [datetime] NULL,
	[EtaPortOfDisc] [datetime] NULL,
	[TransCountry] [varchar](200) NULL,
	[TransPort] [varchar](200) NULL,
	[EtaPlaceOfDel] [datetime] NULL,
	[SpecialInstructLineOne] [varchar](2048) NULL,
	[SpecialInstructLineTwo] [varchar](2048) NULL,
	[SpecialInstructLineThree] [varchar](2048) NULL,
	[SpecialInstructLineFour] [varchar](2048) NULL,
	[SpecialInstructLineFive] [varchar](2048) NULL,
	[SpecialInstructLineSix] [varchar](2048) NULL,
	[SpecialInstructLineSeven] [varchar](2048) NULL,
	[SpecialInstructLineEight] [varchar](2048) NULL,
	[SpecialInstructLineNine] [varchar](2048) NULL,
	[SpecialInstructLineTen] [varchar](2048) NULL,
	[ForwarderJobStatus] [varchar](200) NULL,
	[OrderRvdDate] [datetime] NULL,
	[ScheduleCfmDate] [datetime] NULL,
	[BkgStatus] [varchar](200) NULL,
	[AmendStatus] [varchar](50) NULL,
	[EvlsSalesAdminPic] [varchar](200) NULL,
	[Packing] [varchar](15) NULL,
	[Stuffing] [varchar](30) NULL,
	[Vanning] [varchar](5) NULL,
	[NoCont20FclDry] [varchar](100) NULL,
	[NoCont40FclDry] [varchar](100) NULL,
	[Product] [varchar](200) NULL,
	[NoProductQty] [int] NULL,
	[GoodsDescBaseline] [varchar](2048) NULL,
	[GoodsDescLineOne] [varchar](2048) NULL,
	[GoodsDescLineTwo] [varchar](2048) NULL,
	[GoodsDescLineThree] [varchar](2048) NULL,
	[GoodsDescLineFour] [varchar](2048) NULL,
	[GoodsDescLineFive] [varchar](2048) NULL,
	[GoodsDescLineSix] [varchar](2048) NULL,
	[GoodsDescLineSeven] [varchar](2048) NULL,
	[GoodsDescLineEight] [varchar](2048) NULL,
	[GoodsDescLineNine] [varchar](2048) NULL,
	[GoodsDescLineTen] [varchar](2048) NULL,
	[GoodsDescLineEleven] [varchar](2048) NULL,
	[ShippingMarkLabelOn] [varchar](15) NULL,
	[ShippingMarkLineOne] [varchar](2048) NULL,
	[ShippingMarkLineTwo] [varchar](2048) NULL,
	[ShippingMarkLineThree] [varchar](2048) NULL,
	[ShippingMarkLineFour] [varchar](2048) NULL,
	[ShippingMarkLineFive] [varchar](2048) NULL,
	[ShippingMarkLineSix] [varchar](2048) NULL,
	[ShippingMarkLineSeven] [varchar](2048) NULL,
	[ShippingMarkLineEight] [varchar](2048) NULL,
	[ShippingMarkLineNine] [varchar](2048) NULL,
	[ShippingMarkLineTen] [varchar](2048) NULL,
	[ShippingMarkLineEleven] [varchar](2048) NULL,
	[ShippingMarkLineTwelve] [varchar](2048) NULL,
	[NonManCooDocsTypes] [varchar](500) NULL,
	[ManCooDocsTypes] [varchar](500) NULL,
	[CoaDocsTypes] [varchar](500) NULL,
	[OthersDocsTypesOne] [varchar](500) NULL,
	[OthersDocsTypesTwo] [varchar](500) NULL,
	[OthersDocsTypesThree] [varchar](500) NULL,
	[BlDocsTypes] [varchar](50) NULL,
	[Carrier] [varchar](200) NULL,
	[ShipperOne] [varchar](70) NULL,
	[ShipperTwo] [varchar](70) NULL,
	[ShipperThree] [varchar](70) NULL,
	[ShipperFour] [varchar](70) NULL,
	[ShipperFive] [varchar](70) NULL,
	[ShipperSix] [varchar](70) NULL,
	[ShipperSeven] [varchar](70) NULL,
	[ConsigneeOne] [varchar](70) NULL,
	[ConsigneeTwo] [varchar](70) NULL,
	[ConsigneeThree] [varchar](70) NULL,
	[ConsigneeFour] [varchar](70) NULL,
	[ConsigneeFive] [varchar](70) NULL,
	[ConsigneeSix] [varchar](70) NULL,
	[ConsigneeSeven] [varchar](70) NULL,
	[NotifyPartyOne] [varchar](70) NULL,
	[NotifyPartyTwo] [varchar](70) NULL,
	[NotifyPartyThree] [varchar](70) NULL,
	[NotifyPartyFour] [varchar](70) NULL,
	[NotifyPartyFive] [varchar](70) NULL,
	[NotifyPartySix] [varchar](70) NULL,
	[NotifyPartySeven] [varchar](70) NULL,
	[DeliveryOrderNo] [varchar](20) NULL,
	[EvlsCommInvTypes] [varchar](2000) NULL,
	[EvlsPackListTypes] [varchar](2000) NULL,
	[InsPolicyDocsTypes] [varchar](2000) NULL,
	[Source] [varchar](20) NULL
) ON [PRIMARY]

GO
