USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xom_port_mast_temp](
	[port_load_name] [varchar](50) NULL,
	[elite_port_code] [varchar](1) NOT NULL
) ON [PRIMARY]

GO
