USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FREIGHT_RATES_PER_CONT](
	[COUNTRY_ID] [varchar](10) NOT NULL,
	[PORT_ID] [varchar](10) NOT NULL,
	[PARENTACCTID] [int] NOT NULL,
	[CURRENCY_ID] [varchar](10) NULL,
	[CONT20_RATE] [numeric](18, 2) NULL,
	[CONT40_RATE] [numeric](18, 2) NULL,
 CONSTRAINT [PK_FREIGHT_RATES_PER_CONT] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC,
	[PORT_ID] ASC,
	[PARENTACCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
