USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUSINESS_UNIT_ASSIGNED](
	[user_id] [varchar](100) NOT NULL,
	[parent_acct_id] [int] NOT NULL,
	[business_unit_id] [int] NOT NULL,
 CONSTRAINT [PK_BUSINESS_UNIT_ASSIGNED] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[parent_acct_id] ASC,
	[business_unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
