USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUTO_DOCS_CREATION](
	[ROW_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[JOB_NO] [numeric](10, 0) NULL,
	[DOC_TYPE] [varchar](25) NULL,
	[UPD_DT] [datetime] NULL
) ON [PRIMARY]

GO
