USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [REF_PARTY](
	[PartyName] [varchar](150) NOT NULL,
	[PartyDifferentName] [varchar](150) NOT NULL
) ON [PRIMARY]

GO
