USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [temp_permit_master_loc_code_07_2013](
	[loc_code] [varchar](7) NOT NULL,
	[loc_descs] [varchar](105) NULL,
	[RowId] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
