USE [appdata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [XML_SAP_DISC_POINT](
	[cut_disc_code] [varchar](50) NOT NULL,
	[cut_disc_desc] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
