USE [AMERICA]
GO
/****** Object:  Table [dbo].[xom_carrier_mast2]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xom_carrier_mast2](
	[carrier_name] [varchar](50) NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[xom_carrier_mast2] TO  SCHEMA OWNER 
GO
