USE [AMERICA]
GO
/****** Object:  Table [dbo].[PROVINCE_MAST]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCE_MAST](
	[COUNTRYCODE] [varchar](10) NOT NULL,
	[COUNTRYNAME] [varchar](50) NOT NULL,
	[PROVINCE] [varchar](100) NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [PK_PROVINCE_MAST] PRIMARY KEY NONCLUSTERED 
(
	[PROVINCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[PROVINCE_MAST] TO  SCHEMA OWNER 
GO
