USE [AMERICA]
GO
/****** Object:  Table [dbo].[DOC_CONT_DETAILS]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_CONT_DETAILS](
	[DOC_HEAD_NO] [varchar](30) NOT NULL,
	[LINE_NO] [numeric](18, 0) NOT NULL,
	[CONT_NUMBER] [varchar](50) NULL,
	[CONT_TYPE] [varchar](50) NULL,
	[CONT_SIZE] [varchar](50) NULL,
 CONSTRAINT [PK_DOC_CONT_DETAILS] PRIMARY KEY CLUSTERED 
(
	[DOC_HEAD_NO] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[DOC_CONT_DETAILS] TO  SCHEMA OWNER 
GO
