USE [AMERICA]
GO
/****** Object:  Table [dbo].[LC_D_TRANS_DET]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LC_D_TRANS_DET](
	[LC_NC_TRAN_NO] [decimal](10, 0) NOT NULL,
	[LC_D_LINE_NO] [decimal](18, 0) NOT NULL,
	[LC_D_ADVICE_DESC] [varchar](1000) NULL,
	[LC_D_ELITE_FEEDBACK] [varchar](1000) NULL,
	[LC_D_ACTION_TAKEN] [varchar](50) NULL,
	[D_TYPE_DOC_NAME_ID] [decimal](18, 0) NULL,
	[JUSTIFY_IND] [varchar](2) NULL,
	[NC_PARTY1ID] [decimal](10, 0) NULL,
	[NC_PARTY2ID] [decimal](10, 0) NULL,
	[D_TYPE_ERROR_TYPE_ID] [decimal](10, 0) NULL,
	[NC_TYPE_CODE] [varchar](10) NULL,
	[NC_CATE_CODE] [varchar](10) NULL,
	[NC_JOB_NO] [numeric](9, 0) NULL,
	[lc_tran_dt] [datetime] NULL,
 CONSTRAINT [PK_LC_D_TRANS_DET] PRIMARY KEY CLUSTERED 
(
	[LC_NC_TRAN_NO] ASC,
	[LC_D_LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[LC_D_TRANS_DET] TO  SCHEMA OWNER 
GO
