USE [AMERICA]
GO
/****** Object:  Table [dbo].[SYS_USER_MODULE]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_MODULE](
	[MODULE_ID] [varchar](10) NOT NULL,
	[USER_ID] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SYS_USER_MODULE_ModuleId_UserId] PRIMARY KEY NONCLUSTERED 
(
	[MODULE_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[SYS_USER_MODULE] TO  SCHEMA OWNER 
GO
