USE [AMERICA]
GO
/****** Object:  Table [dbo].[DOC_EXPORT_LOT]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_EXPORT_LOT](
	[EXPORT_N] [numeric](10, 0) NOT NULL,
	[LINE_N] [numeric](10, 0) NOT NULL,
	[LOT_N] [varchar](20) NOT NULL,
	[BATCH_N] [varchar](20) NOT NULL,
	[DOC_HEAD_NO] [varchar](30) NULL,
 CONSTRAINT [PK_DOC_EXPORT_LOT] PRIMARY KEY CLUSTERED 
(
	[EXPORT_N] ASC,
	[LINE_N] ASC,
	[LOT_N] ASC,
	[BATCH_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[DOC_EXPORT_LOT] TO  SCHEMA OWNER 
GO
