USE [AMERICA]
GO
/****** Object:  Table [dbo].[JOBS_UPDATE_SOW]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBS_UPDATE_SOW](
	[JOB_N] [numeric](10, 0) NULL,
	[JOB_TYPE] [char](1) NULL,
	[UPD_DT] [datetime] NULL,
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[JOBS_UPDATE_SOW] TO  SCHEMA OWNER 
GO
