USE [AMERICA]
GO
/****** Object:  Table [dbo].[OFFICE_ADDRESS]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFICE_ADDRESS](
	[E_DOCS_COUNTRY_ID] [varchar](2) NOT NULL,
	[COY_NAME] [varchar](50) NULL,
	[COY_ADD1] [varchar](70) NULL,
	[COY_ADD2] [varchar](70) NULL,
	[COY_ADD3] [varchar](70) NULL,
	[COY_ADD4] [varchar](70) NULL,
 CONSTRAINT [PK_OFFICE_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[E_DOCS_COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[OFFICE_ADDRESS] TO  SCHEMA OWNER 
GO
