USE [AMERICA]
GO
/****** Object:  Table [dbo].[CONTAINER_PORT_STATUS]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTAINER_PORT_STATUS](
	[CONTAINER_NUMBER] [varchar](20) NOT NULL,
	[BL_NUMBER] [varchar](20) NULL,
	[LINE_ID] [varchar](10) NULL,
	[SIZE] [varchar](50) NULL,
	[VESSEL] [varchar](30) NULL,
	[VOYAGE] [varchar](30) NULL,
	[DCT_REFERENCE_NO] [varchar](50) NULL,
	[PORT_ROTATION_NO] [varchar](50) NULL,
	[ESTIMATED_ARRIVAL_TIME] [datetime] NULL,
	[ACTUAL_ARRIVAL_TIME] [datetime] NULL,
	[ESTIMATED_DEPARTURE_TIME] [datetime] NULL,
	[ACTUAL_DEPARTURE_TIME] [datetime] NULL,
	[CONTAINER_IN_TIME] [datetime] NULL,
	[CONTAINER_OUT_TIME] [datetime] NULL,
	[CURRENT_STATUS] [varchar](200) NULL,
	[CONTAINER_STATUS] [varchar](100) NULL,
	[ISO_CODE] [varchar](20) NULL,
	[GROSS_WEIGHT] [varchar](10) NULL,
	[UNIT_OF_MEASURE] [varchar](5) NULL,
	[LOAD_PORT] [varchar](20) NULL,
	[ORIGIN] [varchar](20) NULL,
	[DESTINATION] [varchar](50) NULL,
	[DISCHARGE_PORT] [varchar](50) NULL,
	[CONTAINER_SERVICE] [varchar](50) NULL,
	[SERVICE_DATE_MANIFESTED] [datetime] NULL,
	[SERVICE_DATE_TRUCK2YARD] [datetime] NULL,
	[SERVICE_DATE_PREXRAY] [datetime] NULL,
	[SERVICE_DATE_BOOKED_STRIPPPING] [datetime] NULL,
	[SERVICE_DATE_BOOKED_DOOROPEN] [datetime] NULL,
	[SERVICE_DATE_STRIP] [datetime] NULL,
	[SERVICE_DATE_STUFF] [datetime] NULL,
	[SERVICE_DATE_LOAD] [datetime] NULL,
	[NOTES] [varchar](500) NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CONTAINER_PORT_STATUS] TO  SCHEMA OWNER 
GO
