USE [AMERICA]
GO
/****** Object:  Table [dbo].[UOM]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UOM](
	[CODE] [varchar](20) NOT NULL,
	[DESCRIPTION] [varchar](50) NOT NULL,
	[GTN_CODE] [varchar](20) NULL,
 CONSTRAINT [PK__UOM__7D8391DF] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[UOM] TO  SCHEMA OWNER 
GO
