USE [AMERICA]
GO
/****** Object:  Table [dbo].[EDI_OUTPUT]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDI_OUTPUT](
	[EDI_DOC_TYPE] [varchar](50) NOT NULL,
	[EDI_SENDER] [varchar](50) NOT NULL,
	[EDI_RECEIVER] [varchar](50) NOT NULL,
	[EDI_OUT_DIR] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[EDI_OUTPUT] TO  SCHEMA OWNER 
GO
