USE [AMERICA]
GO
/****** Object:  Table [dbo].[INTER_COSTING]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTER_COSTING](
	[REF_N] [numeric](10, 0) NOT NULL,
	[REF_TYPE] [char](2) NOT NULL,
	[LINE_N] [numeric](5, 0) NOT NULL,
	[CHGCODE_ID] [varchar](10) NOT NULL,
	[CURRENCY_ID] [varchar](10) NOT NULL,
	[EX_RATE] [numeric](11, 4) NOT NULL,
	[CHG_A] [numeric](20, 2) NOT NULL,
	[CHG_Q] [numeric](11, 3) NOT NULL,
	[TOT_A] [numeric](20, 2) NOT NULL,
	[TOT_C] [numeric](20, 2) NULL,
	[LOAD_IND] [varchar](10) NULL,
	[DISC_IND] [varchar](10) NULL,
 CONSTRAINT [PK_INTER_COSTING] PRIMARY KEY NONCLUSTERED 
(
	[REF_N] ASC,
	[REF_TYPE] ASC,
	[LINE_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[INTER_COSTING] TO  SCHEMA OWNER 
GO
