USE [AMERICA]
GO
/****** Object:  Table [dbo].[INTTRA_STATUS_CODES_315]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTTRA_STATUS_CODES_315](
	[event_code] [varchar](10) NOT NULL,
	[event_desc] [varchar](500) NULL,
 CONSTRAINT [PK_status_code_315] PRIMARY KEY CLUSTERED 
(
	[event_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[INTTRA_STATUS_CODES_315] TO  SCHEMA OWNER 
GO
