USE [AMERICA]
GO
/****** Object:  Table [dbo].[CUST_PER_IT_REQ]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_PER_IT_REQ](
	[ItRequestNo] [numeric](9, 0) NOT NULL,
	[CustId] [char](10) NOT NULL,
	[Environment] [char](10) NOT NULL,
 CONSTRAINT [PK_CUST_PER_IT_REQ] PRIMARY KEY CLUSTERED 
(
	[ItRequestNo] ASC,
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CUST_PER_IT_REQ] TO  SCHEMA OWNER 
GO
