USE [AMERICA]
GO
/****** Object:  Table [dbo].[SALESMAN_MAST]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALESMAN_MAST](
	[SALESMAN_ID] [varchar](10) NOT NULL,
	[SALESMAN_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_SALESMAN_MAST] PRIMARY KEY NONCLUSTERED 
(
	[SALESMAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[SALESMAN_MAST] TO  SCHEMA OWNER 
GO
