USE [AMERICA]
GO
/****** Object:  Table [dbo].[CUST_TYPE_SUB_MAST]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_TYPE_SUB_MAST](
	[CUST_TYPE_SUB_ID] [varchar](10) NOT NULL,
	[CUST_TYPE_SUB_DES] [varchar](40) NOT NULL,
 CONSTRAINT [PK_CUST_TYPE_SUB_MAST] PRIMARY KEY NONCLUSTERED 
(
	[CUST_TYPE_SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CUST_TYPE_SUB_MAST] TO  SCHEMA OWNER 
GO
