USE [AMERICA]
GO
/****** Object:  Table [dbo].[ACTIVE_LOG]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVE_LOG](
	[ACTIVITY_SEQ_N] [varchar](30) NOT NULL,
	[ACTIVITY_ID] [varchar](30) NOT NULL,
	[ACTIVITY_DESC] [varchar](100) NULL,
	[USER_ID] [varchar](30) NULL,
	[SCHEMANAME] [varchar](30) NULL,
	[OSUSER] [varchar](30) NULL,
	[MACHINE] [varchar](30) NULL,
	[TERMINAL] [varchar](30) NULL,
	[PROGRAM] [varchar](30) NULL,
	[CREATE_D] [datetime] NULL,
 CONSTRAINT [PK_ACTIVE_LOG] PRIMARY KEY NONCLUSTERED 
(
	[ACTIVITY_SEQ_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[ACTIVE_LOG] TO  SCHEMA OWNER 
GO
