USE [AMERICA]
GO
/****** Object:  Table [dbo].[GENCODE_MAST]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENCODE_MAST](
	[GENCODE_ID] [varchar](10) NOT NULL,
	[GENCODE_DES] [varchar](40) NULL,
	[ADD_DESC] [varchar](25) NULL,
 CONSTRAINT [PK_GENCODE_MAST] PRIMARY KEY NONCLUSTERED 
(
	[GENCODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[GENCODE_MAST] TO  SCHEMA OWNER 
GO
