USE [AMERICA]
GO
/****** Object:  Table [dbo].[CURRENCY_MONTHLY_RATE]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY_MONTHLY_RATE](
	[CURRENCY_MONTH] [numeric](2, 0) NOT NULL,
	[CURRENCY_YEAR] [numeric](4, 0) NOT NULL,
	[CURRENCY_FROM] [varchar](10) NOT NULL,
	[CURRENCY_TO] [varchar](10) NOT NULL,
	[CURRENCY_MONTH_RATE] [numeric](11, 4) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[RATE_FROM] [numeric](11, 4) NULL,
	[RATE_TO] [numeric](11, 4) NULL,
	[CURRENCY_ID] [varchar](1) NOT NULL,
 CONSTRAINT [PK_CURRENCY_MONTHLY_RATE] PRIMARY KEY NONCLUSTERED 
(
	[CURRENCY_MONTH] ASC,
	[CURRENCY_YEAR] ASC,
	[CURRENCY_FROM] ASC,
	[CURRENCY_TO] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CURRENCY_MONTHLY_RATE] TO  SCHEMA OWNER 
GO
