USE [AMERICA]
GO
/****** Object:  Table [dbo].[JOBS_OC_PDF_GENERATE]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBS_OC_PDF_GENERATE](
	[ROW_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SHIPPER_REF] [varchar](40) NULL,
	[DOC_TYPE] [varchar](25) NULL,
	[UPD_DT] [datetime] NULL,
	[CREATED_FLAG] [char](1) NULL,
	[SEQ_NO] [numeric](10, 0) NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[JOBS_OC_PDF_GENERATE] TO  SCHEMA OWNER 
GO
