USE [AMERICA]
GO
/****** Object:  Table [dbo].[permit_party]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permit_party](
	[permit_id] [char](10) NOT NULL,
	[job_no] [varchar](14) NOT NULL,
	[decagent_code] [varchar](20) NULL,
	[decagent_name1] [varchar](50) NULL,
	[decagent_name2] [varchar](50) NULL,
	[decagent_name3] [varchar](50) NULL,
	[decagent_cr_uei] [varchar](20) NULL,
	[exporter_code] [varchar](20) NULL,
	[exporter_name1] [varchar](35) NULL,
	[exporter_name2] [varchar](35) NULL,
	[exporter_cr_uei] [varchar](20) NULL,
	[exporter_add1] [varchar](35) NULL,
	[exporter_add2] [varchar](35) NULL,
	[exporter_add3] [varchar](35) NULL,
	[outcragent_code] [varchar](20) NULL,
	[outcragent_name1] [varchar](50) NULL,
	[outcragent_name2] [varchar](50) NULL,
	[outcragent_name3] [varchar](50) NULL,
	[outcragent_cr_uei] [varchar](20) NULL,
	[incragent_code] [varchar](20) NULL,
	[incragent_name1] [varchar](50) NULL,
	[incragent_name2] [varchar](35) NULL,
	[incragent_name3] [varchar](35) NULL,
	[incragent_cr_uei] [varchar](20) NULL,
	[freight_code] [varchar](20) NULL,
	[freight_name1] [varchar](50) NULL,
	[freight_name2] [varchar](50) NULL,
	[freight_name3] [varchar](50) NULL,
	[freight_cr_uei] [varchar](20) NULL,
	[importer_code] [varchar](20) NULL,
	[importer_name1] [varchar](35) NULL,
	[importer_name2] [varchar](35) NULL,
	[importer_cr_uei] [varchar](20) NULL,
	[enduser_code] [varchar](20) NULL,
	[enduser_name1] [varchar](35) NULL,
	[enduser_name2] [varchar](35) NULL,
	[enduser_name3] [varchar](35) NULL,
	[enduser_add1] [varchar](35) NULL,
	[enduser_add2] [varchar](35) NULL,
	[enduser_add3] [varchar](35) NULL,
	[consignee_code] [varchar](20) NULL,
	[consignee_name1] [varchar](35) NULL,
	[consignee_name2] [varchar](35) NULL,
	[consignee_add1] [varchar](35) NULL,
	[consignee_add2] [varchar](35) NULL,
	[consignee_add3] [varchar](35) NULL,
	[manu_code] [varchar](20) NULL,
	[manu_name1] [varchar](35) NULL,
	[manu_name2] [varchar](35) NULL,
	[manu_cr_uei] [varchar](20) NULL,
	[manu_add1] [varchar](35) NULL,
	[manu_add2] [varchar](35) NULL,
	[manu_add3] [varchar](35) NULL,
	[RowId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[claim_party_name1] [varchar](100) NULL,
	[claim_party_name2] [varchar](35) NULL,
	[claim_party_name3] [varchar](35) NULL,
	[claim_party_cr_uei] [varchar](20) NULL,
	[claimant_name1] [varchar](50) NULL,
	[claimant_name2] [varchar](50) NULL,
	[claimant_name3] [varchar](35) NULL,
	[claimant_id] [varchar](20) NULL,
	[exporter_str] [varchar](35) NULL,
	[exporter_str2] [varchar](35) NULL,
	[exporter_city] [varchar](35) NULL,
	[exporter_sbt_code] [varchar](9) NULL,
	[exporter_sbt_name] [varchar](35) NULL,
	[exporter_pst_code] [varchar](9) NULL,
	[exporter_cty_code] [varchar](2) NULL,
	[decagent_str] [varchar](35) NULL,
	[decagent_city] [varchar](35) NULL,
	[decagent_sbt_code] [varchar](9) NULL,
	[decagent_sbt_name] [varchar](35) NULL,
	[decagent_pst_code] [varchar](9) NULL,
	[decagent_cty_code] [varchar](2) NULL,
	[outcragent_str] [varchar](35) NULL,
	[outcragent_city] [varchar](35) NULL,
	[outcragent_sbt_code] [varchar](9) NULL,
	[outcragent_sbt_name] [varchar](35) NULL,
	[outcragent_pst_code] [varchar](9) NULL,
	[outcragent_cty_code] [varchar](2) NULL,
	[freight_str] [varchar](35) NULL,
	[freight_city] [varchar](35) NULL,
	[freight_sbt_code] [varchar](9) NULL,
	[freight_sbt_name] [varchar](35) NULL,
	[freight_pst_code] [varchar](9) NULL,
	[freight_cty_code] [varchar](2) NULL,
	[consignee_str] [varchar](35) NULL,
	[consignee_str2] [varchar](35) NULL,
	[consignee_city] [varchar](35) NULL,
	[consignee_sbt_code] [varchar](9) NULL,
	[consignee_sbt_name] [varchar](35) NULL,
	[consignee_pst_code] [varchar](9) NULL,
	[consignee_cty_code] [varchar](2) NULL,
	[manu_str] [varchar](35) NULL,
	[manu_str2] [varchar](35) NULL,
	[manu_city] [varchar](35) NULL,
	[manu_sbt_code] [varchar](9) NULL,
	[manu_sbt_name] [varchar](35) NULL,
	[manu_pst_code] [varchar](9) NULL,
	[manu_cty_code] [varchar](2) NULL,
 CONSTRAINT [PK_permit_party] PRIMARY KEY CLUSTERED 
(
	[permit_id] ASC,
	[job_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[permit_party] TO  SCHEMA OWNER 
GO
