USE [AMERICA]
GO
/****** Object:  Table [dbo].[entity_types]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entity_types](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](255) NOT NULL,
	[display_name] [varchar](255) NOT NULL,
 CONSTRAINT [PK__entity_t__3213E83F475D56AF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[entity_types] TO  SCHEMA OWNER 
GO
