USE [AMERICA]
GO
/****** Object:  Table [dbo].[SYS_DEFAULT]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DEFAULT](
	[DEFAULT_ID] [varchar](10) NOT NULL,
	[COUNTRY_ID] [varchar](10) NOT NULL,
	[CURRENCY_ID] [varchar](10) NOT NULL,
	[HBL_ID] [varchar](10) NOT NULL,
	[PORT_LOAD_ID] [varchar](10) NOT NULL,
	[GST_P] [numeric](11, 3) NOT NULL,
	[COY_NAME] [varchar](50) NOT NULL,
	[COY_ADD1] [varchar](70) NOT NULL,
	[COY_ADD2] [varchar](70) NOT NULL,
	[COY_ADD3] [varchar](70) NOT NULL,
	[COY_ADD4] [varchar](70) NOT NULL,
	[CR_N] [varchar](30) NOT NULL,
	[INVOICE_PAY_TO] [varchar](100) NOT NULL,
	[INVOICE_PAY_TO2] [varchar](100) NOT NULL,
	[BANK_AC_CODE] [varchar](15) NULL,
	[EX_AC_CODE] [varchar](15) NULL,
	[INVOICE_PAY_TO3] [varchar](100) NULL,
	[PERIOD_START] [numeric](22, 0) NULL,
	[CASH_AC_CODE] [numeric](22, 4) NULL,
	[FIND_YEAR] [numeric](22, 0) NULL,
	[D_DATE] [datetime] NULL,
	[DATE_IND] [varchar](1) NULL,
	[LOCAL_AR_ACC] [numeric](22, 4) NULL,
	[LOCAL_AP_ACC] [numeric](22, 4) NULL,
	[FORIEGN_AR_ACC] [numeric](22, 4) NULL,
	[FORIEGN_AP_ACC] [numeric](22, 4) NULL,
	[BANK_DET1] [varchar](40) NULL,
	[BANK_DET2] [varchar](40) NULL,
	[BANK_DET3] [varchar](40) NULL,
	[BANK_DET4] [varchar](40) NULL,
	[BANK_DET5] [varchar](40) NULL,
	[MAST_ID] [varchar](15) NULL,
	[PARTY_ID] [varchar](15) NULL,
	[BANK_NAME1] [varchar](30) NULL,
	[BANK_NAME2] [varchar](30) NULL,
	[BANK_NAME3] [varchar](30) NULL,
	[BANK_NAME4] [varchar](30) NULL,
	[BANK_AC1] [numeric](22, 0) NULL,
	[BANK_AC2] [numeric](22, 0) NULL,
	[BANK_AC3] [numeric](22, 0) NULL,
	[BANK_AC4] [numeric](22, 0) NULL,
	[CUST_QUT_FOOT] [varchar](300) NULL,
	[CUST_QUT_HEAD] [varchar](300) NULL,
	[GST_HEAD] [varchar](100) NULL,
	[PRINT_NAME1] [varchar](100) NULL,
	[PRINT_NAME2] [varchar](100) NULL,
	[RPT_TEXT] [varchar](300) NULL,
	[COUNTRY] [varchar](30) NULL,
	[REM1] [varchar](100) NULL,
	[REM2] [varchar](100) NULL,
	[CITY_ID] [varchar](40) NULL,
	[BL_TOP] [varchar](5) NULL,
	[BL_LEFT] [varchar](5) NULL,
	[AWB_TOP] [varchar](5) NULL,
	[AWB_LEFT] [varchar](5) NULL,
	[WORK_HR1] [varchar](40) NULL,
	[WORK_HR2] [varchar](40) NULL,
	[INVOICE_PAY_TO4] [varchar](100) NULL,
	[IATA_CD] [varchar](40) NULL,
	[ACC_NO] [varchar](40) NULL,
	[AIR_CHG_C] [varchar](10) NULL,
	[BL_PRN_CNT] [numeric](10, 0) NULL,
	[HBL_COY_NAME] [varchar](50) NULL,
	[ALERT_DAYS] [numeric](2, 0) NULL,
	[OBL_REMARKS1] [varchar](100) NULL,
	[OBL_REMARKS2] [varchar](100) NULL,
	[ARR_REMARKS] [varchar](400) NULL,
	[COY_DO_REF_N] [varchar](50) NULL,
	[E_DOCS_COUNTRY_ID] [varchar](2) NULL,
	[INV_FOOT1] [varchar](100) NULL,
	[INV_FOOT2] [varchar](100) NULL,
	[INV_FOOT3] [varchar](100) NULL,
	[INV_FOOT4] [varchar](100) NULL,
	[INV_FOOT5] [varchar](100) NULL,
	[INV_FOOT6] [varchar](100) NULL,
	[INV_FOOT7] [varchar](100) NULL,
	[INV_FOOT8] [varchar](100) NULL,
	[HAZARD_DECL] [varchar](350) NULL,
	[PACK_CERT] [varchar](250) NULL,
	[EMER_CONT] [varchar](250) NULL,
	[USBOYCOTT_CLAUSE] [varchar](250) NULL,
	[SED_CLAUSE] [varchar](250) NULL,
	[ITN] [varchar](250) NULL,
	[SIGN_DECL] [varchar](250) NULL,
	[HAZARD_DECL2] [varchar](250) NULL,
	[SOA_FOOTER] [varchar](500) NULL,
	[BANK_NAME5] [varchar](30) NULL,
	[BANK_AC5] [numeric](22, 0) NULL,
	[TAX_LABEL] [varchar](10) NULL,
	[QUICK_TRACK_URL] [varchar](100) NULL,
	[ELITEINT_URL] [varchar](100) NULL,
	[version] [varchar](10) NULL,
	[UEN] [varchar](30) NULL,
	[INV_FOOT9] [varchar](100) NULL,
	[INV_FOOT10] [varchar](100) NULL,
	[log_history] [char](1) NOT NULL,
	[consolidate_invoice] [char](1) NOT NULL,
	[invoice_prefix] [varchar](5) NOT NULL,
	[IsMainEntity] [char](1) NOT NULL,
	[show_invoice_footer] [char](1) NOT NULL,
	[enable_cost_statement] [char](1) NOT NULL,
	[link_to_YYAcctgSystem] [char](1) NOT NULL,
	[chk_payable_linked_to_invoice] [char](1) NOT NULL,
	[def_dom_trucker_id] [varchar](10) NULL,
	[chk_read_write] [varchar](1) NULL,
	[chk_custid_security] [varchar](1) NULL,
	[chk_ord_mgmt_ind] [numeric](1, 0) NULL,
	[ord_mgmt_msg] [numeric](1, 0) NULL,
	[server_ip_add] [varchar](20) NULL,
	[dbase_name] [varchar](20) NULL,
	[BANK_NAME6] [varchar](30) NULL,
	[BANK_AC6] [numeric](22, 0) NULL,
	[BANK_NAME7] [varchar](30) NULL,
	[BANK_AC7] [numeric](22, 0) NULL,
	[BANK_NAME8] [varchar](30) NULL,
	[BANK_AC8] [numeric](22, 0) NULL,
	[sys] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SYS_DEFAULT] PRIMARY KEY NONCLUSTERED 
(
	[DEFAULT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[SYS_DEFAULT] TO  SCHEMA OWNER 
GO
