USE [AMERICA]
GO
/****** Object:  Table [dbo].[AGENT_RATES]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENT_RATES](
	[CUST_ID] [varchar](10) NOT NULL,
	[PORT_ID] [varchar](10) NOT NULL,
	[CHG_A] [numeric](11, 2) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[CHG_I] [numeric](11, 2) NULL,
	[CHG_C] [numeric](11, 2) NULL,
	[REBATE_I20] [numeric](11, 3) NULL,
	[REBATE_I40] [numeric](11, 3) NULL,
	[REBATE_E20] [numeric](11, 3) NULL,
	[REBATE_E40] [numeric](11, 3) NULL,
	[REMARKS] [varchar](20) NULL,
 CONSTRAINT [PK_AGENT_RATES] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[AGENT_RATES] TO  SCHEMA OWNER 
GO
