USE [AMERICA]
GO
/****** Object:  Table [dbo].[CONT_TYPE_MAST]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONT_TYPE_MAST](
	[CONT_TYPE_ID] [varchar](10) NOT NULL,
	[CONT_TYPE_DES] [varchar](40) NOT NULL,
	[CONT_M3] [numeric](11, 3) NOT NULL,
	[CONT_WT] [numeric](11, 3) NOT NULL,
	[CONT_MAX_M3] [numeric](11, 3) NOT NULL,
	[CONT_MAX_WT] [numeric](11, 3) NOT NULL,
	[CONT_TEU] [numeric](1, 0) NOT NULL,
	[CONT_SIZE] [varchar](10) NOT NULL,
	[customs_cont_type] [varchar](5) NULL,
	[TARE_WT] [decimal](10, 2) NULL,
 CONSTRAINT [PK_CONT_TYPE_MAST] PRIMARY KEY NONCLUSTERED 
(
	[CONT_TYPE_ID] ASC,
	[CONT_TYPE_DES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CONT_TYPE_MAST] TO  SCHEMA OWNER 
GO
