USE [AMERICA]
GO
/****** Object:  Table [dbo].[CUSTOMER_RATES]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_RATES](
	[CUST_ID] [varchar](10) NOT NULL,
	[PORT_ID] [varchar](10) NOT NULL,
	[CHGCODE_ID] [varchar](10) NOT NULL,
	[TRA_TYPE] [varchar](1) NOT NULL,
	[PORT_LOAD_ID] [varchar](10) NOT NULL,
	[CHG_UNIT_A] [numeric](11, 3) NOT NULL,
	[CHG_UNIT_Q] [numeric](11, 4) NOT NULL,
	[EX_RATE_IND] [varchar](1) NOT NULL,
	[AUTO_BILL_IND] [varchar](1) NOT NULL,
	[WT_M3_IND] [varchar](1) NOT NULL,
	[USER_ID] [varchar](20) NOT NULL,
	[ENTRY_D] [datetime] NOT NULL,
	[CREATE_D] [datetime] NOT NULL,
	[REMARKS] [varchar](40) NULL,
	[CONV_R] [numeric](11, 2) NULL,
	[MIN_CHG_A] [numeric](11, 2) NULL,
	[CURRENCY_ID] [varchar](10) NULL,
	[CONTRACT_N] [varchar](20) NOT NULL,
	[CONSIGNEE_ID] [varchar](10) NULL,
	[VENDOR_ID] [varchar](10) NULL,
	[COST_Q] [numeric](11, 3) NULL,
	[CHG_TYPE] [varchar](10) NULL,
	[CHG_GST] [varchar](10) NULL,
	[SEQ_N] [numeric](11, 0) NULL,
 CONSTRAINT [PK_CUSTOMER_RATES] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[PORT_ID] ASC,
	[CHGCODE_ID] ASC,
	[TRA_TYPE] ASC,
	[PORT_LOAD_ID] ASC,
	[CONTRACT_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CUSTOMER_RATES] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[CUSTOMER_RATES]  WITH NOCHECK ADD  CONSTRAINT [FK_CUSTOMER_REF_4123_PORT_MAS] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[PORT_MAST] ([PORT_ID])
GO
ALTER TABLE [dbo].[CUSTOMER_RATES] CHECK CONSTRAINT [FK_CUSTOMER_REF_4123_PORT_MAS]
GO
ALTER TABLE [dbo].[CUSTOMER_RATES]  WITH NOCHECK ADD  CONSTRAINT [FK_CUSTOMER_REF_4126_CHGCODE_] FOREIGN KEY([CHGCODE_ID])
REFERENCES [dbo].[CHGCODE_MAST] ([CHGCODE_ID])
GO
ALTER TABLE [dbo].[CUSTOMER_RATES] CHECK CONSTRAINT [FK_CUSTOMER_REF_4126_CHGCODE_]
GO
