USE [AMERICA]
GO
/****** Object:  Table [dbo].[IMPORT_REF_CONT]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_REF_CONT](
	[IMPORT_REF_N] [numeric](10, 0) NOT NULL,
	[CONT_SEQ_N] [numeric](18, 0) NOT NULL,
	[CONT_N] [varchar](20) NOT NULL,
	[SEAL_N] [varchar](50) NULL,
	[CONT_TYPE_ID] [varchar](10) NOT NULL,
	[IMPORT_N] [numeric](10, 0) NULL,
	[SELECT_IND] [char](1) NULL,
	[CONT_SIZE] [varchar](10) NOT NULL,
	[TOT_WT] [numeric](11, 3) NULL,
	[TOT_NET_WT] [numeric](11, 3) NULL,
	[TOT_PACKAGES] [numeric](10, 0) NULL,
	[TOT_PACK_TYPE] [varchar](20) NULL,
	[LOT_N] [varchar](20) NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_IMPORT_REF_CONT] PRIMARY KEY NONCLUSTERED 
(
	[IMPORT_REF_N] ASC,
	[CONT_SEQ_N] ASC,
	[CONT_N] ASC,
	[CONT_TYPE_ID] ASC,
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[IMPORT_REF_CONT] TO  SCHEMA OWNER 
GO
