USE [AMERICA]
GO
/****** Object:  Table [dbo].[ORDER_H]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_H](
	[ORDER_ID] [numeric](10, 0) NOT NULL,
	[ORDER_TYPE] [numeric](2, 0) NULL,
	[EXP_IMP_N] [numeric](10, 0) NULL,
	[PROD_VAL] [numeric](11, 3) NULL,
	[PAYMENT_TERM_ID] [numeric](10, 0) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_D] [datetime] NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_D] [datetime] NULL,
	[ETA_SIN] [datetime] NULL,
	[QUICK_TRACK_NO] [varchar](25) NULL,
	[ORDER_RCV_D] [datetime] NULL,
	[BOOKED_D] [datetime] NULL,
	[SHIPPER_CTC] [varchar](300) NULL,
	[SHIPPER_EMAIL] [varchar](255) NULL,
	[SHIPPER_TEL] [varchar](50) NULL,
	[SHIPPER_FAX] [varchar](50) NULL,
	[CONFIRM_D] [datetime] NULL,
	[REQ_SHIP_D] [datetime] NULL,
	[REMARKS1] [varchar](50) NULL,
	[REMARKS2] [varchar](50) NULL,
	[REMARKS3] [varchar](50) NULL,
	[BILLING1] [varchar](50) NULL,
	[BILLING2] [varchar](50) NULL,
	[CANCEL_REM] [varchar](50) NULL,
	[CONTRACT_N] [varchar](20) NULL,
	[FCL_OR_LCL] [char](3) NULL,
	[TOT_FOB] [numeric](8, 2) NULL,
	[BIG_MARKING] [text] NULL,
	[EDI_TP] [char](1) NULL,
	[EDI_RESP_SEQ] [numeric](5, 0) NULL,
	[EDI_RESP_D] [datetime] NULL,
	[EDI_SENDER] [varchar](40) NULL,
	[EDI_REC_D] [datetime] NULL,
	[EDI_RECEIVER] [varchar](40) NULL,
	[EDI_REVISION] [varchar](10) NULL,
	[EDI_REC_TYPE] [varchar](10) NULL,
	[EDI_BSNS_UNIT_ID] [varchar](20) NULL,
	[EDI_BSNS_UNIT_NAME] [varchar](40) NULL,
	[EDI_BSNS_UNIT_ADD1] [varchar](40) NULL,
	[EDI_BSNS_UNIT_ADD2] [varchar](40) NULL,
	[EDI_BSNS_UNIT_ADD3] [varchar](40) NULL,
	[EDI_BSNS_UNIT_ADD4] [varchar](40) NULL,
	[EDI_BSNS_UNIT_ADD5] [varchar](40) NULL,
	[INV_VALUE_TTL] [varchar](40) NULL,
	[BL_DRAFT_PREP] [varchar](40) NULL,
	[BL_INSTRUCT] [varchar](100) NULL,
	[CONT_NO] [varchar](40) NULL,
	[CONFIRM_IND] [char](1) NULL,
	[psa_portnet] [varchar](50) NULL,
	[cont_pick_ref_n] [varchar](50) NULL,
	[stripes_del_no] [varchar](200) NULL,
	[TRAX_ORDERID] [numeric](11, 0) NULL,
	[TRAX_UPDATE_D] [datetime] NULL,
	[TRAX_UPDATE_USER] [varchar](40) NULL,
	[dhl_no] [varchar](30) NULL,
	[LC_CONFIRMED] [varchar](1) NULL,
	[total_pallets] [numeric](10, 4) NULL,
	[proposed_delivery_date] [datetime] NULL,
	[HI_CUTOFF_DATE] [datetime] NULL,
	[ISPROFORMAINV_PRINTED] [char](1) NULL,
	[PROFORMAINV_PRINTED_BY] [varchar](10) NULL,
	[PROFORMAINV_PRINT_DATE] [datetime] NULL,
	[cnb_approval_dt] [datetime] NULL,
	[PSA_PORTNET_VOYAGE] [varchar](50) NULL,
	[shipper_email_addtl] [varchar](255) NULL,
	[payment_term_id_2] [int] NULL,
	[impt_cty_hscode] [varchar](255) NULL,
	[sailing_adv_d] [datetime] NULL,
	[cert_header] [varchar](2000) NULL,
	[cert_descs] [varchar](2000) NULL,
	[cert_cbx] [char](1) NULL,
	[cert_date] [datetime] NULL,
	[customs_flag] [char](1) NULL,
	[pud_approved] [char](1) NULL,
	[pud_approved_by] [varchar](50) NULL,
	[pud_approved_date] [datetime] NULL,
	[pud_remarks] [varchar](500) NULL,
	[isf102_ref] [varchar](50) NULL,
	[Collecting_Bank] [varchar](100) NULL,
	[bc_sent_plant_cust] [datetime] NULL,
	[VEHICLE_LOAD_N] [varchar](40) NULL,
	[customs_remarks] [varchar](255) NULL,
	[doc_type] [varchar](100) NULL,
	[berth] [varchar](4) NULL,
	[bkg_approved_by] [varchar](10) NULL,
	[bkg_approved_date] [datetime] NULL,
	[bkg_remarks] [varchar](255) NULL,
	[chamber_copies] [numeric](10, 0) NULL,
	[chamber_con_code] [varchar](30) NULL,
	[chamber_con1] [varchar](35) NULL,
	[chamber_con2] [varchar](35) NULL,
	[chamber_con3] [varchar](35) NULL,
	[chamber_con4] [varchar](35) NULL,
	[chamber_con5] [varchar](35) NULL,
	[chamber_con6] [varchar](35) NULL,
	[CHAMBER_INV_AMT] [numeric](20, 2) NULL,
	[CHAMBER_CURR_ID] [varchar](10) NULL,
	[shipment_no] [varchar](30) NULL,
	[delivery_no] [varchar](30) NULL,
	[booking_handledby] [varchar](40) NULL,
	[docs_handledby] [varchar](40) NULL,
	[draft_docs_to_cust_date] [datetime] NULL,
	[ord_sent_dt_mels] [datetime] NULL,
	[pending_dt_mels] [datetime] NULL,
	[pl_eo_sent_dt_mels] [datetime] NULL,
	[ship_sched_dt_mels] [datetime] NULL,
	[ranking_mels] [numeric](10, 3) NULL,
	[vanning_dt_mels] [datetime] NULL,
	[rcv_cfm_bl_dt_mels] [datetime] NULL,
	[latest_stat_mels] [varchar](255) NULL,
	[next_pic_mels] [varchar](50) NULL,
	[due_so_send_dt_mels] [varchar](20) NULL,
	[bl_cost] [decimal](20, 3) NULL,
	[bl_cost_sgd] [decimal](20, 3) NULL,
	[MitsuiArea] [varchar](50) NULL,
	[selected_cr_rank] [numeric](10, 0) NULL,
	[cr_rank_1] [numeric](10, 0) NULL,
	[rank_reason] [varchar](200) NULL,
	[MITSUI_RCV_BL_ELITE] [varchar](20) NULL,
	[MITSUI_DUE_DT_SO] [varchar](20) NULL,
	[MITSUI_RQST_DEL_D] [varchar](30) NULL,
	[EOPLSentToMELSandWarehouse] [char](1) NOT NULL,
	[HD_FLAG] [varchar](1) NOT NULL,
	[loading_ins] [varchar](255) NULL,
	[MITSUI_ADD_BL_DESC] [varchar](255) NULL,
	[csp_email_exxon] [varchar](500) NULL,
	[lubsposwitch] [numeric](1, 0) NULL,
	[GrDate] [datetime] NULL,
	[vdp_send_d] [datetime] NULL,
	[vdp_ref_rcvd] [char](1) NULL,
	[vdp_send_by] [varchar](10) NULL,
	[co_required] [varchar](1) NOT NULL,
	[shipcert_required] [varchar](1) NOT NULL,
	[certno_required] [varchar](1) NOT NULL,
	[shipcert_send_by] [varchar](20) NULL,
	[shipcert_send_d] [datetime] NULL,
	[user_seq20] [varchar](20) NULL,
	[chamber_required] [varchar](1) NOT NULL,
	[TrkArrDate] [datetime] NULL,
	[TrkDepDate] [datetime] NULL,
	[RailArrDate] [datetime] NULL,
	[RailDepDate] [datetime] NULL,
	[AES_date] [datetime] NULL,
	[doc_cutoff_date] [datetime] NULL,
	[rail_cutoff_date] [datetime] NULL,
	[denied_party_screening_date] [datetime] NULL,
	[del_inst_upd_date] [datetime] NULL,
	[shipstart_loadend_upd_date] [datetime] NULL,
	[manifest_to_carrier_date] [datetime] NULL,
	[manifest_from_carrier_date] [datetime] NULL,
	[contact_party] [varchar](70) NULL,
	[contact_addr1] [varchar](40) NULL,
	[contact_addr2] [varchar](40) NULL,
	[contact_addr3] [varchar](40) NULL,
	[contact_addr4] [varchar](40) NULL,
	[contact_city] [varchar](40) NULL,
	[contact_ctry_subdivision] [varchar](40) NULL,
	[contact_postal_code] [varchar](15) NULL,
	[contact_country] [varchar](10) NULL,
	[contact_id] [numeric](10, 0) NULL,
	[send_vgm_as] [varchar](1) NULL,
	[courier_number] [varchar](30) NULL,
	[rvsd_manifest_to_carrier_date] [datetime] NULL,
	[rvsd_manifest_from_carrier_date] [datetime] NULL,
	[draft_doc_cfm_by_cust_date] [datetime] NULL,
	[DBLI_RECEIVER_D] [datetime] NULL,
	[rev_bc_sent_plant_cust] [datetime] NULL,
	[shippers_memo] [varchar](255) NULL,
	[mat_avail_dt] [datetime] NULL,
	[endorse_coo_to_pol] [datetime] NULL,
	[docs_from_plant] [datetime] NULL,
	[revised_docs_to_bank] [datetime] NULL,
	[obl_rel_col_ind] [int] NULL,
	[obl_rel_col_date] [datetime] NULL,
	[endorse_coo] [char](1) NULL,
	[coo_requested] [datetime] NULL,
	[mci_coo] [char](1) NULL,
	[endorse_coo_remarks] [varchar](800) NULL,
	[bottom_seal] [varchar](255) NULL,
	[bl_handledby] [varchar](40) NULL,
	[bl_user] [varchar](100) NULL,
	[docs_user] [varchar](100) NULL,
	[booking_user] [varchar](100) NULL,
	[lto_received_date] [datetime] NULL,
	[acknowledge_date] [datetime] NULL,
	[Transpt_plan_dt] [datetime] NULL,
	[dhl_scan_date] [datetime] NULL,
	[bl_acknowledgedate] [datetime] NULL,
	[docs_acknowledgedate] [datetime] NULL,
	[dps_sent_date] [datetime] NULL,
	[aes_sent_date] [datetime] NULL,
	[elite_dhl_no] [varchar](30) NULL,
	[pallet_multply] [numeric](12, 2) NULL,
	[tenor_days] [numeric](9, 0) NULL,
	[copy_doc_received] [char](1) NULL,
	[docs_sent_via_dhl_dt] [datetime] NULL,
	[self_collection_d] [datetime] NULL,
	[final_docs_email_to_cust_date] [datetime] NULL,
	[orig_bl_release_at_dest] [char](1) NULL,
	[sto_2_docs_sent_identifier] [char](1) NULL,
	[shipping_certificate_flag] [char](1) NULL,
	[split_bl_count] [int] NULL,
	[bl_draft_1st_upld_by] [varchar](100) NULL,
 CONSTRAINT [ORDER_ID_PKY] PRIMARY KEY NONCLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[ORDER_H] TO  SCHEMA OWNER 
GO
/****** Object:  Index [_dta_index_ORDER_H_c_5_1019150676__K3]    Script Date: 3/14/2018 6:00:04 AM ******/
CREATE CLUSTERED INDEX [_dta_index_ORDER_H_c_5_1019150676__K3] ON [dbo].[ORDER_H]
(
	[EXP_IMP_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [_dta_index_ORDER_H_5_1019150676__K2_K3_K1_53_54_55]    Script Date: 3/14/2018 6:00:04 AM ******/
CREATE NONCLUSTERED INDEX [_dta_index_ORDER_H_5_1019150676__K2_K3_K1_53_54_55] ON [dbo].[ORDER_H]
(
	[ORDER_TYPE] ASC,
	[EXP_IMP_N] ASC,
	[ORDER_ID] ASC
)
INCLUDE ( 	[TRAX_ORDERID],
	[TRAX_UPDATE_D],
	[TRAX_UPDATE_USER]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
