USE [AMERICA]
GO
/****** Object:  Table [dbo].[BT_REASONS]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BT_REASONS](
	[Groupings] [int] NOT NULL,
	[Code] [char](50) NOT NULL,
	[Description] [char](250) NOT NULL,
 CONSTRAINT [PK_BT_REASONS] PRIMARY KEY CLUSTERED 
(
	[Groupings] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[BT_REASONS] TO  SCHEMA OWNER 
GO
