USE [AMERICA]
GO
/****** Object:  Table [dbo].[IMPORT_LOT]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_LOT](
	[IMPORT_N] [numeric](10, 0) NOT NULL,
	[LINE_N] [numeric](10, 0) NOT NULL,
	[LOT_N] [varchar](20) NOT NULL,
	[BATCH_N] [varchar](20) NOT NULL,
 CONSTRAINT [PK_IMPORT_LOT] PRIMARY KEY NONCLUSTERED 
(
	[IMPORT_N] ASC,
	[LINE_N] ASC,
	[LOT_N] ASC,
	[BATCH_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[IMPORT_LOT] TO  SCHEMA OWNER 
GO
