USE [AMERICA]
GO
/****** Object:  Table [dbo].[XML_PROD_CUST_MAP]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XML_PROD_CUST_MAP](
	[cust_id] [varchar](10) NOT NULL,
	[hub_id] [varchar](10) NOT NULL,
	[product_id] [varchar](20) NOT NULL,
	[product_name] [varchar](50) NULL,
 CONSTRAINT [PK_PROD_CUST_MAP] PRIMARY KEY NONCLUSTERED 
(
	[cust_id] ASC,
	[hub_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[XML_PROD_CUST_MAP] TO  SCHEMA OWNER 
GO
