USE [AMERICA]
GO
/****** Object:  Table [dbo].[SYS_COUNTER]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_COUNTER](
	[COUNTER_ID] [varchar](10) NOT NULL,
	[COUNTER_DES] [varchar](50) NOT NULL,
	[COUNTER_VAL] [numeric](10, 0) NOT NULL,
 CONSTRAINT [PK_SYS_COUNTER] PRIMARY KEY NONCLUSTERED 
(
	[COUNTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[SYS_COUNTER] TO  SCHEMA OWNER 
GO
