USE [AMERICA]
GO
/****** Object:  Table [dbo].[CURRENCY_MAST]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY_MAST](
	[CURRENCY_ID] [varchar](10) NOT NULL,
	[CURRENCY_NAME] [varchar](50) NOT NULL,
	[CURRENCY_EX_RATE] [numeric](10, 4) NULL,
 CONSTRAINT [PK_CURRENCY_MAST] PRIMARY KEY NONCLUSTERED 
(
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CURRENCY_MAST] TO  SCHEMA OWNER 
GO
