USE [AMERICA]
GO
/****** Object:  Table [dbo].[DOC_MAST]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_MAST](
	[DOC_ID] [varchar](20) NOT NULL,
	[DOC_NAME] [varchar](100) NOT NULL,
	[PARENT_ID] [varchar](20) NULL,
	[ORDER_ID] [varchar](10) NULL,
	[DOC_DEFAULT_TITLE] [varchar](200) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[DOC_LINK] [varchar](500) NULL,
	[DOC_SHORT_NAME] [varchar](5) NULL,
	[DOC_TEMPLATE] [varchar](200) NULL,
	[DOC_GROUP_NO] [varchar](20) NULL,
	[DOC_FULLSET_PRINT_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_DOC_MAST] PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[DOC_MAST] TO  SCHEMA OWNER 
GO
