USE [AMERICA]
GO
/****** Object:  Table [dbo].[US_PORT_OF_EXPORT]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[US_PORT_OF_EXPORT](
	[PORT_ID] [varchar](5) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STATE] [varchar](5) NULL,
	[EGS_VALUE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_US_PORT_OF_EXPORT] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC,
	[CITY] ASC,
	[EGS_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[US_PORT_OF_EXPORT] TO  SCHEMA OWNER 
GO
