USE [AMERICA]
GO
/****** Object:  Table [dbo].[cons]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cons](
	[a] [varchar](10) NULL,
	[b] [varchar](70) NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[cons] TO  SCHEMA OWNER 
GO
