USE [AMERICA]
GO
/****** Object:  Table [dbo].[CURRENCY_RATE_YM]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY_RATE_YM](
	[CURRENCY_ID] [varchar](10) NOT NULL,
	[RATE_YM] [varchar](6) NOT NULL,
	[CURRENCY_RATE] [numeric](11, 4) NOT NULL,
 CONSTRAINT [PK_CURRENCY_RATE_YM] PRIMARY KEY NONCLUSTERED 
(
	[CURRENCY_ID] ASC,
	[RATE_YM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CURRENCY_RATE_YM] TO  SCHEMA OWNER 
GO
