USE [AMERICA]
GO
/****** Object:  Table [dbo].[OTHER_CHG]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTHER_CHG](
	[REF_N] [numeric](10, 0) NOT NULL,
	[TRA_TYPE] [varchar](1) NOT NULL,
	[LINE_N] [numeric](10, 0) NOT NULL,
	[CHG_DES1] [varchar](40) NOT NULL,
	[VENDOR_ID] [varchar](10) NOT NULL,
	[CHGCODE_ID] [varchar](40) NOT NULL,
	[CHG_DES2] [varchar](40) NOT NULL,
	[CHG_DES3] [varchar](40) NOT NULL,
	[CHG_DES4] [varchar](40) NOT NULL,
	[LINE_GST_TYPE] [varchar](1) NOT NULL,
	[LINE_WT_M3_IND] [varchar](1) NOT NULL,
	[LINE_UNIT_Q] [numeric](11, 3) NOT NULL,
	[LINE_UNIT_CHG_A] [numeric](11, 2) NOT NULL,
	[LINE_CHG_UNIT] [varchar](10) NOT NULL,
	[LINE_EX_RATE] [numeric](11, 5) NOT NULL,
	[LINE_GST_P] [numeric](11, 3) NOT NULL,
	[LINE_GST_A] [numeric](11, 2) NOT NULL,
	[LINE_TOT_A] [numeric](11, 2) NOT NULL,
	[LINE_TOT_GST_A] [numeric](11, 2) NOT NULL,
 CONSTRAINT [PK_OTHER_CHG] PRIMARY KEY NONCLUSTERED 
(
	[REF_N] ASC,
	[TRA_TYPE] ASC,
	[LINE_N] ASC,
	[CHG_DES1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[OTHER_CHG] TO  SCHEMA OWNER 
GO
