USE [AMERICA]
GO
/****** Object:  Table [dbo].[PAYBYINV]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYBYINV](
	[USERNAME] [char](20) NULL,
	[INVNO] [char](30) NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[PAYBYINV] TO  SCHEMA OWNER 
GO
