USE [AMERICA]
GO
/****** Object:  Table [dbo].[SYS_CONTROL_VALUES]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CONTROL_VALUES](
	[GST_P] [numeric](11, 3) NULL,
	[INV_REPRN_COUNT] [numeric](18, 0) NULL,
	[INV_ROUND_A] [numeric](18, 0) NULL,
	[ID_LOCKUP_COUNT] [numeric](18, 0) NULL,
	[CUURENT_FY] [varchar](4) NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[SYS_CONTROL_VALUES] TO  SCHEMA OWNER 
GO
