USE [AMERICA]
GO
/****** Object:  Table [dbo].[CONTAINER_WAREHOUSE]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTAINER_WAREHOUSE](
	[row_id] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[export_ref_n] [numeric](9, 0) NOT NULL,
	[export_n] [numeric](9, 0) NOT NULL,
	[cont_n] [varchar](20) NOT NULL,
	[warehouse_id] [varchar](10) NULL,
 CONSTRAINT [PK_CONTAINER_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[export_ref_n] ASC,
	[export_n] ASC,
	[cont_n] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CONTAINER_WAREHOUSE] TO  SCHEMA OWNER 
GO
