USE [AMERICA]
GO
/****** Object:  Table [dbo].[DOMESTIC_SCAN_DOCS_LOG]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOMESTIC_SCAN_DOCS_LOG](
	[domestic_job_n] [decimal](18, 0) NOT NULL,
	[doc_type] [varchar](50) NOT NULL,
	[pdf_name] [varchar](250) NOT NULL,
	[active_ind] [varchar](2) NOT NULL,
 CONSTRAINT [PK_DOMESTIC_SCAN_DOCS_LOG] PRIMARY KEY CLUSTERED 
(
	[domestic_job_n] ASC,
	[doc_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[DOMESTIC_SCAN_DOCS_LOG] TO  SCHEMA OWNER 
GO
