USE [AMERICA]
GO
/****** Object:  Table [dbo].[BL_COMPARE_EMAIL_LOG]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BL_COMPARE_EMAIL_LOG](
	[EXPORT_N] [numeric](10, 0) NOT NULL,
	[ENTRYBY] [varchar](50) NOT NULL,
	[LOGID] [varchar](50) NOT NULL,
	[HTML_VALUE] [text] NOT NULL,
	[PDF_FILENAME] [text] NULL,
	[SENTDATE] [datetime] NOT NULL,
	[BLNO] [varchar](100) NOT NULL,
	[EmailTo] [varchar](255) NULL,
	[EmailCC] [varchar](255) NULL,
 CONSTRAINT [PK_BL_COMPARE_FILE] PRIMARY KEY CLUSTERED 
(
	[EXPORT_N] ASC,
	[ENTRYBY] ASC,
	[SENTDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[BL_COMPARE_EMAIL_LOG] TO  SCHEMA OWNER 
GO
