USE [AMERICA]
GO
/****** Object:  Table [dbo].[LC_D_DEPT]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LC_D_DEPT](
	[DEPT_ID] [varchar](10) NOT NULL,
	[DEPT_DESC] [varchar](50) NULL,
 CONSTRAINT [PK_LC_D_DEPT] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[LC_D_DEPT] TO  SCHEMA OWNER 
GO
