USE [AMERICA]
GO
/****** Object:  Table [dbo].[TRUCKER_ASSIGNMENT]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUCKER_ASSIGNMENT](
	[VENDOR_ID] [varchar](10) NOT NULL,
	[LAST_ASSIGNED_TRUCKER] [char](1) NULL,
	[TRUCKER_SEQUENCE] [char](1) NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[TRUCKER_ASSIGNMENT] TO  SCHEMA OWNER 
GO
