USE [AMERICA]
GO
/****** Object:  Table [dbo].[TEMP_CUST_ORD_NO_W_DATES]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_CUST_ORD_NO_W_DATES](
	[cust_ord_no] [varchar](50) NULL,
	[order_rec_d] [datetime] NULL,
	[booked_d] [datetime] NULL,
	[environment] [char](2) NULL,
	[cust_id] [char](4) NULL,
	[row_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_TEMP_CUST_ORD_NO_W_DATES] PRIMARY KEY CLUSTERED 
(
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[TEMP_CUST_ORD_NO_W_DATES] TO  SCHEMA OWNER 
GO
