USE [AMERICA]
GO
/****** Object:  Table [dbo].[CUSTOMER_LOG]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_LOG](
	[CUST_ID] [varchar](10) NOT NULL,
	[TERM_ID] [varchar](10) NOT NULL,
	[CREDIT_LIMIT_A] [numeric](11, 2) NOT NULL,
	[APPROVED_BY] [varchar](20) NOT NULL,
	[USER_ID] [varchar](10) NOT NULL,
	[ENTRY_D] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CUSTOMER_LOG] TO  SCHEMA OWNER 
GO
