USE [AMERICA]
GO
/****** Object:  Table [dbo].[database_info]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[database_info](
	[row_id] [numeric](10, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[environment_name] [varchar](50) NULL,
	[environment_code] [varchar](10) NULL,
	[database] [varchar](30) NULL,
	[ip] [varchar](20) NULL,
 CONSTRAINT [PK_database_info] PRIMARY KEY CLUSTERED 
(
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[database_info] TO  SCHEMA OWNER 
GO
