USE [AMERICA]
GO
/****** Object:  Table [dbo].[MANUFACTURER_DECLARATION_TURKEY]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUFACTURER_DECLARATION_TURKEY](
	[DOC_HEAD_NO] [varchar](30) NOT NULL,
	[SCC_REF_NO] [varchar](20) NULL,
	[SCC_REF_TYPE] [varchar](20) NULL,
	[DOC_TITLE] [varchar](200) NULL,
	[DOC_CREATION_DT] [datetime] NULL,
	[ATD] [datetime] NULL,
	[PROD_NAME] [varchar](50) NULL,
	[HS_CODE] [varchar](250) NULL,
	[NT_WEIGHT] [numeric](11, 3) NULL,
	[COUNTRY_ORIGIN] [varchar](100) NULL,
	[MANUFACTURER_NAME] [varchar](200) NULL,
	[CHEM_NAME] [varchar](50) NULL,
 CONSTRAINT [PK__MANUFACT__BA3FE9EE024AA901] PRIMARY KEY CLUSTERED 
(
	[DOC_HEAD_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[MANUFACTURER_DECLARATION_TURKEY] TO  SCHEMA OWNER 
GO
