USE [AMERICA]
GO
/****** Object:  Table [dbo].[CARRIER_EVENT]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRIER_EVENT](
	[EVENT_ID] [char](10) NOT NULL,
	[REF_N] [numeric](10, 0) NOT NULL,
	[ORDER_TYPE] [char](1) NULL,
	[ENTRY_TYPE] [varchar](1) NULL,
	[PORT_OF_CALL] [varchar](10) NULL,
	[CHANGE_FLAG] [varchar](1) NULL,
	[REVISED_DATE] [datetime] NULL,
	[REASON_FOR_DELAY] [varchar](500) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[MOD_BY] [varchar](20) NULL,
	[CREATE_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_CARRIER_EVENT] PRIMARY KEY CLUSTERED 
(
	[EVENT_ID] DESC,
	[REF_N] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CARRIER_EVENT] TO  SCHEMA OWNER 
GO
