USE [AMERICA]
GO
/****** Object:  Table [dbo].[VESSEL_MAST]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VESSEL_MAST](
	[VESSEL_NAME] [varchar](30) NOT NULL,
 CONSTRAINT [PK_VESSEL_MAST] PRIMARY KEY NONCLUSTERED 
(
	[VESSEL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[VESSEL_MAST] TO  SCHEMA OWNER 
GO
