USE [AMERICA]
GO
/****** Object:  Table [dbo].[EDI_SHIPPER]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDI_SHIPPER](
	[EDI_SENDER_ID] [varchar](50) NOT NULL,
	[EDI_RECEIVER_ID] [varchar](50) NOT NULL,
	[EDI_SENDER_NAME] [varchar](50) NOT NULL,
	[SHIPPER_NAME] [varchar](50) NOT NULL,
	[FMS_SHIPPER_ID] [varchar](50) NOT NULL,
	[START_D] [datetime] NOT NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[EDI_SHIPPER] TO  SCHEMA OWNER 
GO
