USE [AMERICA]
GO
/****** Object:  Table [dbo].[IMPORT_PERMIT]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_PERMIT](
	[IMPORT_N] [numeric](10, 0) NOT NULL,
	[LINE_N] [numeric](10, 0) NOT NULL,
	[JOB_TYPE] [varchar](1) NOT NULL,
	[PERMIT_N] [varchar](30) NULL,
	[HBL_N] [varchar](20) NULL,
	[QTY] [decimal](9, 3) NULL,
	[WT_UOM] [varchar](10) NULL,
	[export_n] [numeric](10, 0) NULL,
 CONSTRAINT [PK_IMP_PMT] PRIMARY KEY NONCLUSTERED 
(
	[IMPORT_N] ASC,
	[LINE_N] ASC,
	[JOB_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[IMPORT_PERMIT] TO  SCHEMA OWNER 
GO
