USE [AMERICA]
GO
/****** Object:  Table [dbo].[DOC_LAST_COMMENT]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_LAST_COMMENT](
	[doc_head_no] [varchar](30) NOT NULL,
	[last_comment] [varchar](5000) NULL,
	[line_no] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_DOC_LAST_COMMENT] PRIMARY KEY CLUSTERED 
(
	[doc_head_no] ASC,
	[line_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[DOC_LAST_COMMENT] TO  SCHEMA OWNER 
GO
