USE [AMERICA]
GO
/****** Object:  Table [dbo].[PARTY_ADDITIONAL_DETAILS]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTY_ADDITIONAL_DETAILS](
	[RowId] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ExportN] [numeric](9, 0) NOT NULL,
	[PartyDetailId] [numeric](18, 0) NOT NULL,
	[AdditionalDesc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RowId2] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[PARTY_ADDITIONAL_DETAILS] TO  SCHEMA OWNER 
GO
