USE [AMERICA]
GO
/****** Object:  Table [dbo].[PAYMENT_TERMS]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_TERMS](
	[PAYMENT_TERMS] [varchar](250) NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[PAYMENT_TERMS] TO  SCHEMA OWNER 
GO
