USE [AMERICA]
GO
/****** Object:  Table [dbo].[FINANCE_REPORT]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCE_REPORT](
	[ENV] [varchar](20) NULL,
	[EXPORT_N] [numeric](10, 0) NOT NULL,
	[REPORT_TYPE] [varchar](50) NULL,
	[Generated_Date] [datetime] NULL,
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[voucher_no] [numeric](10, 0) NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[FINANCE_REPORT] TO  SCHEMA OWNER 
GO
