USE [AMERICA]
GO
/****** Object:  Table [dbo].[CUST_BANK_MAST]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_BANK_MAST](
	[CUST_ID] [varchar](10) NOT NULL,
	[BANK_CODE] [varchar](40) NOT NULL,
	[BANK_NAME] [varchar](70) NOT NULL,
	[BANK_CTRY_ID] [varchar](10) NULL,
	[BANK_ACCT_ID] [varchar](15) NULL,
	[REMIT_INSTRUCTIONS] [varchar](600) NULL,
	[CREATE_D] [datetime] NULL,
	[USER_ID] [varchar](10) NULL,
	[BANK_ADD_LINE1] [varchar](255) NULL,
	[BANK_ADD_LINE2] [varchar](255) NULL,
	[BANK_ADD_LINE3] [varchar](255) NULL,
 CONSTRAINT [PK_CUST_BANK_MAST] PRIMARY KEY NONCLUSTERED 
(
	[CUST_ID] ASC,
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[CUST_BANK_MAST] TO  SCHEMA OWNER 
GO
