USE [AMERICA]
GO
/****** Object:  Table [dbo].[DOC_COLORDER_CLAUSE_DET]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_COLORDER_CLAUSE_DET](
	[doc_head_no] [varchar](30) NOT NULL,
	[line] [int] NOT NULL,
	[col_desc] [varchar](600) NULL,
	[check_ind] [varchar](2) NULL,
 CONSTRAINT [PK_DOC_COLORDER_CLAUSE_DET] PRIMARY KEY CLUSTERED 
(
	[doc_head_no] ASC,
	[line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[DOC_COLORDER_CLAUSE_DET] TO  SCHEMA OWNER 
GO
