USE [AMERICA]
GO
/****** Object:  Table [dbo].[STOCK_INFO]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK_INFO](
	[CR_AGENT_ID] [varchar](15) NOT NULL,
	[BATCH_NO] [numeric](5, 0) NOT NULL,
	[BL_NO] [varchar](15) NOT NULL,
	[BOOKED_TYPE] [char](1) NULL,
	[BOOKED_ID] [varchar](10) NULL,
	[RECEIVED_D] [datetime] NULL,
	[BOOKED_D] [datetime] NULL,
	[STATUS] [char](1) NULL,
	[CR_BL_ID] [varchar](3) NULL,
 CONSTRAINT [PK_STOCK_INFO] PRIMARY KEY NONCLUSTERED 
(
	[CR_AGENT_ID] ASC,
	[BATCH_NO] ASC,
	[BL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[STOCK_INFO] TO  SCHEMA OWNER 
GO
