USE [AMERICA]
GO
/****** Object:  Table [dbo].[AUTO_DOCS_CREATION]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTO_DOCS_CREATION](
	[ROW_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[JOB_NO] [numeric](10, 0) NULL,
	[DOC_TYPE] [varchar](25) NULL,
	[UPD_DT] [datetime] NULL
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[AUTO_DOCS_CREATION] TO  SCHEMA OWNER 
GO
