USE [AMERICA]
GO
/****** Object:  Table [dbo].[LC_D_ERRORTYPE]    Script Date: 3/14/2018 6:00:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LC_D_ERRORTYPE](
	[LC_D_TYPEID] [decimal](10, 0) NOT NULL,
	[LC_D_TYPENAME] [varchar](200) NULL,
	[NC_CATE_CODE] [varchar](10) NULL,
	[NC_TYPE_CODE] [varchar](10) NULL,
 CONSTRAINT [PK_LC_D_ERRORTYPE] PRIMARY KEY CLUSTERED 
(
	[LC_D_TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[LC_D_ERRORTYPE] TO  SCHEMA OWNER 
GO
