USE [AMERICA]
GO
/****** Object:  Table [dbo].[COST_CENTRE_MAST]    Script Date: 3/14/2018 6:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COST_CENTRE_MAST](
	[COST_CENTRE_C] [varchar](10) NOT NULL,
	[COST_CENTRE_DES] [varchar](40) NOT NULL,
	[yy_cost_centre_c] [varchar](12) NULL,
	[parentacctid] [int] NOT NULL,
 CONSTRAINT [SYS_C0051878] PRIMARY KEY NONCLUSTERED 
(
	[COST_CENTRE_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[COST_CENTRE_MAST] TO  SCHEMA OWNER 
GO
